In [2]:
import pandas as pd
import numpy as np

In [3]:
stops_df = pd.read_csv('./output/stops.csv')

In [4]:
stops_df

,STOP_ID,STOP_NAME,TOWN,TOWN_ID,TRACT_ID,income,income_level,route_ids,ridership,revenues,revenue_annual
0,3077,Gallivan Blvd @ opp Marsh St,BOSTON,35,100700,87063,2,201,1138.8,1765.7,1765.7
1,841,Lagrange St @ Virgil Rd,BOSTON,35,130200,109034,2,"37,38","795.6,26.0","1233.5,40.3",1273.8
2,446,Norfolk St @ Nelson St,BOSTON,35,100300,51736,2,26,4628.0,7175.5,7175.5
3,847,Lagrange St opp Virgil St,BOSTON,35,130200,109034,2,"37,38","0.0,0.0","0.0,0.0",0.0
4,3079,Adams St @ Minot St,BOSTON,35,100800,88425,2,"201,19","7581.6,52.0","11755.0,80.6",11835.6
...,...,...,...,...,...,...,...,...,...,...,...
7805,9097,Grove St @ Lebanon St,MELROSE,178,336300,120436,2,131,5824.0,9029.9,9029.9
7806,5911,Grove St @ Lebanon St,MELROSE,178,336300,120436,2,131,52.0,80.6,80.6
7807,5975,Wyoming Ave opp Cleveland St,MELROSE,178,336402,79969,2,132,8538.4,13238.5,13238.5
7808,15976,Wyoming Ave @ Cleveland St,MELROSE,178,336402,79969,2,132,145.6,225.7,225.7
7809,5912,Grove St @ Faxon St,MELROSE,178,336300,120436,2,131,130.0,201.6,201.6

In [27]:
stops_df.route_ids.unique()

array(['201', '37,38', '26', '201,19', '19,202', '35,37,36,38,27', '230',
       '238,240', '217,211,245', nan, '245', '40,50', '211,210,212',
       '221', '217,215,245', '217,211,212,210,245', '215,245', '33,32',
       '216,214', '35,70A,34E,34', '40', '50', '33,24', '220', '217,211',
       '35,70A,34E,52', '245,240', '33,40', '33', '240', '217', '217,245',
       '202,211,210,212', '217,211,212,202,210,000,000', '215',
       '40,34E,70A,34', '202', '40,70A,34E,34,50', '201,202,210', '52',
       '21', '27,14,30', '211', '38', '24,217,215,21,27,240', '28,31,29',
       '14', '59', '202,215', '201,202', '19', '238', '34E,70A', '225',
       '28,29', '15,22,24,26,217,215,21,18,45,23,27,240', '31,21', '70A',
       '16', '18', '32,37,36,21,38,34,39', '15,17', '35,38', '42',
       '16,32,36,34', '32,36,38,16,34', '23', '19,16', '23,19', '51',
       '22,32,36,29,34', '28,66,22,10,45,23,14', '28,14,45',
       '35,37,36,51,27,14,30', '37,38,52', '35,27,37,36', '222', '236',
       '238,230', '60,65', '86,51', '9', '43', '65', '11', '19,22,8,47',
       '749,170,751', '47,8,10', '28,22,57,9,19,708,747,8,47',
       '22,19,708,747,8,47', '9,7', '749,8,751,10', '47',
       '57,19,747,8,47', '10', '24', '220,222,221', '34E,70A,34',
       '220,222,214,216,221', '15,215,18,19,202,210,17,201',
       '15,215,18,202,19,210,201', '15,19,17', '37',
       '31,32,36,21,38,33,16,34,42', '39', '31,32,36,21,16,34',
       '28,22,45,29,14', '40,35,32,37,70A,36,21,38,51,34E,16,34,39,50,30',
       '31,32,36,21,38,16,34', '32,31,36,21,16,34', '66,10,16,45,23',
       '28,22,32,36,45,29,34,14', '32,36,38,16,45,34', '15,41',
       '35,32,37,41,36,21,38,34,39', '60', '45', '44', '44,22,29', '16,8',
       '35,32,37,36,21,38,34,39', '28,66,10,19,23,14', '41', '41,8',
       '39,55', '701,1', '57,747,47', '66', '57,65,19,8,60',
       '170,553,554', '503,553,502,504', '22,9,65,19,8,60', '558,59',
       '558', '747', '64', '1', '170,553,505,554', '556', '553',
       '93,4,92', '713,712', '86,34E,70A,70', '501,64,503,66',
       '556,553,554,558', '57,501,503', '501,57,503,66', '556,59',
       '558,505', '92', '230,236,210', '32', '236,238,230',
       '236,215,238,230', '215,238', '225,221', '236,238', '72', '91',
       '86', '85', '34E,70A,70', '93', '87,80,88', '73', '120', '83',
       '114,117,116', '121', '554,70A,34E,170,505', '712', '713', '505',
       '87', '34E,170,70A,554', '83,96,77', '96,77',
       '74,725,71,75,72,78,73', '91,85', '74,725,75,72,78', '91,747',
       '75,725,72', '236,215,225,238,230',
       '40,35,37,70A,36,51,34E,34,50,30', '201,210', '202,210', '22,45',
       '15,18,215', '18,215', '238,210', '210,238,230', '220,222',
       '220,221', '236,215,225,238,230,000', '217,215',
       '236,217,211,225,245', '215,238,230', '40,50,32', '33,40,50,32',
       '33,40,50', '28,22,45,29', '201,19,202,210', '10,701,708,8,47',
       '5,10', '5,16,10', '19,8,47', '9,43,19,8,47', '10,8,751,749,170',
       '708', '9,5,16,10', '9,5,10', '9,10,701,708,8,171',
       '35,32,37,36,21,38,19,34,39', '39,747', '9,10,7,5,16', '9,7,5,10',
       '7', '708,8,47', '35,32,37,36,21,38,747,34,39', '9,10,7,5,11',
       '15,22,43,708,45,747,8,44,47', '28,22,19,708,29,8,23,47',
       '28,15,22,57,9,19,708,45,29,747,44,23,8,47', '28,22,57,9,19,8,47',
       '35', '217,211,212,202,210,000', '216', '211,212', '27,30',
       '24,33,27,245,30', '40,35,37,36,51,34,27,14,30', '201,202,217,210',
       '215,217,211', '27,24', '28,31,24,33,29,27,245,30',
       '27,217,240,24', '21,26', '36', '35,27,36', '27,36', '33,14,32',
       '23,22,45,26', '40,35,37,70A,36,51,34E,27,34,50,14,30', '36,52',
       '27,36,52', '27,240,24', '217,211,212',
       '217,211,215,212,202,000,000', '71', '64,68', '4', '64,83,91',
       '39,170,55', '742,743,746,741', '501,66,65,503', '553,554',
       '66,57,57A,501,503', '66,86', '69', '554,558,556,170,553,000',
       '68', '66,19', '60,66,65', '1,47', '8,10', '10,8,170,1,47', '1,10',
       '171,9,1,47', '8,47', '10,8,171,170,1,47', '749,751',
       '28,15,22,45,29,44,23', '66,35,38', '9,708', '22,29', '19,708,47',
       '66,35,32,37,36,21,38,34,39', '9,10,708,8,171', '747,47',
       '66,57,57A,501,51,503', '66,57,57A,501,51,65,503',
       '22,57,9,57A,65,19,8,60', '743,741', '57,57A', '64,701,83,91',
       '71,70,59', '64,70A,70,34E', '111,93,92', '29', '5,16',
       '44,14,41,45', '60,51', '28,15,66,19,45,44,23',
       '28,15,66,41,19,45,44,23,14', '14,41',
       '15,10,19,749,751,8,171,170,1,47', '28,15,66,41,19,45,44,23,14,42',
       '45,14,41', '16,8,10', '9,10,18,16,5,708,17,171', '171,9,8,10',
       '10,19,8,171,170,1,47', '28,15,22,66,19,45,44,23', '44,32,36,34',
       '32,36,38,34,44', '28,66,22,10,19,23,14', '28,66,19,23,14',
       '15,16,17', '28,23,10', '15', '16,41,17', '59,52', '5,16,41,8',
       '16,17', '22,32,36,38,29,34', '39,32,38', '39,38', '35,41,38',
       '28,23,19,14', '15,41,45', '708,8,10', '16,5,11,10', '352,354',
       '57,502,504,52', '66,502,57,504,52', '326,4,93,92,325', '9,39',
       '9,10,7,5,11,16', '22,9,19,708,747,8,47', '9,19',
       '28,35,22,32,57,9,37,36,21,38,19,8,34,39,47', '22,9,19,708,8,47',
       '57,19,8,47', '22,9,65,19,8,60,47', '9,11', '170,1,701', '701,47',
       '9,22,8,47', '57,65,19,747,8,60,47', '22,9,65,19,708,747,8,60,47',
       '170,1', '501,64,503', '43,55', '22,41,29,44,14',
       '28,66,10,19,44,23,14', '554,504,501,556,558,000,000', '749',
       '449,459,7,448', '428,93,92,426,111', '747,85', '171,741',
       '449,459,117,448', '554,556,170,553,505',
       '502,55,9,504,10,39,553,503', '749,11,751', '449,459,448,4',
       '55,9,504,39,553', '55,9,10,39,170', '459', '449,459,448',
       '501,57,503', '7,4', '553,504', '553,504,55', '9,55', '170,10',
       '55', '57,65,19,8,60,47', '9,11,47', '742', '742,4', '501,65,503',
       '501,66,503', '65,51,86', '39,170', '170,55', '93,92', '120,121',
       '91,83', '120,114,117,121,116', '64,68,747,85',
       '70A,34E,701,64,1,70', '450,428,117,424,434,93,92,426,111',
       '34E,70', '70A,34E,64,70,47', '34E,70A,70,64', '64,68,85',
       '70A,34E,701,64,70,47', '741', '70A,34E,701,64,1,70,47', '69,1,68',
       '70', '66,74,86,725,77,75,96,72,78', '87,69,80,88', '86,34E,70',
       '556,553,554', '448,7,743,4,751,449,459,741', '751', '11,751',
       '448,7,11,4,449,459', '57,66,57A', '57,51,57A,66', '43,749,55',
       '7,11', '554,448,504,501,556,7,449,558,553,459,505',
       '502,554,57,504,52,556,558,553', '170', '86,91', '86,91,85,747,87',
       '86,91,87', '120,112,121', '86,91,747', '170,554', '87,85',
       '725,72', '80,88', '554', '86,91,88,90,80', '112', '73,71',
       '74,71,77,75,96,72,78,73', '74,86,71,77,75,96,72,78,73', '83,68',
       '554,558,70A,34E,556,170,553,70', '554,70A,34E,556,558,553,505,70',
       '171,743', '69,72', '34E,170,70A,70', '170,553,70,556', '170,70',
       '170,553,70', '121,114,117,116', '74,75,78', '90,88',
       '101,89,90,95,92', '86,91,80', '90', '104,109,105', '34E,170,70A',
       '90,101,89,92', '95,92', '80', '90,101,89', '74,78', '74',
       '101,89', '74,725,75,72', '111', '95', '117,114,112,111,116',
       '117,114,116,112', '83,77', '78', '96,87', '114,111,112',
       '450,120,448,449,459', '459,450', '449,459,448,450', '73,554',
       '120,712,713', '90,86,91,80', '83,87',
       '86,101,91,89,109,90,95,747,105,92,104,93', '86,91,93,747,92',
       '459,455', '456,450,465', '435,434', '136,137', '451', '436',
       '136', '450,465,451,455,456,000', '465', '62', '352,350',
       '436,434', '352,354,350', '456,450', '449,448,441,442', '134',
       '351', '137', '435', '435,465', '435,436,465', '450', '455', '434',
       '451,459,455', '131', '450,455,424,434,459', '76,62', '132',
       '136,131,137,106', '426,428', '429,430', '350',
       '450,455,424,456,434,000,000,000,000', '439', '426',
       '450,455,424,434,442,000,000,000,000', '430',
       '439,442,449,448,441', '354', '435,436,434', '424,456', '354,350',
       '424,450', '448,441', '448,441,442', '429', '117,116', '89,87,88',
       '79,77,350', '84,76,62,67', '97,112,134,100,90,108,99,106,110',
       '119', '97,112,99,106,110', '111,112', '101,80', '109', '105',
       '411,119', '101,325,95', '100', '67', '411', '104', '62,78', '76',
       '326,95', '99,106', '77,79', '101,325,95,100', '108', '97',
       '439,411,442,449,448,000', '439,441,442', '428',
       '450,455,424,434,442,000,000,000', '325,132', '99,106,105',
       '97,112,109,104,110', '110', '112,110', '134,90,108,100',
       '94,96,80', '84,76,62,78', '104,105', '97,108',
       '101,326,134,94,95', '101,325', '62,78,77,79', '325,100',
       '351,350', '424', '134,108,100', '104,99,106,105', '101',
       '435,436', '429,435,436', '104,97,109', '117,116,119',
       '101,137,411,99,108,105,104,131,136,430,106',
       '137,411,131,108,136,000,000', '429,411,119',
       '101,97,137,99,131,136', '411,108,105,104,430,000',
       '435,429,439,455,456,000,000,000,000,000,000,000',
       '435,455,442,426,436,000,000', '455,442,426,436,459,000',
       '455,456,442,426,459,000', '428,430', '424,450,434', '134,108',
       '117,110', '411,117,110', '108,100', '101,108', '101,99,108,132',
       '136,137,131', '411,108,430,106', '101,137,99,131,105,104,136',
       '134,94,326', '99,132', '435,429,455,456,442,000,000,000,000',
       '435,429,455,456,426,000,000',
       '429,439,455,456,459,000,000,000,000,000,000',
       '429,455,442,426,436,000,000', '429,455,456,442,426,000,000',
       '450,117,455,411,426,000', '450,455,424,434,426,000',
       '450,117,455,424,449,000,000,000', '111,110', '104,109',
       '104,101,99,105', '99', '134,326', '429,428,430',
       '426,455,441,442', '429,426', '411,116,119', '84,76', '101,96',
       '426,455,450', '429,428,411,119,426', '326', '456,436,459,455',
       '101,96,80', '450,455,424,449,426,000', '84,62,78', '94,80',
       '101,94,80', '96', '429,428,109,411,119,000',
       '429,428,109,411,119,000,000', '411,430,108', '106',
       '429,411,426,428', '429,428,411,108,426', '449,442',
       '450,117,439,455,411,000,000,000,000,000,000,000,000', '116,119',
       '411,116', '411,430', '456', '436,459,455', '90,89,88', '77',
       '90,92', '84,78', '95,80,350', '76,78', '116', '84,76,78',
       '79,77,67', '101,96,95', '411,428,108', '411,430,428',
       '429,426,428', '411,428', '114,112', '114,111,116', '101,94,96,95',
       '95,80', '117,111,116', '89', '114', '89,96,88,90,94,87',
       '411,455,116,424', '424,455,116', '99,106,97,105',
       '439,455,411,424,442,000,000', '439,411,442,449,448,000,000',
       '134,94,96', '101,326,96,134,94,95', '67,350,84,79,76,62,351',
       '89,94,96', '101,354,95', '101,326,354,96,134,94,95',
       '134,94,326,95', '442', '89,80', '99,97', '67,84,76,62,351',
       '426,430,428', '101,94,326,95', '94,326,95', '134,354', '94,96',
       '94,95', '101,94,95', '131,106'], dtype=object)

In [39]:
stops_df.loc[(stops_df['route_ids'] == '66,57,57A,501,503')]

,STOP_ID,STOP_NAME,TOWN,TOWN_ID,TRACT_ID,income,income_level,route_ids,ridership,revenues,revenue_annual
2655,916,Washington St @ Lake St,BOSTON,35,202,83000,2,"66,57,57A,501,503","1326.0,106303.6,0.0,182.0,78.0","2055.9,164819.9,0.0,370.9,158.9",167405.6
2656,975,Washington St @ Brock St,BOSTON,35,201,88424,2,"66,57,57A,501,503","52.0,19760.0,0.0,21918.0,8632.0","80.6,30637.2,0.0,44661.3,17589.0",92968.1
2789,974,Washington St @ Foster St,BOSTON,35,202,83000,2,"66,57,57A,501,503","26.0,16265.6,0.0,19968.0,9256.0","40.3,25219.2,0.0,40687.9,18860.5",84807.9
2790,917,Washington St @ Foster St,BOSTON,35,202,83000,2,"66,57,57A,501,503","1066.0,58234.8,0.0,546.0,104.0","1652.8,90290.9,0.0,1112.6,211.9",93268.2
2793,918,Washington St @ Chestnut Hill Ave,BOSTON,35,402,77885,2,"66,57,57A,501,503","338.0,70283.2,0.0,364.0,26.0","524.1,108971.5,0.0,741.7,53.0",110290.3
2794,973,Washington St @ Market St,BOSTON,35,202,83000,2,"66,57,57A,501,503","156.0,39312.0,0.0,11830.0,3692.0","241.9,60951.8,0.0,24105.4,7523.0",92822.1
3612,977,Washington St @ Montfern Ave,BOSTON,35,201,88424,2,"66,57,57A,501,503","26.0,5382.0,0.0,22776.0,8008.0","40.3,8344.6,0.0,46409.6,16317.5",71112.0
3617,914,Washington St opp Montfern Ave,BOSTON,35,201,88424,2,"66,57,57A,501,503","0.0,0.0,0.0,0.0,0.0","0.0,0.0,0.0,0.0,0.0",0.0
3630,913,Washington St @ Breck Ave,BOSTON,35,302,100883,2,"66,57,57A,501,503","4706.0,132470.0,0.0,598.0,0.0","7296.5,205389.9,0.0,1218.5,0.0",213904.9
3631,9780,Washington St @ Oak Sq,BOSTON,35,302,100883,2,"66,57,57A,501,503","26.0,12651.6,0.0,18564.0,5876.0","40.3,19615.8,0.0,37827.0,11973.3",69456.4
3632,912,Tremont St @ Washington St,BOSTON,35,301,106897,2,"66,57,57A,501,503","1014.0,26343.2,0.0,1274.0,78.0","1572.2,40844.2,0.0,2596.0,158.9",45171.3
3634,979,Tremont St @ Washington St,BOSTON,35,301,106897,2,"66,57,57A,501,503","0.0,8824.4,0.0,21528.0,7306.0","0.0,13681.9,0.0,43866.6,14887.1",72435.6

In [35]:
stops_df.dtypes

STOP_ID             int64
STOP_NAME          object
TOWN               object
TOWN_ID             int64
TRACT_ID            int64
income              int64
income_level        int64
route_ids          object
ridership          object
revenues           object
revenue_annual    float64
dtype: object

In [5]:
test = "Here is a string without a comma"
test.split(',')

['Here is a string without a comma']

In [7]:
seasonal_ridership = pd.read_csv('./data/ridership_by_season.csv')

In [8]:
seasonal_ridership

       ObjectId\tmode\tseason\troute_id\troute_name\troute_variant\tstop_sequence\tdirection_id\tday_type_id\tday_type_name\ttime_period_id\ttime_period_name\tstop_name\tstop_id\taverage_ons\taverage_offs\taverage_load\tnum_trips
0       1\t3\tFall 2019\t1\t1\t1-_-0\t1\t0\tday_type_0...
1       2\t3\tFall 2019\t1\t1\t1-_-0\t2\t0\tday_type_0...
2       3\t3\tFall 2019\t1\t1\t1-_-0\t3\t0\tday_type_0...
3       4\t3\tFall 2019\t1\t1\t1-_-0\t4\t0\tday_type_0...
4       5\t3\tFall 2019\t1\t1\t1-_-0\t5\t0\tday_type_0...
...                                                   ...
529873  529874\t3\tFall 2016\t99\t99\t99-8-1\t38\t1\td...
529874  529875\t3\tFall 2016\t99\t99\t99-8-1\t39\t1\td...
529875  529876\t3\tFall 2016\t99\t99\t99-8-1\t40\t1\td...
529876  529877\t3\tFall 2016\t99\t99\t99-8-1\t41\t1\td...
529877  529878\t3\tFall 2016\t99\t99\t99-8-1\t42\t1\td...

[529878 rows x 1 columns]

In [9]:
ridership_df = pd.read_csv('./data/Line,_and_Stop.csv', low_memory=False)

In [10]:
ridership_df

,FID,season,route_id,route_variant,direction_id,trip_start_time,day_type_id,day_type_name,stop_name,stop_id,stop_sequence,boardings,alightings,load_,sample_size
0,1,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,WASHINGTON ST OPP RUGGLES ST,1,2,0.4,0.3,7.8,13
1,2,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,ALBANY ST OPP RANDALL ST,10003,5,0.1,0.0,9.4,13
2,3,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ SIDNEY ST,101,19,0.0,0.4,10.4,13
3,4,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ PROSPECT,102,20,0.6,2.5,8.5,13
4,5,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ BIGELOW S,104,21,0.1,0.2,8.4,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3451727,3451728,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,HIGHLAND AVE @ PINE ST,5062,9,0.0,0.0,0.0,5
3451728,3451729,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,CLIFTON ST @ DEXTER ST,5066,15,0.0,0.0,0.0,5
3451729,3451730,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,CLIFTON ST @ CEDAR ST,5067,16,0.0,0.0,0.0,5
3451730,3451731,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,SUMMER ST @ CLIFTON ST,5068,17,0.0,0.0,0.0,5
3451731,3451732,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,SUMMER ST @ CHESTNUT ST,5069,18,0.0,0.0,0.0,5

In [11]:
ridership_df.season.unique()

array(['Fall 2016', 'Fall 2017', 'Fall 2018', 'Fall 2019'], dtype=object)

In [12]:
ridership_df.loc[(ridership_df['stop_id'] == 1) & (ridership_df['season'] == 'Fall 2019')]

,FID,season,route_id,route_variant,direction_id,trip_start_time,day_type_id,day_type_name,stop_name,stop_id,stop_sequence,boardings,alightings,load_,sample_size
2588482,2588483,Fall 2019,1,1-_-0,0,04:55:00,day_type_02,saturday,WASHINGTON ST OPP RUGGLES ST,1,2,0.0,0.0,3.8,12
2588507,2588508,Fall 2019,1,1-_-0,0,05:06:00,day_type_01,weekday,WASHINGTON ST OPP RUGGLES ST,1,2,0.9,0.0,15.9,71
2588579,2588580,Fall 2019,1,1-_-0,0,04:37:00,day_type_01,weekday,WASHINGTON ST OPP RUGGLES ST,1,2,0.3,0.0,11.7,65
2588610,2588611,Fall 2019,1,1-_-0,0,04:40:00,day_type_02,saturday,WASHINGTON ST OPP RUGGLES ST,1,2,0.2,0.1,4.9,14
2588677,2588678,Fall 2019,1,1-_-0,0,04:52:00,day_type_01,weekday,WASHINGTON ST OPP RUGGLES ST,1,2,0.2,0.0,3.3,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360818,3360819,Fall 2019,8,8-9-1,1,21:25:00,day_type_01,weekday,WASHINGTON ST OPP RUGGLES ST,1,28,0.0,0.0,4.0,51
3360882,3360883,Fall 2019,8,8-9-1,1,22:00:00,day_type_02,saturday,WASHINGTON ST OPP RUGGLES ST,1,28,0.0,0.0,6.1,9
3360971,3360972,Fall 2019,8,8-9-1,1,22:00:00,day_type_01,weekday,WASHINGTON ST OPP RUGGLES ST,1,28,0.0,0.0,6.3,63
3361002,3361003,Fall 2019,8,8-9-1,1,22:45:00,day_type_02,saturday,WASHINGTON ST OPP RUGGLES ST,1,28,0.0,0.0,2.1,9
3361118,3361119,Fall 2019,8,8-9-1,1,22:35:00,day_type_01,weekday,WASHINGTON ST OPP RUGGLES ST,1,28,0.0,0.0,3.6,67

In [40]:
ridership_df.loc[(ridership_df['route_id'] == '57A')]

Empty DataFrame
Columns: [FID, season, route_id, route_variant, direction_id, trip_start_time, day_type_id, day_type_name, stop_name, stop_id, stop_sequence, boardings, alightings, load_, sample_size]
Index: []

In [21]:
ridership_df.route_id.unique()

array(['1', '10', '100', '101', '104', '105', '106', '108', '109', '11',
       '110', '111', '112', '114', '116', '117', '119', '120', '121',
       '131', '132', '134', '136', '137', '14', '15', '16', '17', '170',
       '171', '18', '19', '201', '202', '21', '210', '211', '212', '214',
       '215', '216', '217', '22', '220', '221', '222', '225', '23', '230',
       '236', '238', '24', '240', '245', '26', '27', '28', '29', '30',
       '31', '32', '325', '326', '33', '34', '34E', '35', '350', '351',
       '352', '354', '36', '37', '38', '39', '4', '40', '41', '411', '42',
       '424', '426', '428', '429', '43', '430', '434', '435', '436',
       '439', '44', '441', '442', '448', '449', '45', '450', '451', '455',
       '456', '459', '465', '47', '5', '50', '501', '502', '503', '504',
       '505', '51', '52', '55', '553', '554', '556', '558', '57', '57A',
       '59', '60', '62', '64', '65', '66', '67', '68', '69', '7', '70',
       '701', '708', '70A', '71', '72', '73', '74', '741', '742', '746',
       '747', '749', '75', '751', '76', '77', '78', '79', '8', '80', '83',
       '84', '85', '86', '87', '88', '89', '9', '90', '91', '92', '93',
       '94', '95', '96', '97', '99', '712', '713', '743', '725'],
      dtype=object)

In [22]:
# load only rows for Fall 2019
ridership_df = ridership_df[ridership_df.season == 'Fall 2019']
ridership_df

,FID,season,route_id,route_variant,direction_id,trip_start_time,day_type_id,day_type_name,stop_name,stop_id,stop_sequence,boardings,alightings,load_,sample_size
2588455,2588456,Fall 2019,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ TROWBRIDG,108,23,0.0,1.1,4.6,65
2588459,2588460,Fall 2019,1,1-_-0,0,04:52:00,day_type_01,weekday,MASSACHUSETTS AVE @ TROWBRIDG,108,23,0.4,0.0,3.4,64
2588462,2588463,Fall 2019,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ BOW ST,109,24,0.0,0.4,4.2,65
2588466,2588467,Fall 2019,1,1-_-0,0,04:52:00,day_type_01,weekday,MASSACHUSETTS AVE @ BOW ST,109,24,0.0,0.0,3.4,64
2588467,2588468,Fall 2019,1,1-_-0,0,04:52:00,day_type_01,weekday,MASSACHUSETTS AVE @ HOLYOKE S,110,25,0.0,3.0,0.4,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3451727,3451728,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,HIGHLAND AVE @ PINE ST,5062,9,0.0,0.0,0.0,5
3451728,3451729,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,CLIFTON ST @ DEXTER ST,5066,15,0.0,0.0,0.0,5
3451729,3451730,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,CLIFTON ST @ CEDAR ST,5067,16,0.0,0.0,0.0,5
3451730,3451731,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,SUMMER ST @ CLIFTON ST,5068,17,0.0,0.0,0.0,5
3451731,3451732,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,SUMMER ST @ CHESTNUT ST,5069,18,0.0,0.0,0.0,5

In [55]:
print(ridership_df.route_id.unique())

<StringArray>
[  '1',  '10', '100', '101', '104', '105', '106', '108', '109',  '11',
 ...
   '9',  '90',  '91',  '92',  '93',  '94',  '95',  '96',  '97',  '99']
Length: 165, dtype: string

In [41]:
ridership_df.dtypes

FID                  int64
season              object
route_id            object
route_variant       object
direction_id         int64
trip_start_time     object
day_type_id         object
day_type_name       object
stop_name           object
stop_id              int64
stop_sequence        int64
boardings          float64
alightings         float64
load_              float64
sample_size          int64
dtype: object

In [42]:
ridership_df['route_id'] = ridership_df['route_id'].astype("string")

<ipython-input-42-c0b8248ffbb5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ridership_df['route_id'] = ridership_df['route_id'].astype("string")

In [52]:
ridership_df[ridership_df.route_id == '1']

,FID,season,route_id,route_variant,direction_id,trip_start_time,day_type_id,day_type_name,stop_name,stop_id,stop_sequence,boardings,alightings,load_,sample_size
2588455,2588456,Fall 2019,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ TROWBRIDG,108,23,0.0,1.1,4.6,65
2588459,2588460,Fall 2019,1,1-_-0,0,04:52:00,day_type_01,weekday,MASSACHUSETTS AVE @ TROWBRIDG,108,23,0.4,0.0,3.4,64
2588462,2588463,Fall 2019,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ BOW ST,109,24,0.0,0.4,4.2,65
2588466,2588467,Fall 2019,1,1-_-0,0,04:52:00,day_type_01,weekday,MASSACHUSETTS AVE @ BOW ST,109,24,0.0,0.0,3.4,64
2588467,2588468,Fall 2019,1,1-_-0,0,04:52:00,day_type_01,weekday,MASSACHUSETTS AVE @ HOLYOKE S,110,25,0.0,3.0,0.4,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2605115,2605116,Fall 2019,1,1-_-1,1,24:52:00,day_type_01,weekday,84 MASSACHUSETTS AVE,75,13,0.6,0.1,3.8,59
2605116,2605117,Fall 2019,1,1-_-1,1,24:52:00,day_type_01,weekday,MASSACHUSETTS AVE @ MARLBOROU,77,14,0.1,0.5,3.4,59
2605117,2605118,Fall 2019,1,1-_-1,1,24:52:00,day_type_01,weekday,MASSACHUSETTS AVE @ NEWBURY S,79,15,0.6,0.5,3.5,59
2605118,2605119,Fall 2019,1,1-_-1,1,24:52:00,day_type_01,weekday,MASSACHUSETTS AVE OPP CHRISTI,80,16,0.2,0.3,3.5,59
2605119,2605120,Fall 2019,1,1-_-1,1,24:52:00,day_type_01,weekday,MASSACHUSETTS AVE @ HUNTINGTO,82,17,0.3,0.2,3.6,59

In [53]:
ridership_df[ridership_df.route_id == '57A']

Empty DataFrame
Columns: [FID, season, route_id, route_variant, direction_id, trip_start_time, day_type_id, day_type_name, stop_name, stop_id, stop_sequence, boardings, alightings, load_, sample_size]
Index: []

In [43]:
ridership_df.dtypes

FID                  int64
season              object
route_id            string
route_variant       object
direction_id         int64
trip_start_time     object
day_type_id         object
day_type_name       object
stop_name           object
stop_id              int64
stop_sequence        int64
boardings          float64
alightings         float64
load_              float64
sample_size          int64
dtype: object

In [13]:
routes_with_fare = pd.read_csv('./output/routes_with_fare.csv')

In [14]:
routes_with_fare

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare
0,Red,1,NaN,Red Line,Rapid Transit,1,https://www.mbta.com/schedules/Red,DA291C,FFFFFF,10010,Rapid Transit,line-Red,NaN,NaN,NaN
1,Mattapan,1,NaN,Mattapan Trolley,Rapid Transit,0,https://www.mbta.com/schedules/Mattapan,DA291C,FFFFFF,10011,Rapid Transit,line-Mattapan,NaN,NaN,NaN
2,Orange,1,NaN,Orange Line,Rapid Transit,1,https://www.mbta.com/schedules/Orange,ED8B00,FFFFFF,10020,Rapid Transit,line-Orange,NaN,NaN,NaN
3,Green-B,1,B,Green Line B,Rapid Transit,0,https://www.mbta.com/schedules/Green-B,00843D,FFFFFF,10032,Rapid Transit,line-Green,NaN,NaN,NaN
4,Green-C,1,C,Green Line C,Rapid Transit,0,https://www.mbta.com/schedules/Green-C,00843D,FFFFFF,10033,Rapid Transit,line-Green,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,Shuttle-KenmoreReservoir,1,Green Line D Shuttle,Reservoir - Kenmore,Rail Replacement Bus,3,NaN,FFC72C,0,62010,Free,line-Green,1.0,0.0,0.0
237,Shuttle-NewtonHighlandsKenmore,1,Green Line D Shuttle,Newton Highlands - Kenmore,Rail Replacement Bus,3,NaN,FFC72C,0,62090,Free,line-Green,1.0,0.0,0.0
238,Shuttle-NewtonHighlandsRiverside,1,Green Line D Shuttle,Riverside - Newton Highlands,Rail Replacement Bus,3,NaN,FFC72C,0,62100,Free,line-Green,1.0,0.0,0.0
239,Shuttle-OakGroveWellington,1,Orange Line Shuttle,Oak Grove - Wellington,Rail Replacement Bus,3,NaN,FFC72C,0,62300,Free,line-Orange,1.0,0.0,0.0
240,Shuttle-ReservoirRiverside,1,Green Line D Shuttle,Riverside - Reservoir,Rail Replacement Bus,3,NaN,FFC72C,0,62400,Free,line-Green,1.0,0.0,0.0

In [15]:
routes_with_fare.dropna()

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare
142,195,1,195,Lemuel Shattuck Hospital - Park Street & Tremo...,Supplemental Bus,3,https://www.mbta.com/schedules/195,FFC72C,0,51950,Local Bus,line-195,1.0,1.7,0.85

In [16]:
rwf = routes_with_fare[routes_with_fare['fare'].notna()]

In [17]:
rwf

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare
11,751,1,SL4,Nubian Station - South Station,Key Bus,3,https://www.mbta.com/schedules/751,7C878E,FFFFFF,10055,Local Bus,line-SLWashington,NaN,1.7,0.85
12,749,1,SL5,Nubian Station - Temple Place,Key Bus,3,https://www.mbta.com/schedules/749,7C878E,FFFFFF,10056,Local Bus,line-SLWashington,NaN,1.7,0.85
29,747,1,CT2,Sullivan Square Station - Ruggles Station,Local Bus,3,https://www.mbta.com/schedules/747,FFC72C,0,40020,Local Bus,line-747,NaN,1.7,0.85
30,708,1,CT3,Beth Israel Deaconess Hospital - Andrew Station,Local Bus,3,https://www.mbta.com/schedules/708,FFC72C,0,40030,Local Bus,line-171708,NaN,1.7,0.85
31,1,1,1,Harvard Square - Nubian Station,Key Bus,3,https://www.mbta.com/schedules/1,FFC72C,0,50010,Local Bus,line-1,NaN,1.7,0.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,Shuttle-KenmoreReservoir,1,Green Line D Shuttle,Reservoir - Kenmore,Rail Replacement Bus,3,NaN,FFC72C,0,62010,Free,line-Green,1.0,0.0,0.00
237,Shuttle-NewtonHighlandsKenmore,1,Green Line D Shuttle,Newton Highlands - Kenmore,Rail Replacement Bus,3,NaN,FFC72C,0,62090,Free,line-Green,1.0,0.0,0.00
238,Shuttle-NewtonHighlandsRiverside,1,Green Line D Shuttle,Riverside - Newton Highlands,Rail Replacement Bus,3,NaN,FFC72C,0,62100,Free,line-Green,1.0,0.0,0.00
239,Shuttle-OakGroveWellington,1,Orange Line Shuttle,Oak Grove - Wellington,Rail Replacement Bus,3,NaN,FFC72C,0,62300,Free,line-Orange,1.0,0.0,0.00
240,Shuttle-ReservoirRiverside,1,Green Line D Shuttle,Riverside - Reservoir,Rail Replacement Bus,3,NaN,FFC72C,0,62400,Free,line-Green,1.0,0.0,0.00

In [18]:
rwf.route_id.unique()

array(['751', '749', '747', '708', '1', '4', '7', '8', '9', '10', '11',
       '14', '15', '16', '17', '18', '19', '21', '22', '23', '24', '2427',
       '26', '27', '28', '29', '30', '31', '32', '3233', '33', '34',
       '34E', '35', '36', '37', '38', '39', '40', '4050', '41', '42',
       '43', '44', '45', '47', '50', '51', '52', '55', '57', '57A', '59',
       '60', '61', '62', '627', '64', '65', '66', '67', '68', '69', '70',
       '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '83',
       '84', '85', '86', '87', '88', '89', '8993', '90', '91', '92', '93',
       '94', '95', '96', '97', '99', '100', '101', '104', '105', '106',
       '108', '109', '110', '111', '112', '114', '116', '116117', '117',
       '119', '120', '121', '131', '132', '134', '136', '137', '170',
       '171', '195', '201', '202', '210', '211', '212', '214', '214216',
       '215', '216', '217', '220', '221', '222', '225', '226', '230',
       '236', '238', '240', '245', '325', '326', '350', '351', '352',
       '354', '411', '424', '426', '428', '429', '430', '434', '435',
       '436', '439', '441', '441442', '442', '450', '451', '455', '456',
       '465', '501', '502', '503', '504', '505', '553', '554', '556',
       '558', '710', '712', '713', '714', '716', '602',
       'Shuttle-BraintreeQuincyCenter', 'Shuttle-BrooklineHillsKenmore',
       'Shuttle-FenwayNewtonHighlands', 'Shuttle-ForgeParkWalpole',
       'Shuttle-Generic', 'Shuttle-Generic-Blue',
       'Shuttle-Generic-CommuterRail',
       'Shuttle-Generic-CommuterRail-North',
       'Shuttle-Generic-CommuterRail-South', 'Shuttle-Generic-Elevator',
       'Shuttle-Generic-Fairmount', 'Shuttle-Generic-Fitchburg',
       'Shuttle-Generic-Franklin', 'Shuttle-Generic-Green',
       'Shuttle-Generic-Green-B', 'Shuttle-Generic-Greenbush',
       'Shuttle-Generic-Green-C', 'Shuttle-Generic-Green-D',
       'Shuttle-Generic-Green-E', 'Shuttle-Generic-Green-Trunk',
       'Shuttle-Generic-Haverhill', 'Shuttle-Generic-Kingston',
       'Shuttle-Generic-Lowell', 'Shuttle-Generic-Mattapan',
       'Shuttle-Generic-Middleborough', 'Shuttle-Generic-Needham',
       'Shuttle-Generic-Newburyport', 'Shuttle-Generic-Orange',
       'Shuttle-Generic-Providence', 'Shuttle-Generic-Red',
       'Shuttle-Generic-Red-Ashmont', 'Shuttle-Generic-Red-Braintree',
       'Shuttle-Generic-Red-Trunk', 'Shuttle-Generic-Worcester',
       'Shuttle-KenmoreReservoir', 'Shuttle-NewtonHighlandsKenmore',
       'Shuttle-NewtonHighlandsRiverside', 'Shuttle-OakGroveWellington',
       'Shuttle-ReservoirRiverside'], dtype=object)

In [19]:
rwf['ridership'] = ""

<ipython-input-19-ef04794c1c73>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rwf['ridership'] = ""

In [20]:
rwf

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership
11,751,1,SL4,Nubian Station - South Station,Key Bus,3,https://www.mbta.com/schedules/751,7C878E,FFFFFF,10055,Local Bus,line-SLWashington,NaN,1.7,0.85,
12,749,1,SL5,Nubian Station - Temple Place,Key Bus,3,https://www.mbta.com/schedules/749,7C878E,FFFFFF,10056,Local Bus,line-SLWashington,NaN,1.7,0.85,
29,747,1,CT2,Sullivan Square Station - Ruggles Station,Local Bus,3,https://www.mbta.com/schedules/747,FFC72C,0,40020,Local Bus,line-747,NaN,1.7,0.85,
30,708,1,CT3,Beth Israel Deaconess Hospital - Andrew Station,Local Bus,3,https://www.mbta.com/schedules/708,FFC72C,0,40030,Local Bus,line-171708,NaN,1.7,0.85,
31,1,1,1,Harvard Square - Nubian Station,Key Bus,3,https://www.mbta.com/schedules/1,FFC72C,0,50010,Local Bus,line-1,NaN,1.7,0.85,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,Shuttle-KenmoreReservoir,1,Green Line D Shuttle,Reservoir - Kenmore,Rail Replacement Bus,3,NaN,FFC72C,0,62010,Free,line-Green,1.0,0.0,0.00,
237,Shuttle-NewtonHighlandsKenmore,1,Green Line D Shuttle,Newton Highlands - Kenmore,Rail Replacement Bus,3,NaN,FFC72C,0,62090,Free,line-Green,1.0,0.0,0.00,
238,Shuttle-NewtonHighlandsRiverside,1,Green Line D Shuttle,Riverside - Newton Highlands,Rail Replacement Bus,3,NaN,FFC72C,0,62100,Free,line-Green,1.0,0.0,0.00,
239,Shuttle-OakGroveWellington,1,Orange Line Shuttle,Oak Grove - Wellington,Rail Replacement Bus,3,NaN,FFC72C,0,62300,Free,line-Orange,1.0,0.0,0.00,
240,Shuttle-ReservoirRiverside,1,Green Line D Shuttle,Riverside - Reservoir,Rail Replacement Bus,3,NaN,FFC72C,0,62400,Free,line-Green,1.0,0.0,0.00,

In [23]:
new_rwf = rwf[~rwf.route_id.str.contains("Shuttle")]

In [24]:
new_rwf

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership
11,751,1,SL4,Nubian Station - South Station,Key Bus,3,https://www.mbta.com/schedules/751,7C878E,FFFFFF,10055,Local Bus,line-SLWashington,NaN,1.7,0.85,
12,749,1,SL5,Nubian Station - Temple Place,Key Bus,3,https://www.mbta.com/schedules/749,7C878E,FFFFFF,10056,Local Bus,line-SLWashington,NaN,1.7,0.85,
29,747,1,CT2,Sullivan Square Station - Ruggles Station,Local Bus,3,https://www.mbta.com/schedules/747,FFC72C,0,40020,Local Bus,line-747,NaN,1.7,0.85,
30,708,1,CT3,Beth Israel Deaconess Hospital - Andrew Station,Local Bus,3,https://www.mbta.com/schedules/708,FFC72C,0,40030,Local Bus,line-171708,NaN,1.7,0.85,
31,1,1,1,Harvard Square - Nubian Station,Key Bus,3,https://www.mbta.com/schedules/1,FFC72C,0,50010,Local Bus,line-1,NaN,1.7,0.85,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,712,1,712,Point Shirley - Orient Heights Station via Rev...,Local Bus,3,https://www.mbta.com/schedules/712,FFC72C,0,57120,Local Bus,line-712713,NaN,1.7,0.85,
198,713,1,713,Point Shirley - Orient Heights Station via Win...,Local Bus,3,https://www.mbta.com/schedules/713,FFC72C,0,57130,Local Bus,line-712713,NaN,1.7,0.85,
199,714,1,714,"Pemberton Point, Hull - Station Street, Hingham",Local Bus,3,https://www.mbta.com/schedules/714,FFC72C,0,57140,Local Bus,line-714,NaN,1.7,0.85,
200,716,1,716,Cobbs Corner - Mattapan Station,Local Bus,3,https://www.mbta.com/schedules/716,FFC72C,0,57160,Local Bus,line-716,NaN,1.7,0.85,
201,602,1,Green Line Shuttle,Lechmere Station - North Station,Rail Replacement Bus,3,NaN,FFC72C,0,60200,Free,line-Green,1.0,0.0,0.00,

In [25]:
new_rwf.route_id.unique()

array(['751', '749', '747', '708', '1', '4', '7', '8', '9', '10', '11',
       '14', '15', '16', '17', '18', '19', '21', '22', '23', '24', '2427',
       '26', '27', '28', '29', '30', '31', '32', '3233', '33', '34',
       '34E', '35', '36', '37', '38', '39', '40', '4050', '41', '42',
       '43', '44', '45', '47', '50', '51', '52', '55', '57', '57A', '59',
       '60', '61', '62', '627', '64', '65', '66', '67', '68', '69', '70',
       '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '83',
       '84', '85', '86', '87', '88', '89', '8993', '90', '91', '92', '93',
       '94', '95', '96', '97', '99', '100', '101', '104', '105', '106',
       '108', '109', '110', '111', '112', '114', '116', '116117', '117',
       '119', '120', '121', '131', '132', '134', '136', '137', '170',
       '171', '195', '201', '202', '210', '211', '212', '214', '214216',
       '215', '216', '217', '220', '221', '222', '225', '226', '230',
       '236', '238', '240', '245', '325', '326', '350', '351', '352',
       '354', '411', '424', '426', '428', '429', '430', '434', '435',
       '436', '439', '441', '441442', '442', '450', '451', '455', '456',
       '465', '501', '502', '503', '504', '505', '553', '554', '556',
       '558', '710', '712', '713', '714', '716', '602'], dtype=object)

In [26]:
new_rwf.loc[(new_rwf['route_id'] == '116117')]

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership
130,116117,1,116/117,Wonderland Station - Maverick Station,Supplemental Bus,3,NaN,FFC72C,0,51161,Local Bus,line-114116117,1.0,1.7,0.85,

In [ ]:
array(['1', '10', '100', '101', '104', '105', '106', '108', '109', '11',
       '110', '111', '112', '114', '116', '117', '119', '120', '121',
       '131', '132', '134', '136', '137', '14', '15', '16', '17', '170',
       '171', '18', '19', '201', '202', '21', '210', '211', '212', '214',
       '215', '216', '217', '22', '220', '221', '222', '225', '23', '230',
       '236', '238', '24', '240', '245', '26', '27', '28', '29', '30',
       '31', '32', '325', '326', '33', '34', '34E', '35', '350', '351',
       '352', '354', '36', '37', '38', '39', '4', '40', '41', '411', '42',
       '424', '426', '428', '429', '43', '430', '434', '435', '436',
       '439', '44', '441', '442', '448', '449', '45', '450', '451', '455',
       '456', '459', '465', '47', '5', '50', '501', '502', '503', '504',
       '505', '51', '52', '55', '553', '554', '556', '558', '57', '57A',
       '59', '60', '62', '64', '65', '66', '67', '68', '69', '7', '70',
       '701', '708', '70A', '71', '72', '73', '74', '741', '742', '746',
       '747', '749', '75', '751', '76', '77', '78', '79', '8', '80', '83',
       '84', '85', '86', '87', '88', '89', '9', '90', '91', '92', '93',
       '94', '95', '96', '97', '99', '712', '713', '743', '725'],
      dtype=object)

In [28]:
# rwf has the names of the routes, one row per route
# ridership_df has multiple rows per route

for idx, row in new_rwf.iterrows(): # looping through every route
    route_id = str(row['route_id'])
    weekday_ons = sum(ridership_df[(ridership_df.route_id==route_id) & (ridership_df.day_type_name=='weekday')].boardings) * 5
    saturday_ons = sum(ridership_df[(ridership_df.route_id==route_id) & (ridership_df.day_type_name=='saturday')].boardings)
    sunday_ons = sum(ridership_df[(ridership_df.route_id==route_id) & (ridership_df.day_type_name=='sunday')].boardings)
    week_ons = weekday_ons+saturday_ons+sunday_ons
    year_ons = week_ons * 52
    year_ons = "{:.1f}".format(year_ons)
    new_rwf.at[idx, 'ridership'] =  year_ons

In [37]:
ridership_df.dtypes

FID                  int64
season              object
route_id            object
route_variant       object
direction_id         int64
trip_start_time     object
day_type_id         object
day_type_name       object
stop_name           object
stop_id              int64
stop_sequence        int64
boardings          float64
alightings         float64
load_              float64
sample_size          int64
dtype: object

In [29]:
new_rwf

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership
11,751,1,SL4,Nubian Station - South Station,Key Bus,3,https://www.mbta.com/schedules/751,7C878E,FFFFFF,10055,Local Bus,line-SLWashington,NaN,1.7,0.85,1733732.0
12,749,1,SL5,Nubian Station - Temple Place,Key Bus,3,https://www.mbta.com/schedules/749,7C878E,FFFFFF,10056,Local Bus,line-SLWashington,NaN,1.7,0.85,3207136.4
29,747,1,CT2,Sullivan Square Station - Ruggles Station,Local Bus,3,https://www.mbta.com/schedules/747,FFC72C,0,40020,Local Bus,line-747,NaN,1.7,0.85,507338.0
30,708,1,CT3,Beth Israel Deaconess Hospital - Andrew Station,Local Bus,3,https://www.mbta.com/schedules/708,FFC72C,0,40030,Local Bus,line-171708,NaN,1.7,0.85,293462.0
31,1,1,1,Harvard Square - Nubian Station,Key Bus,3,https://www.mbta.com/schedules/1,FFC72C,0,50010,Local Bus,line-1,NaN,1.7,0.85,4559765.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,712,1,712,Point Shirley - Orient Heights Station via Rev...,Local Bus,3,https://www.mbta.com/schedules/712,FFC72C,0,57120,Local Bus,line-712713,NaN,1.7,0.85,497900.0
198,713,1,713,Point Shirley - Orient Heights Station via Win...,Local Bus,3,https://www.mbta.com/schedules/713,FFC72C,0,57130,Local Bus,line-712713,NaN,1.7,0.85,402324.0
199,714,1,714,"Pemberton Point, Hull - Station Street, Hingham",Local Bus,3,https://www.mbta.com/schedules/714,FFC72C,0,57140,Local Bus,line-714,NaN,1.7,0.85,0.0
200,716,1,716,Cobbs Corner - Mattapan Station,Local Bus,3,https://www.mbta.com/schedules/716,FFC72C,0,57160,Local Bus,line-716,NaN,1.7,0.85,0.0
201,602,1,Green Line Shuttle,Lechmere Station - North Station,Rail Replacement Bus,3,NaN,FFC72C,0,60200,Free,line-Green,1.0,0.0,0.00,0.0

In [30]:
new_rwf.loc[(new_rwf['ridership'] == 0.0)]

Empty DataFrame
Columns: [route_id, agency_id, route_short_name, route_long_name, route_desc, route_type, route_url, route_color, route_text_color, route_sort_order, route_fare_class, line_id, listed_route, fare, reduced_fare, ridership]
Index: []

In [31]:
new_rwf.dtypes

route_id             object
agency_id             int64
route_short_name     object
route_long_name      object
route_desc           object
route_type            int64
route_url            object
route_color          object
route_text_color     object
route_sort_order      int64
route_fare_class     object
line_id              object
listed_route        float64
fare                float64
reduced_fare        float64
ridership            object
dtype: object

In [32]:
# convert column "a" of a DataFrame
new_rwf['ridership'] = pd.to_numeric(new_rwf['ridership'])

<ipython-input-32-e9ce0a0e5c59>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_rwf['ridership'] = pd.to_numeric(new_rwf['ridership'])

In [33]:
new_rwf.dtypes

route_id             object
agency_id             int64
route_short_name     object
route_long_name      object
route_desc           object
route_type            int64
route_url            object
route_color          object
route_text_color     object
route_sort_order      int64
route_fare_class     object
line_id              object
listed_route        float64
fare                float64
reduced_fare        float64
ridership           float64
dtype: object

In [34]:
new_rwf.loc[(new_rwf['ridership'] == 0.0)]

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership
48,2427,1,24/27,Wakefield Avenue & Truman Parkway - Mattapan S...,Local Bus,3,NaN,FFC72C,0,50241,Local Bus,line-242733,1.0,1.7,0.85,0.0
56,3233,1,32/33,River Street & Milton Street - Mattapan Station,Supplemental Bus,3,NaN,FFC72C,0,50321,Local Bus,line-242733,1.0,1.7,0.85,0.0
66,4050,1,40/50,Georgetowne - Forest Hills Station,Local Bus,3,NaN,FFC72C,0,50401,Local Bus,line-4050,1.0,1.7,0.85,0.0
78,57A,1,57A,Oak Square - Kenmore Station,Local Bus,3,https://www.mbta.com/schedules/57A,FFC72C,0,50571,Local Bus,line-5757A,NaN,1.7,0.85,0.0
81,61,1,61,North Waltham - Waltham Center,Local Bus,3,https://www.mbta.com/schedules/61,FFC72C,0,50610,Local Bus,line-6170170,NaN,1.7,0.85,0.0
83,627,1,62/76,Bedford VA Hospital - Alewife Station via Hans...,Local Bus,3,NaN,FFC72C,0,50621,Local Bus,line-6276,1.0,1.7,0.85,0.0
108,8993,1,89/93,Clarendon Hill - Haymarket Station,Supplemental Bus,3,NaN,FFC72C,0,50891,Local Bus,line-89,1.0,1.7,0.85,0.0
130,116117,1,116/117,Wonderland Station - Maverick Station,Supplemental Bus,3,NaN,FFC72C,0,51161,Local Bus,line-114116117,1.0,1.7,0.85,0.0
142,195,1,195,Lemuel Shattuck Hospital - Park Street & Tremo...,Supplemental Bus,3,https://www.mbta.com/schedules/195,FFC72C,0,51950,Local Bus,line-195,1.0,1.7,0.85,0.0
149,214216,1,214/216,Houghs Neck - Quincy Center Station,Local Bus,3,NaN,FFC72C,0,52141,Local Bus,line-214216,1.0,1.7,0.85,0.0
157,226,1,226,Columbian Square - Braintree Station,Local Bus,3,https://www.mbta.com/schedules/226,FFC72C,0,52260,Local Bus,line-225226,NaN,1.7,0.85,0.0
180,441442,1,441/442,Marblehead - Wonderland Station,Local Bus,3,NaN,FFC72C,0,54411,Local Bus,line-439441442,1.0,1.7,0.85,0.0
196,710,1,710,North Medford - Wellington Station,Local Bus,3,https://www.mbta.com/schedules/710,FFC72C,0,57100,Local Bus,line-710,NaN,1.7,0.85,0.0
199,714,1,714,"Pemberton Point, Hull - Station Street, Hingham",Local Bus,3,https://www.mbta.com/schedules/714,FFC72C,0,57140,Local Bus,line-714,NaN,1.7,0.85,0.0
200,716,1,716,Cobbs Corner - Mattapan Station,Local Bus,3,https://www.mbta.com/schedules/716,FFC72C,0,57160,Local Bus,line-716,NaN,1.7,0.85,0.0
201,602,1,Green Line Shuttle,Lechmere Station - North Station,Rail Replacement Bus,3,NaN,FFC72C,0,60200,Free,line-Green,1.0,0.0,0.00,0.0

In [44]:
ridership_df.dtypes

FID                  int64
season              object
route_id            string
route_variant       object
direction_id         int64
trip_start_time     object
day_type_id         object
day_type_name       object
stop_name           object
stop_id              int64
stop_sequence        int64
boardings          float64
alightings         float64
load_              float64
sample_size          int64
dtype: object

# Rerunning after encountering errors where certain routes weren't being recognized and ridership was being set to 0.0
Even though something like that wouldn't be possible unless a bus was seasonal and thus wasn't running in the fall? Just checked and I'm pretty sure they don't

In [45]:
# rwf has the names of the routes, one row per route
# ridership_df has multiple rows per route

for idx, row in new_rwf.iterrows(): # looping through every route
    route_id = str(row['route_id'])
    weekday_ons = sum(ridership_df[(ridership_df.route_id==route_id) & (ridership_df.day_type_name=='weekday')].boardings) * 5
    saturday_ons = sum(ridership_df[(ridership_df.route_id==route_id) & (ridership_df.day_type_name=='saturday')].boardings)
    sunday_ons = sum(ridership_df[(ridership_df.route_id==route_id) & (ridership_df.day_type_name=='sunday')].boardings)
    week_ons = weekday_ons+saturday_ons+sunday_ons
    year_ons = week_ons * 52
    year_ons = "{:.1f}".format(year_ons)
    new_rwf.at[idx, 'ridership'] =  year_ons

In [46]:
new_rwf

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership
11,751,1,SL4,Nubian Station - South Station,Key Bus,3,https://www.mbta.com/schedules/751,7C878E,FFFFFF,10055,Local Bus,line-SLWashington,NaN,1.7,0.85,1733732.0
12,749,1,SL5,Nubian Station - Temple Place,Key Bus,3,https://www.mbta.com/schedules/749,7C878E,FFFFFF,10056,Local Bus,line-SLWashington,NaN,1.7,0.85,3207136.4
29,747,1,CT2,Sullivan Square Station - Ruggles Station,Local Bus,3,https://www.mbta.com/schedules/747,FFC72C,0,40020,Local Bus,line-747,NaN,1.7,0.85,507338.0
30,708,1,CT3,Beth Israel Deaconess Hospital - Andrew Station,Local Bus,3,https://www.mbta.com/schedules/708,FFC72C,0,40030,Local Bus,line-171708,NaN,1.7,0.85,293462.0
31,1,1,1,Harvard Square - Nubian Station,Key Bus,3,https://www.mbta.com/schedules/1,FFC72C,0,50010,Local Bus,line-1,NaN,1.7,0.85,4559765.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,712,1,712,Point Shirley - Orient Heights Station via Rev...,Local Bus,3,https://www.mbta.com/schedules/712,FFC72C,0,57120,Local Bus,line-712713,NaN,1.7,0.85,497900.0
198,713,1,713,Point Shirley - Orient Heights Station via Win...,Local Bus,3,https://www.mbta.com/schedules/713,FFC72C,0,57130,Local Bus,line-712713,NaN,1.7,0.85,402324.0
199,714,1,714,"Pemberton Point, Hull - Station Street, Hingham",Local Bus,3,https://www.mbta.com/schedules/714,FFC72C,0,57140,Local Bus,line-714,NaN,1.7,0.85,0.0
200,716,1,716,Cobbs Corner - Mattapan Station,Local Bus,3,https://www.mbta.com/schedules/716,FFC72C,0,57160,Local Bus,line-716,NaN,1.7,0.85,0.0
201,602,1,Green Line Shuttle,Lechmere Station - North Station,Rail Replacement Bus,3,NaN,FFC72C,0,60200,Free,line-Green,1.0,0.0,0.00,0.0

In [47]:
# convert column "a" of a DataFrame
new_rwf['ridership'] = pd.to_numeric(new_rwf['ridership'])

<ipython-input-47-e9ce0a0e5c59>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_rwf['ridership'] = pd.to_numeric(new_rwf['ridership'])

In [48]:
new_rwf.loc[(new_rwf['ridership'] == 0.0)]

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership
48,2427,1,24/27,Wakefield Avenue & Truman Parkway - Mattapan S...,Local Bus,3,NaN,FFC72C,0,50241,Local Bus,line-242733,1.0,1.7,0.85,0.0
56,3233,1,32/33,River Street & Milton Street - Mattapan Station,Supplemental Bus,3,NaN,FFC72C,0,50321,Local Bus,line-242733,1.0,1.7,0.85,0.0
66,4050,1,40/50,Georgetowne - Forest Hills Station,Local Bus,3,NaN,FFC72C,0,50401,Local Bus,line-4050,1.0,1.7,0.85,0.0
78,57A,1,57A,Oak Square - Kenmore Station,Local Bus,3,https://www.mbta.com/schedules/57A,FFC72C,0,50571,Local Bus,line-5757A,NaN,1.7,0.85,0.0
81,61,1,61,North Waltham - Waltham Center,Local Bus,3,https://www.mbta.com/schedules/61,FFC72C,0,50610,Local Bus,line-6170170,NaN,1.7,0.85,0.0
83,627,1,62/76,Bedford VA Hospital - Alewife Station via Hans...,Local Bus,3,NaN,FFC72C,0,50621,Local Bus,line-6276,1.0,1.7,0.85,0.0
108,8993,1,89/93,Clarendon Hill - Haymarket Station,Supplemental Bus,3,NaN,FFC72C,0,50891,Local Bus,line-89,1.0,1.7,0.85,0.0
130,116117,1,116/117,Wonderland Station - Maverick Station,Supplemental Bus,3,NaN,FFC72C,0,51161,Local Bus,line-114116117,1.0,1.7,0.85,0.0
142,195,1,195,Lemuel Shattuck Hospital - Park Street & Tremo...,Supplemental Bus,3,https://www.mbta.com/schedules/195,FFC72C,0,51950,Local Bus,line-195,1.0,1.7,0.85,0.0
149,214216,1,214/216,Houghs Neck - Quincy Center Station,Local Bus,3,NaN,FFC72C,0,52141,Local Bus,line-214216,1.0,1.7,0.85,0.0
157,226,1,226,Columbian Square - Braintree Station,Local Bus,3,https://www.mbta.com/schedules/226,FFC72C,0,52260,Local Bus,line-225226,NaN,1.7,0.85,0.0
180,441442,1,441/442,Marblehead - Wonderland Station,Local Bus,3,NaN,FFC72C,0,54411,Local Bus,line-439441442,1.0,1.7,0.85,0.0
196,710,1,710,North Medford - Wellington Station,Local Bus,3,https://www.mbta.com/schedules/710,FFC72C,0,57100,Local Bus,line-710,NaN,1.7,0.85,0.0
199,714,1,714,"Pemberton Point, Hull - Station Street, Hingham",Local Bus,3,https://www.mbta.com/schedules/714,FFC72C,0,57140,Local Bus,line-714,NaN,1.7,0.85,0.0
200,716,1,716,Cobbs Corner - Mattapan Station,Local Bus,3,https://www.mbta.com/schedules/716,FFC72C,0,57160,Local Bus,line-716,NaN,1.7,0.85,0.0
201,602,1,Green Line Shuttle,Lechmere Station - North Station,Rail Replacement Bus,3,NaN,FFC72C,0,60200,Free,line-Green,1.0,0.0,0.00,0.0

In [60]:
missing_ridership = new_rwf.loc[(new_rwf['ridership'] == 0.0)]

In [61]:
missing_ridership

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership,revenues
48,2427,1,24/27,Wakefield Avenue & Truman Parkway - Mattapan S...,Local Bus,3,NaN,FFC72C,0,50241,Local Bus,line-242733,1.0,1.7,0.85,0.0,
56,3233,1,32/33,River Street & Milton Street - Mattapan Station,Supplemental Bus,3,NaN,FFC72C,0,50321,Local Bus,line-242733,1.0,1.7,0.85,0.0,
66,4050,1,40/50,Georgetowne - Forest Hills Station,Local Bus,3,NaN,FFC72C,0,50401,Local Bus,line-4050,1.0,1.7,0.85,0.0,
78,57A,1,57A,Oak Square - Kenmore Station,Local Bus,3,https://www.mbta.com/schedules/57A,FFC72C,0,50571,Local Bus,line-5757A,NaN,1.7,0.85,0.0,
81,61,1,61,North Waltham - Waltham Center,Local Bus,3,https://www.mbta.com/schedules/61,FFC72C,0,50610,Local Bus,line-6170170,NaN,1.7,0.85,0.0,
83,627,1,62/76,Bedford VA Hospital - Alewife Station via Hans...,Local Bus,3,NaN,FFC72C,0,50621,Local Bus,line-6276,1.0,1.7,0.85,0.0,
108,8993,1,89/93,Clarendon Hill - Haymarket Station,Supplemental Bus,3,NaN,FFC72C,0,50891,Local Bus,line-89,1.0,1.7,0.85,0.0,
130,116117,1,116/117,Wonderland Station - Maverick Station,Supplemental Bus,3,NaN,FFC72C,0,51161,Local Bus,line-114116117,1.0,1.7,0.85,0.0,
142,195,1,195,Lemuel Shattuck Hospital - Park Street & Tremo...,Supplemental Bus,3,https://www.mbta.com/schedules/195,FFC72C,0,51950,Local Bus,line-195,1.0,1.7,0.85,0.0,
149,214216,1,214/216,Houghs Neck - Quincy Center Station,Local Bus,3,NaN,FFC72C,0,52141,Local Bus,line-214216,1.0,1.7,0.85,0.0,
157,226,1,226,Columbian Square - Braintree Station,Local Bus,3,https://www.mbta.com/schedules/226,FFC72C,0,52260,Local Bus,line-225226,NaN,1.7,0.85,0.0,
180,441442,1,441/442,Marblehead - Wonderland Station,Local Bus,3,NaN,FFC72C,0,54411,Local Bus,line-439441442,1.0,1.7,0.85,0.0,
196,710,1,710,North Medford - Wellington Station,Local Bus,3,https://www.mbta.com/schedules/710,FFC72C,0,57100,Local Bus,line-710,NaN,1.7,0.85,0.0,
199,714,1,714,"Pemberton Point, Hull - Station Street, Hingham",Local Bus,3,https://www.mbta.com/schedules/714,FFC72C,0,57140,Local Bus,line-714,NaN,1.7,0.85,0.0,
200,716,1,716,Cobbs Corner - Mattapan Station,Local Bus,3,https://www.mbta.com/schedules/716,FFC72C,0,57160,Local Bus,line-716,NaN,1.7,0.85,0.0,
201,602,1,Green Line Shuttle,Lechmere Station - North Station,Rail Replacement Bus,3,NaN,FFC72C,0,60200,Free,line-Green,1.0,0.0,0.00,0.0,

In [64]:
missing_ridership['In full_ridership_df'] = False

<ipython-input-64-266384e96da0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_ridership['In full_ridership_df'] = False

In [65]:
missing_ridership

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership,revenues,In full_ridership_df
48,2427,1,24/27,Wakefield Avenue & Truman Parkway - Mattapan S...,Local Bus,3,NaN,FFC72C,0,50241,Local Bus,line-242733,1.0,1.7,0.85,0.0,,False
56,3233,1,32/33,River Street & Milton Street - Mattapan Station,Supplemental Bus,3,NaN,FFC72C,0,50321,Local Bus,line-242733,1.0,1.7,0.85,0.0,,False
66,4050,1,40/50,Georgetowne - Forest Hills Station,Local Bus,3,NaN,FFC72C,0,50401,Local Bus,line-4050,1.0,1.7,0.85,0.0,,False
78,57A,1,57A,Oak Square - Kenmore Station,Local Bus,3,https://www.mbta.com/schedules/57A,FFC72C,0,50571,Local Bus,line-5757A,NaN,1.7,0.85,0.0,,False
81,61,1,61,North Waltham - Waltham Center,Local Bus,3,https://www.mbta.com/schedules/61,FFC72C,0,50610,Local Bus,line-6170170,NaN,1.7,0.85,0.0,,False
83,627,1,62/76,Bedford VA Hospital - Alewife Station via Hans...,Local Bus,3,NaN,FFC72C,0,50621,Local Bus,line-6276,1.0,1.7,0.85,0.0,,False
108,8993,1,89/93,Clarendon Hill - Haymarket Station,Supplemental Bus,3,NaN,FFC72C,0,50891,Local Bus,line-89,1.0,1.7,0.85,0.0,,False
130,116117,1,116/117,Wonderland Station - Maverick Station,Supplemental Bus,3,NaN,FFC72C,0,51161,Local Bus,line-114116117,1.0,1.7,0.85,0.0,,False
142,195,1,195,Lemuel Shattuck Hospital - Park Street & Tremo...,Supplemental Bus,3,https://www.mbta.com/schedules/195,FFC72C,0,51950,Local Bus,line-195,1.0,1.7,0.85,0.0,,False
149,214216,1,214/216,Houghs Neck - Quincy Center Station,Local Bus,3,NaN,FFC72C,0,52141,Local Bus,line-214216,1.0,1.7,0.85,0.0,,False
157,226,1,226,Columbian Square - Braintree Station,Local Bus,3,https://www.mbta.com/schedules/226,FFC72C,0,52260,Local Bus,line-225226,NaN,1.7,0.85,0.0,,False
180,441442,1,441/442,Marblehead - Wonderland Station,Local Bus,3,NaN,FFC72C,0,54411,Local Bus,line-439441442,1.0,1.7,0.85,0.0,,False
196,710,1,710,North Medford - Wellington Station,Local Bus,3,https://www.mbta.com/schedules/710,FFC72C,0,57100,Local Bus,line-710,NaN,1.7,0.85,0.0,,False
199,714,1,714,"Pemberton Point, Hull - Station Street, Hingham",Local Bus,3,https://www.mbta.com/schedules/714,FFC72C,0,57140,Local Bus,line-714,NaN,1.7,0.85,0.0,,False
200,716,1,716,Cobbs Corner - Mattapan Station,Local Bus,3,https://www.mbta.com/schedules/716,FFC72C,0,57160,Local Bus,line-716,NaN,1.7,0.85,0.0,,False
201,602,1,Green Line Shuttle,Lechmere Station - North Station,Rail Replacement Bus,3,NaN,FFC72C,0,60200,Free,line-Green,1.0,0.0,0.00,0.0,,False

In [59]:
full_ridership_df = pd.read_csv('./data/Line,_and_Stop.csv', low_memory=False)

In [66]:
full_ridership_df

,FID,season,route_id,route_variant,direction_id,trip_start_time,day_type_id,day_type_name,stop_name,stop_id,stop_sequence,boardings,alightings,load_,sample_size
0,1,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,WASHINGTON ST OPP RUGGLES ST,1,2,0.4,0.3,7.8,13
1,2,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,ALBANY ST OPP RANDALL ST,10003,5,0.1,0.0,9.4,13
2,3,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ SIDNEY ST,101,19,0.0,0.4,10.4,13
3,4,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ PROSPECT,102,20,0.6,2.5,8.5,13
4,5,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ BIGELOW S,104,21,0.1,0.2,8.4,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3451727,3451728,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,HIGHLAND AVE @ PINE ST,5062,9,0.0,0.0,0.0,5
3451728,3451729,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,CLIFTON ST @ DEXTER ST,5066,15,0.0,0.0,0.0,5
3451729,3451730,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,CLIFTON ST @ CEDAR ST,5067,16,0.0,0.0,0.0,5
3451730,3451731,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,SUMMER ST @ CLIFTON ST,5068,17,0.0,0.0,0.0,5
3451731,3451732,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,SUMMER ST @ CHESTNUT ST,5069,18,0.0,0.0,0.0,5

In [69]:
full_unique_routes = full_ridership_df.route_id.unique()

In [70]:
full_unique_routes

array(['1', '10', '100', '101', '104', '105', '106', '108', '109', '11',
       '110', '111', '112', '114', '116', '117', '119', '120', '121',
       '131', '132', '134', '136', '137', '14', '15', '16', '17', '170',
       '171', '18', '19', '201', '202', '21', '210', '211', '212', '214',
       '215', '216', '217', '22', '220', '221', '222', '225', '23', '230',
       '236', '238', '24', '240', '245', '26', '27', '28', '29', '30',
       '31', '32', '325', '326', '33', '34', '34E', '35', '350', '351',
       '352', '354', '36', '37', '38', '39', '4', '40', '41', '411', '42',
       '424', '426', '428', '429', '43', '430', '434', '435', '436',
       '439', '44', '441', '442', '448', '449', '45', '450', '451', '455',
       '456', '459', '465', '47', '5', '50', '501', '502', '503', '504',
       '505', '51', '52', '55', '553', '554', '556', '558', '57', '57A',
       '59', '60', '62', '64', '65', '66', '67', '68', '69', '7', '70',
       '701', '708', '70A', '71', '72', '73', '74', '741', '742', '746',
       '747', '749', '75', '751', '76', '77', '78', '79', '8', '80', '83',
       '84', '85', '86', '87', '88', '89', '9', '90', '91', '92', '93',
       '94', '95', '96', '97', '99', '712', '713', '743', '725'],
      dtype=object)

In [71]:
for idx, row in missing_ridership.iterrows(): # looping through every route
    route_id = row['route_id']
    if route_id in full_unique_routes:
        missing_ridership.at[idx, 'In full_ridership_df'] = True

In [72]:
missing_ridership

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership,revenues,In full_ridership_df
48,2427,1,24/27,Wakefield Avenue & Truman Parkway - Mattapan S...,Local Bus,3,NaN,FFC72C,0,50241,Local Bus,line-242733,1.0,1.7,0.85,0.0,,False
56,3233,1,32/33,River Street & Milton Street - Mattapan Station,Supplemental Bus,3,NaN,FFC72C,0,50321,Local Bus,line-242733,1.0,1.7,0.85,0.0,,False
66,4050,1,40/50,Georgetowne - Forest Hills Station,Local Bus,3,NaN,FFC72C,0,50401,Local Bus,line-4050,1.0,1.7,0.85,0.0,,False
78,57A,1,57A,Oak Square - Kenmore Station,Local Bus,3,https://www.mbta.com/schedules/57A,FFC72C,0,50571,Local Bus,line-5757A,NaN,1.7,0.85,0.0,,True
81,61,1,61,North Waltham - Waltham Center,Local Bus,3,https://www.mbta.com/schedules/61,FFC72C,0,50610,Local Bus,line-6170170,NaN,1.7,0.85,0.0,,False
83,627,1,62/76,Bedford VA Hospital - Alewife Station via Hans...,Local Bus,3,NaN,FFC72C,0,50621,Local Bus,line-6276,1.0,1.7,0.85,0.0,,False
108,8993,1,89/93,Clarendon Hill - Haymarket Station,Supplemental Bus,3,NaN,FFC72C,0,50891,Local Bus,line-89,1.0,1.7,0.85,0.0,,False
130,116117,1,116/117,Wonderland Station - Maverick Station,Supplemental Bus,3,NaN,FFC72C,0,51161,Local Bus,line-114116117,1.0,1.7,0.85,0.0,,False
142,195,1,195,Lemuel Shattuck Hospital - Park Street & Tremo...,Supplemental Bus,3,https://www.mbta.com/schedules/195,FFC72C,0,51950,Local Bus,line-195,1.0,1.7,0.85,0.0,,False
149,214216,1,214/216,Houghs Neck - Quincy Center Station,Local Bus,3,NaN,FFC72C,0,52141,Local Bus,line-214216,1.0,1.7,0.85,0.0,,False
157,226,1,226,Columbian Square - Braintree Station,Local Bus,3,https://www.mbta.com/schedules/226,FFC72C,0,52260,Local Bus,line-225226,NaN,1.7,0.85,0.0,,False
180,441442,1,441/442,Marblehead - Wonderland Station,Local Bus,3,NaN,FFC72C,0,54411,Local Bus,line-439441442,1.0,1.7,0.85,0.0,,False
196,710,1,710,North Medford - Wellington Station,Local Bus,3,https://www.mbta.com/schedules/710,FFC72C,0,57100,Local Bus,line-710,NaN,1.7,0.85,0.0,,False
199,714,1,714,"Pemberton Point, Hull - Station Street, Hingham",Local Bus,3,https://www.mbta.com/schedules/714,FFC72C,0,57140,Local Bus,line-714,NaN,1.7,0.85,0.0,,False
200,716,1,716,Cobbs Corner - Mattapan Station,Local Bus,3,https://www.mbta.com/schedules/716,FFC72C,0,57160,Local Bus,line-716,NaN,1.7,0.85,0.0,,False
201,602,1,Green Line Shuttle,Lechmere Station - North Station,Rail Replacement Bus,3,NaN,FFC72C,0,60200,Free,line-Green,1.0,0.0,0.00,0.0,,False

In [74]:
missing_ridership.shape

(16, 18)

In [75]:
new_rwf.shape

(175, 17)

In [76]:
missing_ridership.shape[0]/new_rwf.shape[0]*100

9.142857142857142

In [56]:
new_rwf

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership
11,751,1,SL4,Nubian Station - South Station,Key Bus,3,https://www.mbta.com/schedules/751,7C878E,FFFFFF,10055,Local Bus,line-SLWashington,NaN,1.7,0.85,1733732.0
12,749,1,SL5,Nubian Station - Temple Place,Key Bus,3,https://www.mbta.com/schedules/749,7C878E,FFFFFF,10056,Local Bus,line-SLWashington,NaN,1.7,0.85,3207136.4
29,747,1,CT2,Sullivan Square Station - Ruggles Station,Local Bus,3,https://www.mbta.com/schedules/747,FFC72C,0,40020,Local Bus,line-747,NaN,1.7,0.85,507338.0
30,708,1,CT3,Beth Israel Deaconess Hospital - Andrew Station,Local Bus,3,https://www.mbta.com/schedules/708,FFC72C,0,40030,Local Bus,line-171708,NaN,1.7,0.85,293462.0
31,1,1,1,Harvard Square - Nubian Station,Key Bus,3,https://www.mbta.com/schedules/1,FFC72C,0,50010,Local Bus,line-1,NaN,1.7,0.85,4559765.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,712,1,712,Point Shirley - Orient Heights Station via Rev...,Local Bus,3,https://www.mbta.com/schedules/712,FFC72C,0,57120,Local Bus,line-712713,NaN,1.7,0.85,497900.0
198,713,1,713,Point Shirley - Orient Heights Station via Win...,Local Bus,3,https://www.mbta.com/schedules/713,FFC72C,0,57130,Local Bus,line-712713,NaN,1.7,0.85,402324.0
199,714,1,714,"Pemberton Point, Hull - Station Street, Hingham",Local Bus,3,https://www.mbta.com/schedules/714,FFC72C,0,57140,Local Bus,line-714,NaN,1.7,0.85,0.0
200,716,1,716,Cobbs Corner - Mattapan Station,Local Bus,3,https://www.mbta.com/schedules/716,FFC72C,0,57160,Local Bus,line-716,NaN,1.7,0.85,0.0
201,602,1,Green Line Shuttle,Lechmere Station - North Station,Rail Replacement Bus,3,NaN,FFC72C,0,60200,Free,line-Green,1.0,0.0,0.00,0.0

In [57]:
new_rwf['revenues'] = ""

<ipython-input-57-2dd59bc8dbcb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_rwf['revenues'] = ""

In [58]:
new_rwf

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership,revenues
11,751,1,SL4,Nubian Station - South Station,Key Bus,3,https://www.mbta.com/schedules/751,7C878E,FFFFFF,10055,Local Bus,line-SLWashington,NaN,1.7,0.85,1733732.0,
12,749,1,SL5,Nubian Station - Temple Place,Key Bus,3,https://www.mbta.com/schedules/749,7C878E,FFFFFF,10056,Local Bus,line-SLWashington,NaN,1.7,0.85,3207136.4,
29,747,1,CT2,Sullivan Square Station - Ruggles Station,Local Bus,3,https://www.mbta.com/schedules/747,FFC72C,0,40020,Local Bus,line-747,NaN,1.7,0.85,507338.0,
30,708,1,CT3,Beth Israel Deaconess Hospital - Andrew Station,Local Bus,3,https://www.mbta.com/schedules/708,FFC72C,0,40030,Local Bus,line-171708,NaN,1.7,0.85,293462.0,
31,1,1,1,Harvard Square - Nubian Station,Key Bus,3,https://www.mbta.com/schedules/1,FFC72C,0,50010,Local Bus,line-1,NaN,1.7,0.85,4559765.6,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,712,1,712,Point Shirley - Orient Heights Station via Rev...,Local Bus,3,https://www.mbta.com/schedules/712,FFC72C,0,57120,Local Bus,line-712713,NaN,1.7,0.85,497900.0,
198,713,1,713,Point Shirley - Orient Heights Station via Win...,Local Bus,3,https://www.mbta.com/schedules/713,FFC72C,0,57130,Local Bus,line-712713,NaN,1.7,0.85,402324.0,
199,714,1,714,"Pemberton Point, Hull - Station Street, Hingham",Local Bus,3,https://www.mbta.com/schedules/714,FFC72C,0,57140,Local Bus,line-714,NaN,1.7,0.85,0.0,
200,716,1,716,Cobbs Corner - Mattapan Station,Local Bus,3,https://www.mbta.com/schedules/716,FFC72C,0,57160,Local Bus,line-716,NaN,1.7,0.85,0.0,
201,602,1,Green Line Shuttle,Lechmere Station - North Station,Rail Replacement Bus,3,NaN,FFC72C,0,60200,Free,line-Green,1.0,0.0,0.00,0.0,

In [77]:
new_rwf.dtypes

route_id             object
agency_id             int64
route_short_name     object
route_long_name      object
route_desc           object
route_type            int64
route_url            object
route_color          object
route_text_color     object
route_sort_order      int64
route_fare_class     object
line_id              object
listed_route        float64
fare                float64
reduced_fare        float64
ridership           float64
revenues             object
dtype: object

In [79]:
for idx, row in new_rwf.iterrows(): # looping through every route
    new_rwf.at[idx, 'revenues'] =  row['fare']*row['ridership']

In [80]:
new_rwf

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,fare,reduced_fare,ridership,revenues
11,751,1,SL4,Nubian Station - South Station,Key Bus,3,https://www.mbta.com/schedules/751,7C878E,FFFFFF,10055,Local Bus,line-SLWashington,NaN,1.7,0.85,1733732.0,2.94734e+06
12,749,1,SL5,Nubian Station - Temple Place,Key Bus,3,https://www.mbta.com/schedules/749,7C878E,FFFFFF,10056,Local Bus,line-SLWashington,NaN,1.7,0.85,3207136.4,5.45213e+06
29,747,1,CT2,Sullivan Square Station - Ruggles Station,Local Bus,3,https://www.mbta.com/schedules/747,FFC72C,0,40020,Local Bus,line-747,NaN,1.7,0.85,507338.0,862475
30,708,1,CT3,Beth Israel Deaconess Hospital - Andrew Station,Local Bus,3,https://www.mbta.com/schedules/708,FFC72C,0,40030,Local Bus,line-171708,NaN,1.7,0.85,293462.0,498885
31,1,1,1,Harvard Square - Nubian Station,Key Bus,3,https://www.mbta.com/schedules/1,FFC72C,0,50010,Local Bus,line-1,NaN,1.7,0.85,4559765.6,7.7516e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,712,1,712,Point Shirley - Orient Heights Station via Rev...,Local Bus,3,https://www.mbta.com/schedules/712,FFC72C,0,57120,Local Bus,line-712713,NaN,1.7,0.85,497900.0,846430
198,713,1,713,Point Shirley - Orient Heights Station via Win...,Local Bus,3,https://www.mbta.com/schedules/713,FFC72C,0,57130,Local Bus,line-712713,NaN,1.7,0.85,402324.0,683951
199,714,1,714,"Pemberton Point, Hull - Station Street, Hingham",Local Bus,3,https://www.mbta.com/schedules/714,FFC72C,0,57140,Local Bus,line-714,NaN,1.7,0.85,0.0,0
200,716,1,716,Cobbs Corner - Mattapan Station,Local Bus,3,https://www.mbta.com/schedules/716,FFC72C,0,57160,Local Bus,line-716,NaN,1.7,0.85,0.0,0
201,602,1,Green Line Shuttle,Lechmere Station - North Station,Rail Replacement Bus,3,NaN,FFC72C,0,60200,Free,line-Green,1.0,0.0,0.00,0.0,0

In [81]:
total_revenue = new_rwf['revenues'].sum()
print(total_revenue) # 207,485,001

207485001.13000003