# Transit Equity/ Bus Routes (MBTA only)

In [ ]:
# imports
import pandas as pd
import geopandas as gpd
import requests
import numpy as np
import math
from shapely.ops import nearest_points

## Step 1: Data collection
Read [this report](http://www.wrrb.org/wp-content/uploads/2019/05/WRRB-FareFree-Transit-Report.pdf) to understand the issue. Collect data - create a spreadsheet of all the different bus stops in Massachusetts including MBTA, Regional Transit Authorities, and City/Town buses.

**Make sure datasets --- 'mbtabus/', 'CENSUS2010_BLK_BG_TRCT_SHP/' and 'census.csv' are under './data/'**

In [ ]:
# Collect data for bus stops 
def load_bus_stop():
    """
    Data description link: https://docs.digital.mass.gov/dataset/massgis-data-mbta-bus-routes-and-stops
    """
    file = gpd.read_file("./data/mbtabus/MBTABUSSTOPS_PT.shp")
    return file


def load_census_tract():
    """
    Data description link: https://docs.digital.mass.gov/dataset/massgis-data-datalayers-2010-us-census
    """
    file = gpd.read_file("./data/CENSUS2010_BLK_BG_TRCT_SHP/CENSUS2010TRACTS_POLY.shp")
    return file

# Collect Census Data:
def get_median_hh_income():
    '''
        Returns Pandas DataFrame representation Median Household Income Estimate by Census Tract for MA.
        American Community Survey (ACS) 2018 Census data used.
        Specific table: ACS 2018 5-year detailed table "B19013_001E"
    '''
    URL = "https://api.census.gov/data/2018/acs/acs5?get=B19013_001E&for=tract:*&in=state:25"

    response = requests.get(url = URL)
    data = response.json()
    
    median_income_df = pd.DataFrame(data[1:len(data)-1], columns = data[0])
    
    return median_income_df

def load_median_hh_income():
    '''
        *** USE THIS FUNCTION TO LOAD INCOME DATA FROM LOCAL ***
        Returns Pandas DataFrame representation Median Household Income Estimate by Census Tract for MA.
        American Community Survey (ACS) 2018 Census data used.
        Specific table: ACS 2018 5-year detailed table "B19013_001E"
    '''
    median_income_df = pd.read_csv("./data/census.csv")
    return median_income_df

In [ ]:
busstop_gdf = load_bus_stop()
census_tract_gdf = load_census_tract()
median_income_for_tract_df = load_median_hh_income()

# Collect Census Data:
# res = get_median_hh_income()
# res.to_csv()

In [ ]:
busstop_gdf

In [ ]:
census_tract_gdf

In [ ]:
median_income_for_tract_df

In [ ]:
# zfill the tractID to 6-digit str
median_income_for_tract_df.tract = [str(x).zfill(6) for x in median_income_for_tract_df['tract']]
median_income_for_tract_df

In [ ]:
# Find abnormal values and correct them with its neighbors' average incomes
# census_tract_gdf.plot()
# busstop_gdf.plot()

# while True:
#     abnormal_tracts = ['980300', '980700', '981000', '981201', '981202', '981502', '981600', '981700']
    
#     for tract in abnormal_tracts:
#         polygon = census_tract_gdf[census_tract_gdf['TRACTCE10'] == tract].geometry
#         print(polygon)
#         neighbors = census_tract_gdf[census_tract_gdf.geometry.touches(polygon)].TRACTCE10.tolist()
#         print(len(neighbors))
#     break

Then traverse through bus stops to indentify which tracts they are in.

In [ ]:
def tract_for_stop(busstop_gdf, census_tract_gdf):
    """
    This frunction takes in busstop and tract data in geoDataFrame.
    Returns a dictionary in {stop_id: tract_id} format
    """
    stopid_tract_dict = {}
    
    points = busstop_gdf.geometry
    polygons = census_tract_gdf.geometry
    
    stop_ids = busstop_gdf['STOP_ID']
    tract_ids = census_tract_gdf['TRACTCE10']
    
    for i in range(len(busstop_gdf)):
        stopid = stop_ids[i]
        point = points[i]
        for j in range(len(census_tract_gdf)):
            tractid = tract_ids[j]
            polygon = polygons[j]
            if point.within(polygon):
                stopid_tract_dict[stopid] = tractid
                break;
    
    return stopid_tract_dict

In [ ]:
stopid_tract_dict = tract_for_stop(busstop_gdf, census_tract_gdf)

Then add a column 'TRACT_ID' in bus stop data

In [ ]:
busstop_gdf['TRACT_ID'] = stopid_tract_dict.values()
busstop_gdf

Then assign median income for each stop by 'TRACT_ID'

In [ ]:
def get_tract_income_dict():
    tract_income_dict = {}
    
    # need to convert entries of type <numpy.int64> into a 6-digit string
    incomes = median_income_for_tract_gdf['B19013_001E']
    tracts = [str(x).zfill(6) for x in median_income_for_tract_df['tract']]
    for i in range(len(median_income_for_tract_df)):
        tract_income_dict[tracts[i]] = incomes[i]
    return tract_income_dict

def get_income_for_tract(tracts, tract_income_dict):
    incomes = []
    for tract in tracts:
        incomes.append(tract_income_dict[tract])
    return incomes

In [ ]:
tract_income_dict = get_tract_income_dict()
incomes = get_income_for_tract(busstop_gdf['TRACT_ID'], tract_income_dict)

Then add a column 'income' in bus stop data

In [ ]:
busstop_gdf['income'] = incomes
busstop_gdf

Save the bus stop data into a new csv file

In [ ]:
df = pd.DataFrame(busstop_gdf.drop(columns='geometry'))
df.to_csv("./output/stops_with_income.csv")

## Step 2: Income level assignment
Assign an income level to each stop based on the census tract data

**No need to run blocks above!!**
Here we use the income group standard according to [Pew Research](http://www.pewsocialtrends.org/2015/12/09/the-american-middle-class-is-losing-ground/), which shows as follows:

| LEVEL | INCOME GROUP | INCOME/\$ |
| :- | :- | -: |
| 0 | Lowest income | 31,000 or less|
| 1 | Lower-middle income | 31,000 - 42,000 |
| 2 | Middle-income | 42,000 - 126,000 |
| 3 | Upper-middle income | 126,000 - 188,000 |
| 4 | Higher-income | 188,000 or more |

In [ ]:
import pandas as pd
# read result csv generated from step one
busstop_df = pd.read_csv("./output/stops_with_income.csv")
busstop_df

In [ ]:
income_level = []

incomes = busstop_df['income']
for income in incomes:
    if income<=0:
        income_level.append(-1)
    elif 0<income < 31000:
        income_level.append(0)
    elif 31000 <= income < 42000:
        income_level.append(1)
    elif 42000 <= income < 126000:
        income_level.append(2)
    elif 126000 <= income < 188000:
        income_level.append(3)
    elif 188000 <= income:
        income_level.append(4)

In [ ]:
busstop_df['income_level'] = income_level
busstop_df

In [ ]:
# Save to csv file
busstop_df.to_csv("./output/stops_with_incomeLevel.csv", index_label=False)

In [ ]:
# show stops whose income are unknown
busstop_df[busstop_df.income<0]

## Step 3&4: Ridership & Revenue for each stop
Calculate annual revenue for each stop
1. Find fare for each route
| route_type    | fare | fare (reduced) |
|---------------|------|----------------|
| Local Bus     | 1.7  | 0.85           |
| Inner Express | 4.25 | 2.10           |
| Outer Express | 5.25 | 2.60           |
2. Connect routes for each stop
3. Collect ridership for each route per stop
3. Calculate annual renevue for each stop, note: reduced fare, monthly pass

In [ ]:
import pandas as pd
import geopandas as gpd

### 1. Find fare for each route

In [ ]:
# route info
routes_df = pd.read_csv('./data/fare&ridership/routes.csv')
routes_df

In [ ]:
route_fare_class = {'Local Bus': 1.7, 'Inner Express': 4.25, 'Outer Express': 5.25, 'Free':0}
route_reduced_fare_class = {'Local Bus': 0.85, 'Inner Express': 2.1, 'Outer Express': 2.6, 'Free':0}

# add a column of fare for each route
routes_df['fare'] = float('nan')
routes_df['reduced_fare'] = float('nan')
for idx, row in routes_df.iterrows():
    this_fare_class = row['route_fare_class']
    if this_fare_class not in route_fare_class:
        continue
    else:
        routes_df.at[idx, 'fare'] = route_fare_class[this_fare_class]
        routes_df.at[idx, 'reduced_fare'] = route_reduced_fare_class[this_fare_class]

routes_df.to_csv('./output/routes_with_fare.csv', index_label=False)

### 2. Connect routes for each stop

In [ ]:
stops_df = pd.read_csv('./output/stops_with_incomeLevel.csv')
stops_df

In [ ]:
ridership_df = pd.read_csv('./data/fare&ridership/Line,_and_Stop.csv', low_memory=False)
ridership_df

In [ ]:
stops_df['route_ids'] = ""
for idx, row in stops_df.iterrows():
    stop_id = row['STOP_ID']
    route_ids = list(set(ridership_df[ridership_df.stop_id == int(stop_id)].route_id.tolist()))
    stops_df.at[idx, 'route_ids'] = ','.join(route_ids)
stops_df.to_csv('./output/stops.csv', index_label=False)
stops_df

### 3. Collect ridership for each route per stop

In [ ]:
routes_df = pd.read_csv('output/routes_with_fare.csv')
routes_df

In [ ]:
ridership_df = pd.read_csv('./data/fare&ridership/Line,_and_Stop.csv', low_memory=False)
# load only rows for Fall 2019
ridership_df = ridership_df[ridership_df.season == 'Fall 2019']
ridership_df

In [ ]:
stops_df = pd.read_csv('./output/stops.csv', low_memory=False)
stops_df.info()

In [ ]:
# ridership_df[(ridership_df.route_id=='99') & (ridership_df.stop_id==5327) & (ridership_df.day_type_name=='weekday')]
stops_df['ridership'] = ""
for idx, row in stops_df.iterrows():
    print('{}/{}'.format(idx, len(stops_df)))
    stop_id = int(row['STOP_ID'])
    route_ids = str(row['route_ids']).split(',')
    riderships = []
    for route_id in route_ids:
        weekday_ons = sum(ridership_df[(ridership_df.route_id==route_id) & (ridership_df.stop_id==stop_id) & (ridership_df.day_type_name=='weekday')].boardings) * 5
        saturday_ons = sum(ridership_df[(ridership_df.route_id==route_id) & (ridership_df.stop_id==stop_id) & (ridership_df.day_type_name=='saturday')].boardings)
        sunday_ons = sum(ridership_df[(ridership_df.route_id==route_id) & (ridership_df.stop_id==stop_id) & (ridership_df.day_type_name=='sunday')].boardings)
        week_ons = weekday_ons+saturday_ons+sunday_ons
        year_ons = week_ons * 52
        riderships.append("{:.1f}".format(year_ons))
    stops_df.at[idx, 'ridership'] =  ','.join(riderships)
stops_df

In [ ]:
stops_df.to_csv('./output/stops.csv', index_label=False)

### 4. Calculate annual renevue for each stop, note: reduced fare, monthly pass
Here I assume the revenue composition (payment method) is fixed for each route, and that a rider uses a monthly pass twice every weekday, and that a month has 22 weekdays.

In [ ]:
routes_df = pd.read_csv('./output/routes_with_fare.csv')
routes_df

In [ ]:
stops_df['revenues'] = ""

for idx, row in stops_df.iterrows():    
    route_ids = str(row['route_ids']).split(',')
    riderships = [float(x) for x in str(row['ridership']).split(',')]
    assert len(route_ids)==len(riderships)
    
    revenues = []
    for i in range(len(riderships)):
        route_id = route_ids[i]
        ridership = riderships[i]
        
        route_info = routes_df[routes_df.route_id == route_id]
        if len(route_info)==0:
            # no route info, assume it as local bus
            fare = 1.7
            fare_reduced = 0.85
        else:
            fare = float(route_info.fare)
            fare_reduced = float(route_info.reduced_fare)
        
        # monthly pass - 70%
        ridership_monthlyPass = ridership * 0.7
        revenue_0 = ridership_monthlyPass * 0.17 * (30/(22*2))
        revenue_1 = ridership_monthlyPass * 0.1 * (55/(22*2))
        revenue_2 = ridership_monthlyPass * 0.69 * (90/(22*2))
        revenue_3 = ridership_monthlyPass * 0.04 * (90/(22*2))
        revenue_monthlyPass = revenue_0 + revenue_1 + revenue_2 + revenue_3
        
        # pay-per-ride - 22%
        ridership_payPerRide = ridership * 0.22
        revenue_4 = ridership_payPerRide * 0.03 * 1.7
        revenue_5 = ridership_payPerRide * 0.16 * fare_reduced
        revenue_6 = ridership_payPerRide * 0.79 * fare
        revenue_payPerRide = revenue_4 + revenue_5 + revenue_6
        
        # others, ignore
        # sum up
        revenues.append("{:.1f}".format(revenue_monthlyPass+revenue_payPerRide))
    stops_df.at[idx, 'revenues'] = ','.join(revenues)

stops_df

In [ ]:
# Add revenues up for each stop
stops_df['revenue_annual'] = ""
for idx, row in stops_df.iterrows():
    revenues = list(map(float, str(row['revenues']).split(',')))
    stops_df.at[idx, 'revenue_annual'] = sum(revenues)
stops_df

In [ ]:
stops_df.to_csv('./output/stops.csv', index_label=False)

In [60]:
stops_df

,STOP_ID,STOP_NAME,TOWN,TOWN_ID,TRACT_ID,income,income_level,route_ids,ridership,revenues,revenue_annual
0,3077,Gallivan Blvd @ opp Marsh St,BOSTON,35,100700,87063,2,201,1138.8,1765.7,1765.7
1,841,Lagrange St @ Virgil Rd,BOSTON,35,130200,109034,2,"37,38","795.6,26.0","1233.5,40.3",1273.8
2,446,Norfolk St @ Nelson St,BOSTON,35,100300,51736,2,26,4628.0,7175.5,7175.5
3,847,Lagrange St opp Virgil St,BOSTON,35,130200,109034,2,"37,38","0.0,0.0","0.0,0.0",0.0
4,3079,Adams St @ Minot St,BOSTON,35,100800,88425,2,"201,19","7581.6,52.0","11755.0,80.6",11835.6
...,...,...,...,...,...,...,...,...,...,...,...
7805,9097,Grove St @ Lebanon St,MELROSE,178,336300,120436,2,131,5824.0,9029.9,9029.9
7806,5911,Grove St @ Lebanon St,MELROSE,178,336300,120436,2,131,52.0,80.6,80.6
7807,5975,Wyoming Ave opp Cleveland St,MELROSE,178,336402,79969,2,132,8538.4,13238.5,13238.5
7808,15976,Wyoming Ave @ Cleveland St,MELROSE,178,336402,79969,2,132,145.6,225.7,225.7
7809,5912,Grove St @ Faxon St,MELROSE,178,336300,120436,2,131,130.0,201.6,201.6