# Transit Equity/ Bus Routes (MBTA only)

In [148]:
# imports
import pandas as pd
import geopandas as gpd
import requests
import numpy as np

## Step 1: Data collection
Read [this report](http://www.wrrb.org/wp-content/uploads/2019/05/WRRB-FareFree-Transit-Report.pdf) to understand the issue. Collect data - create a spreadsheet of all the different bus stops in Massachusetts including MBTA, Regional Transit Authorities, and City/Town buses.

**Make sure datasets --- 'mbtabus/', 'CENSUS2010_BLK_BG_TRCT_SHP/' and 'census.csv' are under './data/'**

In [137]:
# Collect data for bus stops 
def load_bus_stop():
    """
    Data description link: https://docs.digital.mass.gov/dataset/massgis-data-mbta-bus-routes-and-stops
    """
    file = gpd.read_file("./data/mbtabus/MBTABUSSTOPS_PT.shp")
    return file


def load_census_tract():
    """
    Data description link: https://docs.digital.mass.gov/dataset/massgis-data-datalayers-2010-us-census
    """
    file = gpd.read_file("./data/CENSUS2010_BLK_BG_TRCT_SHP/CENSUS2010TRACTS_POLY.shp")
    return file

# Collect Census Data:
def get_median_hh_income():
    '''
        Returns Pandas DataFrame representation Median Household Income Estimate by Census Tract for MA.
        American Community Survey (ACS) 2018 Census data used.
        Specific table: ACS 2018 5-year detailed table "B19013_001E"
    '''
    URL = "https://api.census.gov/data/2018/acs/acs5?get=B19013_001E&for=tract:*&in=state:25"

    response = requests.get(url = URL)
    data = response.json()
    
    median_income_df = pd.DataFrame(data[1:len(data)-1], columns = data[0])
    
    return median_income_df

def load_median_hh_income():
    '''
        *** USE THIS FUNCTION TO LOAD INCOME DATA FROM LOCAL ***
        Returns Pandas DataFrame representation Median Household Income Estimate by Census Tract for MA.
        American Community Survey (ACS) 2018 Census data used.
        Specific table: ACS 2018 5-year detailed table "B19013_001E"
    '''
    median_income_df = pd.read_csv("./data/census.csv")
    return median_income_df

In [138]:
busstop_gdf = load_bus_stop()
census_tract_gdf = load_census_tract()
median_income_for_tract_gdf = load_median_hh_income()

# Collect Census Data:
# res = get_median_hh_income()
# res.to_csv()

In [139]:
busstop_gdf

,STOP_ID,STOP_NAME,TOWN,TOWN_ID,geometry
0,3077,Gallivan Blvd @ opp Marsh St,BOSTON,35,POINT (237120.669 892643.408)
1,841,Lagrange St @ Virgil Rd,BOSTON,35,POINT (227915.195 892644.017)
2,446,Norfolk St @ Nelson St,BOSTON,35,POINT (234385.661 892644.944)
3,847,Lagrange St opp Virgil St,BOSTON,35,POINT (227912.601 892650.156)
4,3079,Adams St @ Minot St,BOSTON,35,POINT (236644.812 892651.990)
...,...,...,...,...,...
7805,9097,Grove St @ Lebanon St,MELROSE,178,POINT (236229.381 911541.866)
7806,5911,Grove St @ Lebanon St,MELROSE,178,POINT (236236.036 911542.538)
7807,5975,Wyoming Ave opp Cleveland St,MELROSE,178,POINT (234977.387 911544.999)
7808,15976,Wyoming Ave @ Cleveland St,MELROSE,178,POINT (234971.098 911547.184)
7809,5912,Grove St @ Faxon St,MELROSE,178,POINT (236456.969 911577.351)

In [140]:
census_tract_gdf

,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,MTFCC10,ALAND10,AWATER10,INTPTLAT10,...,AREA_ACRES,POP100_RE,HU100_RE,LOGPL94171,LOGSF1,LOGACS0610,LOGSF1C,SHAPE_AREA,SHAPE_LEN,geometry
0,25,021,418003,25021418003,4180.03,Census Tract 4180.03,G5020,1705668.0,2936.0,+42.2350240,...,422.1740,2481,1350,0141872,123764,0003690,0123764,1.708484e+06,6274.185034,"POLYGON ((240678.759 886748.073, 240607.995 88..."
1,25,021,417701,25021417701,4177.01,Census Tract 4177.01,G5020,1543651.0,12275.0,+42.2523398,...,384.4502,5417,2983,0141838,123730,0003683,0123730,1.555821e+06,6229.137913,"POLYGON ((240969.666 890122.806, 240985.156 89..."
2,25,021,417702,25021417702,4177.02,Census Tract 4177.02,G5020,1685529.0,317947.0,+42.2582818,...,416.4918,2765,1109,0141843,123735,0003684,0123735,1.685489e+06,8542.498286,"POLYGON ((242328.221 890545.050, 242276.888 89..."
3,25,021,418102,25021418102,4181.02,Census Tract 4181.02,G5020,771203.0,2371.0,+42.2470410,...,191.1397,3377,1676,0141882,123774,0003693,0123774,7.735182e+05,4540.296101,"POLYGON ((240372.666 888331.030, 240393.057 88..."
4,25,021,418004,25021418004,4180.04,Census Tract 4180.04,G5020,1316466.0,0.0,+42.2383744,...,325.2812,4280,1987,0141874,123766,0003691,0123766,1.316372e+06,5854.497366,"POLYGON ((240687.299 888298.408, 240700.449 88..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,25,027,709501,25027709501,7095.01,Census Tract 7095.01,G5020,5484847.0,0.0,+42.5343643,...,1355.2791,2149,809,0189917,171462,0004065,0171462,5.484642e+06,9858.734830,"POLYGON ((182231.394 921599.665, 182405.418 92..."
1468,25,027,709502,25027709502,7095.02,Census Tract 7095.02,G5020,6089034.0,1287.0,+42.5573788,...,1504.8969,5670,2488,0189919,171464,0004066,0171464,6.090126e+06,11906.751110,"POLYGON ((181045.532 923444.745, 181902.923 92..."
1469,25,027,730801,25027730801,7308.01,Census Tract 7308.01,G5020,3158638.0,7980.0,+42.2816214,...,782.4305,3665,1557,0190133,171678,0004114,0171678,3.166396e+06,9559.778037,"POLYGON ((174482.678 891951.535, 174407.978 89..."
1470,25,027,710800,25027710800,7108,Census Tract 7108,G5020,2337125.0,0.0,+42.5913348,...,577.4996,4539,1940,0189967,171512,0004077,0171512,2.337067e+06,9574.497510,"POLYGON ((176303.717 926403.339, 176284.512 92..."
1471,25,027,732600,25027732600,7326,Census Tract 7326,G5020,604374.0,0.0,+42.2467317,...,149.3328,4253,1897,0190246,171791,0004141,0171791,6.043307e+05,3476.741062,"POLYGON ((175670.345 888901.313, 175670.642 88..."

In [141]:
median_income_for_tract_gdf

      Unnamed: 0  B19013_001E  state  county   tract
0              0       132750     25      25   60501
1              1        12759     25      25   61101
2              2        84083     25      25   70101
3              3        28851     25      25   70402
4              4        52676     25      25   71101
...          ...          ...    ...     ...     ...
1472        1472        69750     25       5  613902
1473        1473        52741     25       5  630101
1474        1474        58362     25       5  630102
1475        1475        34692     25       5  640901
1476        1476        17632     25       5  641101

[1477 rows x 5 columns]

Then traverse through bus stops to indentify which tracts they are in.

In [142]:
def tract_for_stop(busstop_gdf, census_tract_gdf):
    """
    This frunction takes in busstop and tract data in geoDataFrame.
    Returns a dictionary in {stop_id: tract_id} format
    """
    stopid_tract_dict = {}
    
    points = busstop_gdf.geometry
    polygons = census_tract_gdf.geometry
    
    stop_ids = busstop_gdf['STOP_ID']
    tract_ids = census_tract_gdf['TRACTCE10']
    
    for i in range(len(busstop_gdf)):
        stopid = stop_ids[i]
        point = points[i]
        for j in range(len(census_tract_gdf)):
            tractid = tract_ids[j]
            polygon = polygons[j]
            if point.within(polygon):
                stopid_tract_dict[stopid] = tractid
                break;
    
    return stopid_tract_dict

In [72]:
stopid_tract_dict = tract_for_stop(busstop_gdf, census_tract_gdf)
stopid_tract_dict

{3077: '100700',
 841: '130200',
 446: '100300',
 847: '130200',
 3079: '100800',
 8687: '100800',
 808: '130200',
 33076: '100700',
 39870: '510200',
 3988: '510100',
 3989: '421100',
 3987: '421100',
 3990: '421100',
 3986: '421100',
 3991: '421100',
 3985: '421100',
 3984: '421100',
 3992: '421100',
 39941: '421100',
 39942: '421100',
 3993: '421100',
 3994: '421100',
 3982: '421100',
 3996: '421100',
 3981: '421100',
 4232: '457100',
 3980: '421100',
 3997: '421100',
 4233: '457100',
 3998: '421100',
 3979: '421100',
 14233: '457100',
 4234: '457100',
 4230: '457100',
 3999: '421100',
 3978: '421100',
 4229: '420302',
 4235: '420302',
 3977: '421100',
 4000: '421100',
 4236: '420302',
 3199: '417701',
 111720: '416200',
 4376: '416400',
 2784: '140107',
 3042: '417701',
 3659: '422800',
 3642: '422800',
 111823: '501101',
 4332: '416400',
 3355: '418200',
 3035: '417701',
 3394: '418200',
 111747: '416200',
 6509: '140300',
 111239: '501101',
 3240: '417702',
 3288: '417702',
 3315: '417802',
 3300: '417802',
 61872: '402102',
 3356: '416400',
 1617: '130406',
 2817: '140107',
 3393: '416400',
 1616: '130406',
 14331: '416400',
 1620: '130406',
 76378: '140300',
 1615: '130406',
 3560: '501102',
 3595: '501102',
 16358: '140300',
 4378: '416400',
 3094: '418101',
 4331: '416400',
 3641: '422800',
 10833: '402101',
 3043: '417701',
 3358: '416400',
 3316: '417802',
 3198: '417602',
 618: '130404',
 3392: '416400',
 3034: '417701',
 3299: '417802',
 6466: '140300',
 43781: '416400',
 4144: '416200',
 619: '130406',
 3359: '416400',
 4203: '416101',
 3391: '416400',
 6521: '140102',
 8950: '980700',
 4409: '416400',
 4405: '416300',
 4400: '416400',
 4410: '416400',
 4399: '416400',
 3317: '417802',
 4404: '416300',
 3298: '417802',
 4143: '416300',
 3033: '417701',
 4401: '416400',
 4408: '416400',
 6377: '140300',
 6359: '140300',
 3318: '417802',
 6508: '140300',
 3297: '417802',
 3462: '417100',
 2785: '140107',
 3389: '416400',
 3197: '417602',
 4411: '416400',
 620: '130406',
 3320: '417802',
 4398: '416400',
 3295: '417802',
 1614: '980700',
 2816: '140107',
 1621: '980700',
 3489: '417100',
 3321: '417802',
 3360: '416400',
 4362: '416300',
 3488: '416400',
 3045: '417602',
 3463: '416400',
 4204: '416300',
 3032: '417602',
 4142: '416300',
 3490: '417100',
 3196: '417602',
 3461: '417100',
 3373: '100800',
 633: '110502',
 8814: '100700',
 843: '130300',
 845: '130300',
 514: '100400',
 604: '110502',
 30751: '417200',
 48812: '100700',
 493: '100400',
 85566: '130100',
 528: '100200',
 6461: '110403',
 443: '100200',
 541: '100200',
 3131: '417502',
 6432: '110403',
 33761: '100800',
 810: '130300',
 5260: '130300',
 3372: '100800',
 8393: '130100',
 5212: '130300',
 3162: '417501',
 515: '100400',
 10633: '110502',
 30631: '417200',
 534: '100800',
 3377: '100800',
 10603: '110502',
 492: '100400',
 536: '100800',
 842: '130200',
 445: '100200',
 3371: '100700',
 1730: '101102',
 846: '130200',
 6479: '110201',
 46500: '110301',
 1713: '101101',
 61852: '457200',
 82437: '457200',
 33691: '100700',
 3378: '100700',
 38812: '100700',
 38814: '100700',
 3370: '100800',
 441: '100200',
 6462: '110401',
 527: '100200',
 782: '130300',
 6431: '110401',
 542: '100200',
 13378: '100700',
 3078: '100700',
 76495: '110201',
 8394: '130100',
 85565: '130100',
 634: '110502',
 491: '100400',
 603: '110502',
 5259: '130300',
 33077: '100700',
 5213: '130300',
 516: '100400',
 440: '100300',
 4058: '420301',
 4277: '420301',
 26625: '411301',
 26634: '411301',
 4191: '420301',
 4057: '420301',
 40618: '411200',
 3905: '421200',
 3893: '421200',
 45618: '411200',
 4190: '420302',
 14056: '420301',
 4063: '420301',
 111667: '415101',
 111796: '415101',
 26635: '411301',
 4278: '420301',
 26624: '411301',
 4189: '420301',
 4061: '420301',
 3906: '421200',
 4056: '420301',
 3892: '421200',
 61847: '411200',
 39618: '411200',
 4188: '420301',
 4279: '420301',
 38618: '413500',
 46618: '413500',
 3907: '421200',
 37618: '413500',
 47618: '413500',
 4187: '420301',
 4064: '420301',
 3891: '421200',
 4280: '420301',
 4055: '420301',
 4186: '420301',
 4281: '420301',
 48618: '413500',
 111678: '415300',
 26622: '413402',
 26637: '413402',
 111787: '415300',
 33618: '413500',
 4286: '420201',
 13828: '422200',
 4069: '420100',
 4181: '420201',
 4049: '420100',
 3912: '419600',
 3886: '419600',
 4070: '420100',
 61851: '413500',
 4048: '420100',
 32638: '413500',
 14180: '420201',
 4180: '420201',
 4288: '420201',
 4071: '420100',
 3913: '419600',
 4047: '420100',
 3885: '419600',
 52618: '413500',
 26621: '413402',
 32628: '413500',
 13832: '422200',
 26638: '413402',
 13827: '422100',
 4046: '420100',
 3884: '419600',
 53618: '413500',
 4072: '420100',
 31628: '413100',
 23832: '422301',
 4289: '420201',
 23826: '422301',
 4179: '420100',
 3883: '419600',
 54618: '413100',
 3915: '419600',
 4073: '420100',
 4045: '420100',
 26620: '413402',
 26639: '413402',
 3916: '419600',
 4178: '420201',
 3882: '419600',
 4074: '420100',
 31618: '413401',
 4044: '420100',
 4290: '420201',
 4177: '420201',
 30618: '413401',
 55618: '413401',
 13826: '422302',
 13833: '422302',
 4291: '420201',
 4175: '420201',
 111685: '415300',
 111781: '415300',
 3917: '419600',
 3881: '419700',
 29618: '413401',
 4075: '420100',
 26619: '413401',
 26640: '413401',
 4043: '420100',
 56618: '413401',
 13834: '422301',
 13825: '422301',
 4292: '420202',
 4076: '420100',
 4042: '420100',
 4174: '420202',
 28618: '413401',
 57618: '413401',
 4293: '420100',
 4077: '420100',
 4041: '420100',
 4173: '420202',
 3879: '419700',
 3918: '419700',
 13824: '422302',
 13835: '422302',
 4294: '420202',
 27618: '413401',
 61857: '413401',
 4078: '420100',
 38771: '419700',
 4040: '420100',
 23823: '422302',
 23835: '422302',
 4172: '420202',
 42951: '420202',
 10618: '402101',
 4379: '418200',
 6357: '140300',
 12783: '140107',
 3559: '501102',
 38815: '100700',
 1731: '101102',
 3133: '417501',
 11712: '101101',
 10426: '110301',
 526: '101102',
 439: '100300',
 447: '100300',
 6430: '110401',
 853: '130100',
 334: '100800',
 6463: '110401',
 3160: '417502',
 840: '130200',
 848: '130200',
 543: '100100',
 490: '100500',
 10422: '110301',
 81438: '457200',
 517: '100500',
 4062: '420301',
 4054: '420301',
 39081: '419600',
 3890: '419600',
 4282: '420301',
 4185: '420301',
 61848: '413500',
 36618: '413500',
 3889: '419600',
 3909: '419600',
 4283: '420301',
 4053: '420301',
 4065: '420301',
 4184: '420301',
 111672: '415101',
 111791: '415101',
 13830: '422200',
 3888: '419600',
 49618: '413500',
 26623: '413402',
 26636: '413402',
 3910: '419600',
 4183: '420301',
 4052: '420301',
 4284: '420301',
 35618: '413500',
 4182: '420201',
 4285: '420201',
 4066: '420301',
 34618: '413500',
 50618: '413500',
 4067: '420301',
 13831: '422100',
 13829: '422200',
 3887: '419600',
 4051: '420100',
 3911: '419600',
 51618: '413500',
 4050: '420100',
 4228: '420302',
 111640: '415102',
 4001: '421100',
 3976: '421100',
 4237: '420302',
 4002: '421100',
 3975: '421100',
 4238: '420302',
 4227: '420302',
 4239: '420302',
 14225: '420302',
 4003: '421100',
 111815: '415102',
 111642: '415102',
 3973: '421200',
 4240: '420302',
 4225: '420302',
 79618: '411200',
 91618: '411200',
 4004: '421100',
 4224: '420302',
 4241: '420302',
 3972: '421100',
 98618: '411302',
 86618: '411302',
 87618: '411301',
 87619: '411301',
 85618: '411200',
 97618: '411200',
 96618: '411200',
 84618: '411200',
 95618: '411200',
 83618: '411100',
 94618: '411100',
 3971: '421200',
 82618: '411100',
 93618: '411200',
 81618: '411200',
 80618: '411200',
 92618: '411200',
 4223: '420302',
 4242: '420302',
 26630: '411302',
 3970: '421100',
 90618: '411200',
 26629: '411302',
 78618: '411200',
 4006: '421100',
 4243: '420302',
 111648: '415102',
 4007: '421200',
 111810: '415102',
 4222: '420302',
 3969: '421100',
 89618: '411200',
 77618: '411200',
 42430: '420302',
 4008: '421100',
 4221: '420302',
 3968: '421100',
 4009: '421100',
 26631: '411301',
 4220: '420302',
 4244: '420302',
 26628: '411301',
 3967: '421200',
 111653: '415102',
 111806: '415102',
 88618: '411200',
 76618: '411200',
 4245: '420302',
 4219: '420302',
 4010: '421100',
 3966: '421200',
 4246: '420302',
 3900: '421200',
 4256: '420301',
 4218: '420302',
 4254: '420301',
 111656: '415102',
 111803: '415102',
 3897: '421200',
 4255: '420301',
 89619: '411200',
 4247: '420302',
 75618: '411200',
 4217: '420302',
 26632: '411301',
 4257: '420302',
 4253: '420302',
 3901: '421200',
 4248: '420302',
 89617: '411200',
 111660: '415102',
 26627: '411200',
 3896: '421200',
 73619: '411200',
 4216: '420302',
 111801: '415101',
 4249: '420302',
 4215: '420302',
 42618: '411200',
 4214: '420302',
 3895: '421200',
 73618: '411200',
 3902: '421200',
 26633: '411301',
 43618: '411200',
 26626: '411301',
 4250: '420302',
 61842: '411200',
 4258: '420302',
 4252: '420302',
 3903: '421200',
 41618: '411200',
 44618: '411200',
 3894: '421200',
 4275: '420301',
 2924: '090100',
 347: '091600',
 111152: '500101',
 111907: '500101',
 2920: '090100',
 2007: '120104',
 1514: '091700',
 5243: '120105',
 1469: '091700',
 5229: '981000',
 319: '091600',
 111146: '500101',
 5234: '120201',
 71187: '120201',
 8540: '374000',
 563: '091900',
 551: '091800',
 550: '091900',
 8492: '373900',
 10522: '980300',
 11587: '980300',
 564: '091800',
 473: '090100',
 1513: '091800',
 5235: '120201',
 2925: '090200',
 2919: '090200',
 468: '090100',
 81835: '401200',
 1470: '091700',
 9448: '082100',
 31916: '401200',
 414: '082100',
 5230: '120105',
 15241: '120105',
 85287: '374000',
 384: '090100',
 549: '090200',
 348: '091600',
 565: '090200',
 2006: '120104',
 84882: '374000',
 2926: '090200',
 469: '090100',
 318: '091600',
 2918: '090200',
 1471: '091800',
 566: '090200',
 82136: '403500',
 472: '090100',
 8539: '373900',
 1512: '091700',
 81445: '403500',
 3159: '417501',
 448: '100300',
 635: '110502',
 489: '100500',
 3080: '100800',
 96500: '110301',
 1732: '100200',
 518: '100500',
 438: '100300',
 795: '110502',
 6022: '110502',
 5257: '130300',
 839: '130200',
 849: '130200',
 833: '130100',
 85564: '130100',
 804: '130300',
 787: '130300',
 10419: '110301',
 803: '110607',
 788: '110607',
 807: '130200',
 802: '110501',
 789: '110501',
 4171: '420202',
 3921: '419700',
 58618: '413401',
 3877: '419700',
 14039: '419800',
 4297: '420202',
 3922: '419700',
 3876: '419700',
 26618: '413401',
 59618: '413401',
 4169: '420100',
 4298: '420100',
 4079: '419800',
 3667: '422700',
 19618: '402500',
 4414: '419300',
 4308: '416101',
 4159: '416101',
 39673: '418002',
 4092: '418200',
 38483: '418002',
 121019: '416102',
 41035: '418004',
 3796: '419400',
 1644: '418200',
 3722: '419400',
 121008: '416102',
 41032: '418004',
 3947: '418004',
 3701: '422700',
 3851: '418004',
 3666: '422700',
 4309: '416101',
 39672: '418002',
 4158: '416101',
 4093: '418200',
 1643: '418200',
 38482: '418002',
 3572: '501101',
 1633: '418004',
 3850: '418002',
 4426: '418002',
 4103: '418004',
 4413: '418002',
 5214: '130300',
 5258: '130300',
 56500: '110301',
 397: '100400',
 783: '130200',
 51852: '457200',
 56495: '110201',
 6480: '110301',
 6464: '110502',
 525: '101101',
 852: '130100',
 8686: '100800',
 3134: '417501',
 81391: '080801',
 1523: '081001',
 1558: '081001',
 1027: '000502',
 156: '060800',
 1254: '080601',
 1280: '400500',
 290: '060800',
 1798: '010405',
 159: '060800',
 1289: '400500',
 292: '060800',
 1228: '080601',
 15176: '071101',
 252: '060700',
 10015: '071101',
 1784: '080801',
 1799: '080801',
 880: '060501',
 1787: '071101',
 10013: '071201',
 1780: '081001',
 5091: '071101',
 4392: '418101',
 3555: '501102',
 6402: '140202',
 4341: '416101',
 3636: '417701',
 3599: '501102',
 111756: '416200',
 3556: '501102',
 3517: '417701',
 3638: '417701',
 70618: '402400',
 3518: '417701',
 23402: '418101',
 13402: '418101',
 3639: '417701',
 3564: '501102',
 3591: '501102',
 3516: '417701',
 6401: '140202',
 4319: '418101',
 6398: '140202',
 32912: '417701',
 4391: '418101',
 4340: '416101',
 3308: '417802',
 4368: '416101',
 4339: '416101',
 64171: '140202',
 4149: '416101',
 3654: '422800',
 4370: '416400',
 4338: '416101',
 3515: '417701',
 3647: '422800',
 13400: '418200',
 4320: '418101',
 4390: '418101',
 111244: '501101',
 111818: '501101',
 64001: '140202',
 6418: '140202',
 3309: '417802',
 3400: '418200',
 4371: '416400',
 3349: '418200',
 55600: '092200',
 322: '092200',
 84880: '374000',
 85289: '374000',
 478: '092000',
 111881: '500101',
 3150: '417300',
 463: '091900',
 111179: '500101',
 556: '092000',
 1892: '401200',
 8488: '374000',
 41836: '401200',
 323: '092200',
 557: '092000',
 8543: '373900',
 5227: '981000',
 11839: '130100',
 11521: '110103',
 5245: '120105',
 3148: '417400',
 875: '110103',
 8750: '110103',
 82137: '403500',
 555: '092000',
 521: '110103',
 382: '092400',
 81444: '403500',
 10642: '110103',
 345: '092101',
 21587: '980300',
 522: '980300',
 477: '091900',
 465: '091900',
 31836: '401200',
 547: '120201',
 558: '092000',
 1893: '401200',
 520: '110103',
 3149: '417400',
 554: '092000',
 559: '091700',
 346: '092101',
 320: '091600',
 18542: '374000',
 8489: '374000',
 416: '980300',
 2922: '980300',
 560: '091700',
 1565: '980300',
 553: '091700',
 1895: '401200',
 11837: '401200',
 8542: '373900',
 8490: '374000',
 5228: '981000',
 5233: '120201',
 2923: '090100',
 383: '090100',
 5244: '120105',
 561: '092000',
 1587: '980300',
 8541: '373900',
 8491: '373900',
 415: '090100',
 475: '090200',
 467: '090200',
 2904: '090100',
 18144: '403500',
 2921: '090100',
 552: '091800',
 1515: '091800',
 562: '091800',
 8144: '403500',
 1468: '091800',
 1936: '120201',
 111159: '500101',
 111900: '500101',
 21916: '401200',
 11836: '401200',
 4081: '419800',
 111691: '415300',
 4037: '419800',
 111775: '415300',
 4300: '420202',
 13858: '422302',
 13859: '422501',
 4167: '420202',
 13837: '422302',
 3925: '419800',
 13822: '422302',
 61618: '413200',
 3873: '419800',
 13857: '422501',
 24628: '413200',
 4166: '420202',
 4301: '420202',
 24618: '413200',
 61861: '413200',
 4082: '419800',
 13844: '422501',
 4036: '419800',
 13856: '422501',
 62618: '413200',
 3926: '419800',
 43011: '420202',
 3872: '419800',
 23618: '413200',
 63618: '413200',
 13821: '422302',
 13838: '422302',
 4165: '420202',
 3782: '419800',
 4031: '419800',
 13839: '422400',
 13845: '422501',
 13820: '422400',
 3781: '419800',
 14301: '419800',
 13855: '422501',
 121013: '415300',
 3819: '422400',
 4014: '419800',
 3820: '422400',
 13843: '422400',
 4027: '419800',
 91619: '413200',
 3931: '419100',
 4085: '419100',
 3867: '419100',
 3816: '422400',
 13849: '422501',
 13852: '422501',
 3933: '419100',
 32619: '413200',
 47620: '413200',
 3866: '419100',
 3821: '422400',
 4033: '419100',
 4015: '419100',
 11482: '091400',
 1185: '081500',
 354: '090700',
 1167: '081500',
 11131: '120600',
 8533: '373800',
 17000: '373800',
 8499: '373800',
 17001: '373900',
 1572: '090400',
 1581: '090400',
 1335: '081700',
 1344: '081700',
 1216: '081300',
 139: '090901',
 41111: '090901',
 1160: '120400',
 1265: '081300',
 393: '081800',
 405: '081700',
 1168: '081500',
 11609: '120600',
 303: '090700',
 84886: '374200',
 1184: '081500',
 135: '090700',
 123: '090700',
 1500: '090400',
 14831: '090400',
 85283: '374200',
 138: '090901',
 8206: '374200',
 8153: '374200',
 11390: '010600',
 8192: '373400',
 79: '010701',
 93: '010701',
 1300: '000602',
 8520: '373500',
 1268: '000602',
 11219: '061200',
 1809: '010204',
 11302: '400300',
 8993: '010104',
 1239: '070300',
 7652: '374600',
 1376: '400300',
 71855: '010600',
 1564: '010104',
 8171: '373200',
 8186: '373200',
 7856: '373200',
 21773: '353102',
 1116: '000803',
 7818: '368600',
 7804: '373200',
 1189: '000803',
 7841: '368600',
 99: '353101',
 86967: '368600',
 1814: '353200',
 74: '353101',
 1119: '353300',
 81687: '374600',
 28310: '030300',
 8172: '373200',
 7600: '368400',
 8185: '373200',
 76592: '368600',
 7739: '374600',
 30203: '030300',
 49702: '030300',
 88345: '368400',
 109858: '180500',
 8173: '370102',
 1043: '000100',
 1120: '353300',
 109848: '180500',
 8183: '370102',
 8174: '370102',
 1117: '353400',
 1762: '353300',
 1077: '000100',
 2554: '000802',
 2560: '000802',
 78202: '374700',
 1112: '000802',
 7634: '373100',
 7641: '373100',
 1199: '000601',
 1100: '000201',
 1206: '000201',
 1107: '000601',
 904: '373100',
 987: '373100',
 8189: '373300',
 1811: '353200',
 7837: '374700',
 1193: '000802',
 81681: '373300',
 2837: '040401',
 4083: '419100',
 4035: '419800',
 22618: '413200',
 3783: '419800',
 14030: '419800',
 3780: '419800',
 14302: '419800',
 3928: '419800',
 3870: '419800',
 13840: '422400',
 13819: '422400',
 4011: '419800',
 34619: '413200',
 46619: '413200',
 4030: '419800',
 3869: '419800',
 13846: '422501',
 13854: '422501',
 13841: '422400',
 13818: '422400',
 4012: '419800',
 3868: '419800',
 4029: '419800',
 4084: '419100',
 4034: '419100',
 121011: '415300',
 13842: '422400',
 3930: '419800',
 13817: '422400',
 33619: '413200',
 47619: '413200',
 3817: '422400',
 4013: '419800',
 13853: '422501',
 13848: '422501',
 4028: '419800',
 38671: '419800',
 ...}

Then add a column 'TRACT_ID' in bus stop data

In [143]:
busstop_gdf['TRACT_ID'] = stopid_tract_dict.values()
busstop_gdf

,STOP_ID,STOP_NAME,TOWN,TOWN_ID,geometry,TRACT_ID
0,3077,Gallivan Blvd @ opp Marsh St,BOSTON,35,POINT (237120.669 892643.408),100700
1,841,Lagrange St @ Virgil Rd,BOSTON,35,POINT (227915.195 892644.017),130200
2,446,Norfolk St @ Nelson St,BOSTON,35,POINT (234385.661 892644.944),100300
3,847,Lagrange St opp Virgil St,BOSTON,35,POINT (227912.601 892650.156),130200
4,3079,Adams St @ Minot St,BOSTON,35,POINT (236644.812 892651.990),100800
...,...,...,...,...,...,...
7805,9097,Grove St @ Lebanon St,MELROSE,178,POINT (236229.381 911541.866),336300
7806,5911,Grove St @ Lebanon St,MELROSE,178,POINT (236236.036 911542.538),336300
7807,5975,Wyoming Ave opp Cleveland St,MELROSE,178,POINT (234977.387 911544.999),336402
7808,15976,Wyoming Ave @ Cleveland St,MELROSE,178,POINT (234971.098 911547.184),336402
7809,5912,Grove St @ Faxon St,MELROSE,178,POINT (236456.969 911577.351),336300

Then assign median income for each stop by 'TRACT_ID'

In [169]:
def get_tract_income_dict():
    tract_income_dict = {}
    
    # need to convert entries of type <numpy.int64> into a 6-digit string
    incomes = median_income_for_tract_gdf['B19013_001E']
    tracts = [str(x).zfill(6) for x in median_income_for_tract_df['tract']]
    for i in range(len(median_income_for_tract_df)):
        tract_income_dict[tracts[i]] = incomes[i]
    return tract_income_dict

def get_income_for_tract(tracts, tract_income_dict):
    incomes = []
    for tract in tracts:
        incomes.append(tract_income_dict[tract])
    return incomes

In [170]:
tract_income_dict = get_tract_income_dict()
incomes = get_income_for_tract(busstop_gdf['TRACT_ID'], tract_income_dict)

Then add a column 'income' in bus stop data

In [171]:
busstop_gdf['income'] = incomes
busstop_gdf

,STOP_ID,STOP_NAME,TOWN,TOWN_ID,geometry,TRACT_ID,income
0,3077,Gallivan Blvd @ opp Marsh St,BOSTON,35,POINT (237120.669 892643.408),100700,87063
1,841,Lagrange St @ Virgil Rd,BOSTON,35,POINT (227915.195 892644.017),130200,109034
2,446,Norfolk St @ Nelson St,BOSTON,35,POINT (234385.661 892644.944),100300,51736
3,847,Lagrange St opp Virgil St,BOSTON,35,POINT (227912.601 892650.156),130200,109034
4,3079,Adams St @ Minot St,BOSTON,35,POINT (236644.812 892651.990),100800,88425
...,...,...,...,...,...,...,...
7805,9097,Grove St @ Lebanon St,MELROSE,178,POINT (236229.381 911541.866),336300,120436
7806,5911,Grove St @ Lebanon St,MELROSE,178,POINT (236236.036 911542.538),336300,120436
7807,5975,Wyoming Ave opp Cleveland St,MELROSE,178,POINT (234977.387 911544.999),336402,79969
7808,15976,Wyoming Ave @ Cleveland St,MELROSE,178,POINT (234971.098 911547.184),336402,79969
7809,5912,Grove St @ Faxon St,MELROSE,178,POINT (236456.969 911577.351),336300,120436

Save the bus stop data into a new csv file

In [173]:
df = pd.DataFrame(busstop_gdf.drop(columns='geometry'))
df.to_csv("./output/stops_with_income.csv")

## Step 2: Income level assignment
Assign an income level to each stop based on the census tract data

**No need to run blocks above!!**
Here we use the income group standard according to [Pew Research](http://www.pewsocialtrends.org/2015/12/09/the-american-middle-class-is-losing-ground/), which shows as follows:

| LEVEL | INCOME GROUP | INCOME/\$ |
| :- | :- | -: |
| 0 | Lowest income | 31,000 or less|
| 1 | Lower-middle income | 31,000 - 42,000 |
| 2 | Middle-income | 42,000 - 126,000 |
| 3 | Upper-middle income | 126,000 - 188,000 |
| 4 | Higher-income | 188,000 or more |

In [177]:
# read result csv generated from step one
busstop_df = pd.read_csv("./output/stops_with_income.csv")
busstop_df

,Unnamed: 0,STOP_ID,STOP_NAME,TOWN,TOWN_ID,TRACT_ID,income
0,0,3077,Gallivan Blvd @ opp Marsh St,BOSTON,35,100700,87063
1,1,841,Lagrange St @ Virgil Rd,BOSTON,35,130200,109034
2,2,446,Norfolk St @ Nelson St,BOSTON,35,100300,51736
3,3,847,Lagrange St opp Virgil St,BOSTON,35,130200,109034
4,4,3079,Adams St @ Minot St,BOSTON,35,100800,88425
...,...,...,...,...,...,...,...
7805,7805,9097,Grove St @ Lebanon St,MELROSE,178,336300,120436
7806,7806,5911,Grove St @ Lebanon St,MELROSE,178,336300,120436
7807,7807,5975,Wyoming Ave opp Cleveland St,MELROSE,178,336402,79969
7808,7808,15976,Wyoming Ave @ Cleveland St,MELROSE,178,336402,79969
7809,7809,5912,Grove St @ Faxon St,MELROSE,178,336300,120436

In [178]:
income_level = []

incomes = busstop_df['income']
for income in incomes:
    if income < 31000:
        income_level.append(0)
    elif 31000 <= income < 42000:
        income_level.append(1)
    elif 42000 <= income < 126000:
        income_level.append(2)
    elif 126000 <= income < 188000:
        income_level.append(3)
    elif 188000 <= income:
        income_level.append(4)

In [179]:
busstop_df['income_level'] = income_level
busstop_df

,Unnamed: 0,STOP_ID,STOP_NAME,TOWN,TOWN_ID,TRACT_ID,income,income_level
0,0,3077,Gallivan Blvd @ opp Marsh St,BOSTON,35,100700,87063,2
1,1,841,Lagrange St @ Virgil Rd,BOSTON,35,130200,109034,2
2,2,446,Norfolk St @ Nelson St,BOSTON,35,100300,51736,2
3,3,847,Lagrange St opp Virgil St,BOSTON,35,130200,109034,2
4,4,3079,Adams St @ Minot St,BOSTON,35,100800,88425,2
...,...,...,...,...,...,...,...,...
7805,7805,9097,Grove St @ Lebanon St,MELROSE,178,336300,120436,2
7806,7806,5911,Grove St @ Lebanon St,MELROSE,178,336300,120436,2
7807,7807,5975,Wyoming Ave opp Cleveland St,MELROSE,178,336402,79969,2
7808,7808,15976,Wyoming Ave @ Cleveland St,MELROSE,178,336402,79969,2
7809,7809,5912,Grove St @ Faxon St,MELROSE,178,336300,120436,2

In [181]:
# Save to csv file
busstop_df.to_csv("./output/stops_with_incomeLevel.csv")