In [1]:
import pandas as pd
import numpy as np


X = pd.read_csv('upated-raw_data.csv', parse_dates = True, low_memory = False)
print(X.shape)

(1796941, 14)

In [2]:
X1 = X.drop(X.index[104],axis = 0)
X2 = X1.drop(X.index[69],axis = 0)
X3 = X2.drop(X.index[34],axis = 0)

In [3]:
X3 = X3.values
print(X3[0])

#X3 = X3[1:]

['[2020-10-08 15:26:29] production_jobs.INFO: 8' '147'
 '2018-09-26 12:19:32' '2018-09-25 21:05:24' '2018-09-27 09:30:53'
 'Welcome to Journey' 'INTERNAL_VIDEO' 'Welcome ' '0' nan 'Web'
 'Direct Connection' 'eDE0NzY2Mg==' '-  ']

In [4]:
res_list = X3.T.tolist()
b = list(set(res_list[10]))

device = X3[:,10]
for i in range(len(device)):
    if device[i] == 'Device':
        print(i)
        
content_type = X3[:,6]
for i in range(len(content_type)):
    if content_type[i] == 'Content Type':
        print(i)
#print(b)

In [5]:

device = X3[:,10]
#print(device)
channel = X3[:,11]
#print(channel)
content_type = X3[:,6]
#print(content_type)
for i in range(len(device)):
    if device[i] == 'Android':
        device[i] = 4
    elif device[i] == 'iOS':
        device[i] = 3    
    elif device[i] == 'Web':
        device[i] = 2 
    elif device[i] == 'Mobile Web (Tablet)':
        device[i] = 1
    elif device[i] == 'Mobile Web':
        device[i] = 5
    else:
        device[i] = 0
#print(device)

for i in range(len(channel)):
    if channel[i] == 'Mobile Notification':
        channel[i] = 2
    elif channel[i] == 'From Email':
        channel[i] = 1
    elif channel[i] == 'Direct Connection':
        channel[i] = 3
    else:
        channel[i] = 0
#print(channel)

content_type_list = ['KEY_CONTACT_NEWHIRE', 'EXTERNAL_ARTICLE', 'CHECKLIST', 'KNOWLEDGE_REQUIREMENT_NEWHIRE', 'BOOK_SUGGESTION', 'QUIZ', 'KEY_CONTACT_MANAGER', 'EXTERNAL_VIDEO', 'SURVEY', 'MEETING', 'LIVE_EVENT', 'INTERNAL_ARTICLE', 'FLIPBOOK', 'KNOWLEDGE_REQUIREMENT_MANAGER', 'INFOGRAPHIC', 'Content Type', 'INTERNAL_VIDEO', 'QUOTES']

for i in range(len(content_type)):
    if content_type[i] == content_type_list[0]:
        content_type[i] = 17
    elif content_type[i] == content_type_list[1]:
        content_type[i] = 1
    elif content_type[i] == content_type_list[2]:
        content_type[i] = 2
    elif content_type[i] == content_type_list[3]:
        content_type[i] = 3
    elif content_type[i] == content_type_list[4]:
        content_type[i] = 4
    elif content_type[i] == content_type_list[5]:
        content_type[i] = 5
    elif content_type[i] == content_type_list[6]:
        content_type[i] = 6
    elif content_type[i] == content_type_list[7]:
        content_type[i] = 7
    elif content_type[i] == content_type_list[8]:
        content_type[i] = 8
    elif content_type[i] == content_type_list[9]:
        content_type[i] = 9
    elif content_type[i] == content_type_list[10]:
        content_type[i] = 10
    elif content_type[i] == content_type_list[11]:
        content_type[i] = 11
    elif content_type[i] == content_type_list[12]:
        content_type[i] = 12
    elif content_type[i] == content_type_list[13]:
        content_type[i] = 13
    elif content_type[i] == content_type_list[14]:
        content_type[i] = 14
    elif content_type[i] == content_type_list[15]:
        content_type[i] = 15
    elif content_type[i] == content_type_list[16]:
        content_type[i] = 16
    else:
        content_type[i] = 0
#print(content_type)

In [7]:
clean_data = pd.DataFrame(X3)
clean_data.head()
#c = clean_data.values
#print(c.shape)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,[2020-10-08 15:26:29] production_jobs.INFO: 8,147,2018-09-26 12:19:32,2018-09-25 21:05:24,2018-09-27 09:30:53,Welcome to Journey,16,Welcome,0,NaN,2,3,eDE0NzY2Mg==,-
1,[2020-10-08 15:26:29] production_jobs.INFO: 9,139,2018-09-21 17:14:07,2018-09-22 10:00:02,2018-10-01 11:18:20,İnovasyoncunun Beş Alışkanlığı,14,İnovatif Bakış Açısı,100,NaN,2,3,eDEzOTY1MQ==,-
2,[2020-10-08 15:26:29] production_jobs.INFO: 9,139,2018-09-21 17:14:07,2018-09-23 10:00:59,2018-10-01 11:19:18,Peter Drucker’a göre İnovasyona Fırsat Sağlaya...,11,İnovatif Bakış Açısı,100,NaN,2,3,eDEzOTY1Mg==,-
3,[2020-10-08 15:26:29] production_jobs.INFO: 10,200,2018-10-03 09:36:25,2018-10-01 08:00:36,2018-10-03 09:48:55,Welcome to Journey,16,İnovatif Bakış Açısı,0,NaN,2,3,eDIwMDY4Ng==,-
4,[2020-10-08 15:26:29] production_jobs.INFO: 10,200,2018-10-03 09:36:25,2018-10-01 09:00:52,2018-10-03 10:38:28,Yenilikçinin İkilemi,16,İnovatif Bakış Açısı,0,NaN,2,3,eDIwMDY4Nw==,-

In [8]:
max_value = clean_data[10].mode()
clean_data[10] = clean_data[10].replace([0],max_value)
print(clean_data[10].value_counts())

3    890362
4    818486
2     51068
5     36463
1       559
Name: 10, dtype: int64

In [9]:
content_max = clean_data[6].mode()
#print(content_max)
#print(clean_data[6].value_counts())


clean_data[6] = clean_data[6].replace([0],content_max)
#print('after: ',clean_data[6].value_counts())

In [10]:
max_value = clean_data[11].mode()
clean_data[11] = clean_data[11].replace([0],max_value)
#print(clean_data[11].value_counts())

In [11]:
#clean_data.isin(['FLIPBOOK']).any()
#clean_data[1].where(clean_data[1] == 'FLIPBOOK')
clean_data.drop(clean_data[clean_data[1] == 'FLIPBOOK'].index, inplace = True)
print(clean_data.shape)

#clean_data[1] = pd.to_numeric(clean_data[1])
#print(clean_data.shape)
clean_data[1] = clean_data[1].astype('int')

(1796929, 14)

In [12]:
clean_data.columns = ['Customer Id','User Id', 'User Created At', 'Activation Date', 'Activity Date','Name', 'Content Type', 'Journey Name', 'Action', 'Duration','Device', 'Channel', 'Session Id', 'Rating']

In [13]:
clean_data.dtypes

Customer Id        object
User Id             int64
User Created At    object
Activation Date    object
Activity Date      object
Name               object
Content Type        int64
Journey Name       object
Action             object
Duration           object
Device              int64
Channel             int64
Session Id         object
Rating             object
dtype: object

In [15]:
#clean_data = clean_data[:300].groupby(['User Id'],axis=1)
#print(Grouped.size())

clean_data.groupby(['User Id'])

#print(clean_data.groupby(['User Id']).count())

group_label = clean_data.groupby(['User Id']).groups
print(group_label)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [16]:
print(type(group_label))

<class 'dict'>

In [17]:
print(group_label[1])

Int64Index([   155,    156, 235964, 235965, 235966, 235967, 235968, 235970,
            235972, 235973, 235974, 235975, 235976, 235977, 235980, 235982,
            235983, 235985, 235986],
           dtype='int64')

In [18]:
print(type(group_label[1]))

<class 'pandas.core.indexes.numeric.Int64Index'>

In [19]:
open_time = pd.DataFrame()

open_time = clean_data[['User Id','Activation Date','Activity Date']]

#diff = pd.Timestamp(open_time['Activity Date'])- pd.Timestamp(open_time['Activation Date'])
diff = pd.to_datetime(open_time['Activity Date'])- pd.to_datetime(open_time['Activation Date'])
print(diff)
open_time.insert(3, "Time lag", diff)
print(open_time)

0          1 days 12:25:29
1          9 days 01:18:18
2          8 days 01:18:19
3          2 days 01:48:19
4          2 days 01:37:36
                ...
1796933   13 days 07:12:58
1796934   13 days 08:43:04
1796935    0 days 07:13:23
1796936   13 days 07:13:26
1796937   17 days 07:13:33
Length: 1796929, dtype: timedelta64[ns]
         User Id      Activation Date        Activity Date         Time lag
0            147  2018-09-25 21:05:24  2018-09-27 09:30:53  1 days 12:25:29
1            139  2018-09-22 10:00:02  2018-10-01 11:18:20  9 days 01:18:18
2            139  2018-09-23 10:00:59  2018-10-01 11:19:18  8 days 01:18:19
3            200  2018-10-01 08:00:36  2018-10-03 09:48:55  2 days 01:48:19
4            200  2018-10-01 09:00:52  2018-10-03 10:38:28  2 days 01:37:36
...          ...                  ...                  ...              ...
1796933    44365  2020-09-25 16:00:00  2020-10-08 23:12:58 13 days 07:12:58
1796934    43068  2020-09-25 14:30:00  2020-10-08 23:13:04 13 days 08:43:04
1796935    43068  2020-10-08 16:00:00  2020-10-08 23:13:23  0 days 07:13:23
1796936    44365  2020-09-25 16:00:00  2020-10-08 23:13:26 13 days 07:13:26
1796937    44365  2020-09-21 16:00:00  2020-10-08 23:13:33 17 days 07:13:33

[1796929 rows x 4 columns]

In [22]:
import time

#when user id = 1
keys = list(group_label.keys())
key = keys[0]
index = group_label[key]
print(index)





for i in range(len(index)):
    #print(open_time.iloc(index[i]))
    #print(open_time.iloc[index[i],[2]])
    
    #open_time['Activity Date'].between_time('0:00', '2:00')
    #print(open_time.iloc[index[i],[2]])
    print(open_time.iloc[index[i],[2]].to_string())
    
    t = time.strptime(open_time.iloc[index[i],[2]].to_string(),"%Y-%m-%d %H:%M:%S")
    new = time.strftime('%Y-%m-%d %H:%M:%S', t)

dic = {'0-2':0,'2-4':0,'4-6':0,'6-8':0,'8-10':0,'10-12':0,'12-14':0,'14-16':0,'16-18':0,'18-20':0,'20-22':0,'22-24':0}



#ts.between_time('0:15', '0:45')

Int64Index([   155,    156, 235964, 235965, 235966, 235967, 235968, 235970,
            235972, 235973, 235974, 235975, 235976, 235977, 235980, 235982,
            235983, 235985, 235986],
           dtype='int64')
Activity Date    2018-10-17 16:35:35

ValueError: time data 'Activity Date    2018-10-17 16:35:35' does not match format '%Y-%m-%d %H:%M:%S'