In [83]:
import pandas as pd
import numpy as np

X = pd.read_csv('data_.csv', parse_dates = True, low_memory = False)
print(X.shape)

(1926480, 15)

In [84]:
X.columns

Index(['[2020-10-25 14:40:25] production_jobs.INFO: Customer Id', 'User Id',
       'User Created At', 'Activation Date', 'Activity Date', 'Name',
       'Content Type', 'Content Id', 'Journey Name', 'Action', 'Duration',
       'Device', 'Channel', 'Session Id', 'Rating  '],
      dtype='object')

In [85]:
X = X.values
#print(X[1])

In [86]:
res_list = X.T.tolist()
b = list(set(res_list[10]))

device = X[:,11]
for i in range(len(device)):
    if device[i] == 'Device':
        print(i)
        
content_type = X[:,6]
for i in range(len(content_type)):
    if content_type[i] == 'Content Type':
        print(i)
#print(b)

In [87]:

device = X[:,11]
#print(device)
channel = X[:,12]
#print(channel)
content_type = X[:,6]
#print(content_type)
for i in range(len(device)):
    if device[i] == 'Android':
        device[i] = 4
    elif device[i] == 'iOS':
        device[i] = 3    
    elif device[i] == 'Web':
        device[i] = 2 
    elif device[i] == 'Mobile Web (Tablet)':
        device[i] = 1
    elif device[i] == 'Mobile Web':
        device[i] = 5
    else:
        device[i] = 0
print(device)

for i in range(len(channel)):
    if channel[i] == 'Mobile Notification':
        channel[i] = 2
    elif channel[i] == 'From Email':
        channel[i] = 1
    elif channel[i] == 'Direct Connection':
        channel[i] = 3
    else:
        channel[i] = 0
#print(channel)

content_type_list = ['KEY_CONTACT_NEWHIRE', 'EXTERNAL_ARTICLE', 'CHECKLIST', 'KNOWLEDGE_REQUIREMENT_NEWHIRE', 'BOOK_SUGGESTION', 'QUIZ', 'KEY_CONTACT_MANAGER', 'EXTERNAL_VIDEO', 'SURVEY', 'MEETING', 'LIVE_EVENT', 'INTERNAL_ARTICLE', 'FLIPBOOK', 'KNOWLEDGE_REQUIREMENT_MANAGER', 'INFOGRAPHIC', 'Content Type', 'INTERNAL_VIDEO', 'QUOTES']

for i in range(len(content_type)):
    if content_type[i] == content_type_list[0]:
        content_type[i] = 17
    elif content_type[i] == content_type_list[1]:
        content_type[i] = 1
    elif content_type[i] == content_type_list[2]:
        content_type[i] = 2
    elif content_type[i] == content_type_list[3]:
        content_type[i] = 3
    elif content_type[i] == content_type_list[4]:
        content_type[i] = 4
    elif content_type[i] == content_type_list[5]:
        content_type[i] = 5
    elif content_type[i] == content_type_list[6]:
        content_type[i] = 6
    elif content_type[i] == content_type_list[7]:
        content_type[i] = 7
    elif content_type[i] == content_type_list[8]:
        content_type[i] = 8
    elif content_type[i] == content_type_list[9]:
        content_type[i] = 9
    elif content_type[i] == content_type_list[10]:
        content_type[i] = 10
    elif content_type[i] == content_type_list[11]:
        content_type[i] = 11
    elif content_type[i] == content_type_list[12]:
        content_type[i] = 12
    elif content_type[i] == content_type_list[13]:
        content_type[i] = 13
    elif content_type[i] == content_type_list[14]:
        content_type[i] = 14
    elif content_type[i] == content_type_list[15]:
        content_type[i] = 15
    elif content_type[i] == content_type_list[16]:
        content_type[i] = 16
    else:
        content_type[i] = 0
#print(content_type)

[2 2 2 ... 4 4 5]

In [88]:
clean_data = pd.DataFrame(X)
clean_data.head()
c = clean_data.values
print(c)

[['[2020-10-25 14:40:25] production_jobs.INFO: 8' '147'
  '2018-09-26 12:19:32' ... 3 'eDE0NzY2Mg==' '-  ']
 ['[2020-10-25 14:40:25] production_jobs.INFO: 9' '139'
  '2018-09-21 17:14:07' ... 3 'eDEzOTY1MQ==' '-  ']
 ['[2020-10-25 14:40:25] production_jobs.INFO: 9' '139'
  '2018-09-21 17:14:07' ... 3 'eDEzOTY1Mg==' '-  ']
 ...
 ['[2020-10-25 18:18:28] production_jobs.INFO: 20' '49199'
  '2020-10-21 09:06:20' ... 3 '2d9fe7b6-f9bd-46b6-bfa7-242e7c795e54'
  '0  ']
 ['[2020-10-25 18:18:28] production_jobs.INFO: 20' '49060'
  '2020-10-12 15:26:23' ... 3 'faec12cf-d777-46d1-8fc8-0c8907ea5921'
  '3  ']
 ['[2020-10-25 18:18:28] production_jobs.INFO: 66' '37948'
  '2020-01-22 15:25:03' ... 3 '1b1227a9-acfd-49b5-942a-10bde29eb6ee'
  '-  ']]

In [89]:
clean_data.drop(index = 1789049, axis = 0)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,[2020-10-25 14:40:25] production_jobs.INFO: 8,147,2018-09-26 12:19:32,2018-09-25 21:05:24,2018-09-27 09:30:53,Welcome to Journey,16,86,Welcome,0,NaN,2,3,eDE0NzY2Mg==,-
1,[2020-10-25 14:40:25] production_jobs.INFO: 9,139,2018-09-21 17:14:07,2018-09-22 10:00:02,2018-10-01 11:18:20,İnovasyoncunun Beş Alışkanlığı,14,94,İnovatif Bakış Açısı,100,NaN,2,3,eDEzOTY1MQ==,-
2,[2020-10-25 14:40:25] production_jobs.INFO: 9,139,2018-09-21 17:14:07,2018-09-23 10:00:59,2018-10-01 11:19:18,Peter Drucker’a göre İnovasyona Fırsat Sağlaya...,11,112,İnovatif Bakış Açısı,100,NaN,2,3,eDEzOTY1Mg==,-
3,[2020-10-25 14:40:25] production_jobs.INFO: 10,200,2018-10-03 09:36:25,2018-10-01 08:00:36,2018-10-03 09:48:55,Welcome to Journey,16,86,İnovatif Bakış Açısı,0,NaN,2,3,eDIwMDY4Ng==,-
4,[2020-10-25 14:40:25] production_jobs.INFO: 10,200,2018-10-03 09:36:25,2018-10-01 09:00:52,2018-10-03 10:38:28,Yenilikçinin İkilemi,16,100,İnovatif Bakış Açısı,0,NaN,2,3,eDIwMDY4Nw==,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926475,[2020-10-25 18:18:28] production_jobs.INFO: 66,37948,2020-01-22 15:25:03,2020-09-16 09:30:00,2020-10-25 22:16:58,Veri ve Verinin Evrimi,16,10187,Analitiğin Gizemini Çözmek,85,00:02:45,5,3,af347740-8e03-4c51-9fcb-446fe0f8cca4,-
1926476,[2020-10-25 18:18:28] production_jobs.INFO: 66,37948,2020-01-22 15:25:03,2020-09-16 09:30:00,2020-10-25 22:17:25,Veri ve Verinin Evrimi,16,10187,Analitiğin Gizemini Çözmek,100,00:00:27,5,3,af347740-8e03-4c51-9fcb-446fe0f8cca4,-
1926477,[2020-10-25 18:18:28] production_jobs.INFO: 20,49199,2020-10-21 09:06:20,2020-10-23 09:00:00,2020-10-25 22:17:47,Satış Sonrası İşlemler,12,9080,Merhaba Vodafone Ailesine Hoşgeldin!,0,00:00:00,4,3,2d9fe7b6-f9bd-46b6-bfa7-242e7c795e54,0
1926478,[2020-10-25 18:18:28] production_jobs.INFO: 20,49060,2020-10-12 15:26:23,2020-10-22 09:00:00,2020-10-25 22:17:47,Roaming Paketleri,12,9061,Merhaba Vodafone Ailesine Hoşgeldin!,69,00:01:26,4,3,faec12cf-d777-46d1-8fc8-0c8907ea5921,3
1926479,[2020-10-25 18:18:28] production_jobs.INFO: 66,37948,2020-01-22 15:25:03,2020-09-17 09:30:00,2020-10-25 22:17:50,Algoritmanın Anlamı,16,10189,Analitiğin Gizemini Çözmek,0,00:00:01,5,3,1b1227a9-acfd-49b5-942a-10bde29eb6ee,-

In [90]:
max_value = clean_data[11].mode()
clean_data[11] = clean_data[11].replace([0],max_value)
print(clean_data[11].value_counts())

3    924046
4    858524
5     90275
2     52909
1       726
Name: 11, dtype: int64

In [91]:
content_max = clean_data[6].mode()
#print(content_max)
print(clean_data[6].value_counts())


clean_data[6] = clean_data[6].replace([0],content_max)
#print('after: ',clean_data[6].value_counts())

16    591044
7     439583
12    310766
11    152680
14    149485
1     106079
5      43586
4      37358
2      34263
0      33266
8      24462
10      3126
9        710
3         32
17        20
6         18
13         2
Name: 6, dtype: int64

In [92]:
max_value = clean_data[12].mode()
clean_data[12] = clean_data[12].replace([0],max_value)
print(clean_data[12].value_counts())

3    1846348
2      52037
1      28095
Name: 12, dtype: int64

In [93]:
print(type(clean_data[1][0]))

<class 'str'>

In [94]:
#clean_data.isin(['FLIPBOOK']).any()
#clean_data[1].where(clean_data[1] == 'FLIPBOOK')
clean_data.drop(clean_data[clean_data[1] == 'FLIPBOOK'].index, inplace = True)
#print(clean_data.shape)

#clean_data[1] = pd.to_numeric(clean_data[1])
#print(clean_data.shape)
clean_data.dropna(how = 'any')
arr = {}
#clean_data[1] = round(clean_data[1]).astype('int')
#clean_data.drop(index = 1789049, axis = 0)

In [95]:
clean_data[1] = clean_data[1].fillna(0.0).astype('int')

In [96]:
print(type(clean_data))

<class 'pandas.core.frame.DataFrame'>

In [97]:
clean_data[9] = clean_data[9].replace(['nan'],'0')
clean_data[9] = clean_data[9].fillna(0.0).astype('int')

In [98]:
#clean_data.drop(index = 1789049, axis = 0)
clean_data[5] = clean_data[5].replace(['nan'],"")
clean_data[5] = clean_data[5].astype('str')

In [99]:
print(clean_data.dtypes)

0     object
1      int64
2     object
3     object
4     object
5     object
6      int64
7     object
8     object
9      int64
10    object
11     int64
12     int64
13    object
14    object
dtype: object

In [100]:
clean_data.columns = ['Customer Id','User Id', 'User Created At', 'Activation Date', 'Activity Date','Name', 'Content Type', 'Content ID','Journey Name', 'Action', 'Duration','Device', 'Channel', 'Session Id', 'Rating']

In [109]:
clean_data.dtypes
#print(clean_data)

Customer Id        object
User Id             int64
User Created At    object
Activation Date    object
Activity Date      object
Name               object
Content Type        int64
Content ID         object
Journey Name       object
Action              int64
Duration           object
Device              int64
Channel             int64
Session Id         object
Rating             object
dtype: object

In [114]:
#clean_data = clean_data[:300].groupby(['User Id'],axis=1)
#print(Grouped.size())

clean_data.groupby(['User Id'])

#print(clean_data.groupby(['User Id']).count())

group_label = clean_data.groupby(['User Id']).groups
print(group_label)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [103]:
print(type(group_label))

<class 'dict'>

In [104]:
print(group_label[1])

Int64Index([    53,     54, 235862, 235863, 235864, 235865, 235866, 235868,
            235870, 235871, 235872, 235873, 235874, 235875, 235878, 235880,
            235881, 235883, 235884],
           dtype='int64')

In [105]:
print(type(group_label[1]))

<class 'pandas.core.indexes.numeric.Int64Index'>

In [106]:
open_time = pd.DataFrame()

open_time = clean_data[['User Id','Activation Date','Activity Date','Name','Action','User Created At']]

#diff = pd.Timestamp(open_time['Activity Date'])- pd.Timestamp(open_time['Activation Date'])
diff = pd.to_datetime(open_time['Activity Date'])- pd.to_datetime(open_time['Activation Date'])
#print(diff)
open_time.insert(5, "Time lag", diff)
print(open_time)
#open_time.dropna(how = "any")

         User Id      Activation Date        Activity Date  \
0            147  2018-09-25 21:05:24  2018-09-27 09:30:53
1            139  2018-09-22 10:00:02  2018-10-01 11:18:20
2            139  2018-09-23 10:00:59  2018-10-01 11:19:18
3            200  2018-10-01 08:00:36  2018-10-03 09:48:55
4            200  2018-10-01 09:00:52  2018-10-03 10:38:28
...          ...                  ...                  ...
1926475    37948  2020-09-16 09:30:00  2020-10-25 22:16:58
1926476    37948  2020-09-16 09:30:00  2020-10-25 22:17:25
1926477    49199  2020-10-23 09:00:00  2020-10-25 22:17:47
1926478    49060  2020-10-22 09:00:00  2020-10-25 22:17:47
1926479    37948  2020-09-17 09:30:00  2020-10-25 22:17:50

                                                      Name  Action  \
0                                       Welcome to Journey       0
1                           İnovasyoncunun Beş Alışkanlığı     100
2        Peter Drucker’a göre İnovasyona Fırsat Sağlaya...     100
3                                       Welcome to Journey       0
4                                     Yenilikçinin İkilemi       0
...                                                    ...     ...
1926475                             Veri ve Verinin Evrimi      85
1926476                             Veri ve Verinin Evrimi     100
1926477                             Satış Sonrası İşlemler       0
1926478                                  Roaming Paketleri      69
1926479                                Algoritmanın Anlamı       0

                Time lag      User Created At
0        1 days 12:25:29  2018-09-26 12:19:32
1        9 days 01:18:18  2018-09-21 17:14:07
2        8 days 01:18:19  2018-09-21 17:14:07
3        2 days 01:48:19  2018-10-03 09:36:25
4        2 days 01:37:36  2018-10-03 09:36:25
...                  ...                  ...
1926475 39 days 12:46:58  2020-01-22 15:25:03
1926476 39 days 12:47:25  2020-01-22 15:25:03
1926477  2 days 13:17:47  2020-10-21 09:06:20
1926478  3 days 13:17:47  2020-10-12 15:26:23
1926479 38 days 12:47:50  2020-01-22 15:25:03

[1924389 rows x 7 columns]

In [ ]:
print(open_)

In [113]:
print(open_time.dtypes)
Action100 = open_time[open_time['Action'] == 100] 
Action100.reset_index(drop=True, inplace=True)

print(Action100.dtypes)
for i in range(len(Action100)):
    for j in range(len(open_time)):
        #print(Action100['User Id'][1])
        if Action100['User Id'][i] == open_time['User Id'][j] and Action100['Name'][i] == open_time['Name'][j]:
            #print(Action100['User Id'][i])
            open_time.drop(index=j ,axis =0)
        else:
            break
print(len(open_time))

User Id                      int64
Activation Date             object
Activity Date               object
Name                        object
Action                       int64
Time lag           timedelta64[ns]
User Created At             object
dtype: object
User Id                      int64
Activation Date             object
Activity Date               object
Name                        object
Action                       int64
Time lag           timedelta64[ns]
User Created At             object
dtype: object
1924389

In [ ]:
import time
from datetime import datetime
# Get Keys
keys = list(group_label.keys())
dic_hr = {}
# Create a dictionary for hr item of each user
# Use first 10 users for less running time
for i in range(len(keys[0:10])):
    key = keys[i]
    index = group_label[key]
    dic_hr["%s"%key] = []
    for j in range(len(index)):
        str = open_time.iloc[index[j],[2]].to_string()
        str = str.replace(" ", "")
        str = str.replace("ActivityDate", "")
        print(str)
        if str == "NaN":
            break
        t = datetime.strptime(str,"%Y-%m-%d%H:%M:%S")
        hr = t.timetuple()[3]
        dic_hr["%s"%key] += [hr]

In [ ]:
keys = list(group_label.keys())
dic_hr = {}
# Create a dictionary for hr item of each user
# Use first 10 users for less running time
for i in range(len(keys[0:10])):
    key = keys[i]
    index = group_label[key]
    dic_hr["%s"%key] = []
    for j in range(len(index)):
        str = open_time.iloc[index[j],[2]].to_string()
        str = str.replace(" ", "")
        str = str.replace("ActivityDate", "")
        print(str)
        if str == "NaN":
            break
        t = datetime.strptime(str,"%Y-%m-%d%H:%M:%S")
        hr = t.timetuple()[3]
        dic_hr["%s"%key] += [hr]

In [65]:
#print(dic_hr)

In [66]:
# Count frequency for each user
import statistics
from collections import Counter
dic_frequency = {}
arr = []
hr_keys = list(dic_hr.keys())
for i in range(len(hr_keys)):
    arr = Counter(dic_hr[hr_keys[i]]).most_common(2)
    # list of tuple
    if len(arr) == 1:
        dic_frequency[hr_keys[i]] = arr[0][0]
    else:
        if arr[0][1] > arr[1][1]:
            dic_frequency[hr_keys[i]] = arr[0][0]
        else:
            # if same frequency, save both hr, check the diff with sending time
            dic_frequency[hr_keys[i]] = [arr[0][0], arr[1][0]]

In [67]:
dic_frequency

{'0': [0, 20],
 '1': 12,
 '2': 20,
 '21': [8, 15],
 '22': 11,
 '38': 3,
 '41': 10,
 '47': 14,
 '53': 13,
 '61': 16}

In [70]:
dic_avg_rate = {}
dic_all_action = {}
#print(hr_keys)
#print(dic_hr)
arr = []
l = []
hr_keys = list(dic_hr.keys())
for i in range(len(hr_keys)):
    arr = Counter(dic_hr[hr_keys[i]]) #each user ID will show 12 13 14 20
    for j in range(len(arr.keys())):#retrive each hour 12/ 13/ 14/20
        for n in zip open_time['Action']  #in opentime hr =12/13 #acction store in list
        
    
    
    
    if len(arr) == 1:
        dic_frequency[hr_keys[i]] = arr[0][0]
    else:
        if arr[0][1] > arr[1][1]:
            dic_frequency[hr_keys[i]] = arr[0][0]
        else:
            # if same frequency, save both hr, check the diff with sending time
            dic_frequency[hr_keys[i]] = [arr[0][0], arr[1][0]]

Counter({16: 26, 15: 17, 12: 12, 11: 4})