In [1]:
import pandas as pd
import numpy as np

X = pd.read_csv('new_data.csv', parse_dates = True, low_memory = False)
print(X.shape)

(1926480, 15)

In [2]:
X.head()

,[2020-10-25 14:40:25] production_jobs.INFO: Customer Id,User Id,User Created At,Activation Date,Activity Date,Name,Content Type,Content Id,Journey Name,Action,Duration,Device,Channel,Session Id,Rating
0,[2020-10-25 14:40:25] production_jobs.INFO: 8,147,2018-09-26 12:19:32,2018-09-25 21:05:24,2018-09-27 09:30:53,Welcome to Journey,INTERNAL_VIDEO,86,Welcome,0,NaN,Web,Direct Connection,eDE0NzY2Mg==,-
1,[2020-10-25 14:40:25] production_jobs.INFO: 9,139,2018-09-21 17:14:07,2018-09-22 10:00:02,2018-10-01 11:18:20,İnovasyoncunun Beş Alışkanlığı,INFOGRAPHIC,94,İnovatif Bakış Açısı,100,NaN,Web,Direct Connection,eDEzOTY1MQ==,-
2,[2020-10-25 14:40:25] production_jobs.INFO: 9,139,2018-09-21 17:14:07,2018-09-23 10:00:59,2018-10-01 11:19:18,Peter Drucker’a göre İnovasyona Fırsat Sağlaya...,INTERNAL_ARTICLE,112,İnovatif Bakış Açısı,100,NaN,Web,Direct Connection,eDEzOTY1Mg==,-
3,[2020-10-25 14:40:25] production_jobs.INFO: 10,200,2018-10-03 09:36:25,2018-10-01 08:00:36,2018-10-03 09:48:55,Welcome to Journey,INTERNAL_VIDEO,86,İnovatif Bakış Açısı,0,NaN,Web,Direct Connection,eDIwMDY4Ng==,-
4,[2020-10-25 14:40:25] production_jobs.INFO: 10,200,2018-10-03 09:36:25,2018-10-01 09:00:52,2018-10-03 10:38:28,Yenilikçinin İkilemi,INTERNAL_VIDEO,100,İnovatif Bakış Açısı,0,NaN,Web,Direct Connection,eDIwMDY4Nw==,-

In [3]:
X = X.values

In [4]:
res_list = X.T.tolist()
b = list(set(res_list[10]))

device = X[:,11]
for i in range(len(device)):
    if device[i] == 'Device':
        print(i)
        
content_type = X[:,6]
for i in range(len(content_type)):
    if content_type[i] == 'Content Type':
        print(i)
#print(b)

In [5]:

device = X[:,11]
#print(device)
channel = X[:,12]
#print(channel)
content_type = X[:,6]
#print(content_type)
for i in range(len(device)):
    if device[i] == 'Android':
        device[i] = 4
    elif device[i] == 'iOS':
        device[i] = 3    
    elif device[i] == 'Web':
        device[i] = 2 
    elif device[i] == 'Mobile Web (Tablet)':
        device[i] = 1
    elif device[i] == 'Mobile Web':
        device[i] = 5
    else:
        device[i] = 0
print(device)

for i in range(len(channel)):
    if channel[i] == 'Mobile Notification':
        channel[i] = 2
    elif channel[i] == 'From Email':
        channel[i] = 1
    elif channel[i] == 'Direct Connection':
        channel[i] = 3
    else:
        channel[i] = 0
#print(channel)

content_type_list = ['KEY_CONTACT_NEWHIRE', 'EXTERNAL_ARTICLE', 'CHECKLIST', 'KNOWLEDGE_REQUIREMENT_NEWHIRE', 'BOOK_SUGGESTION', 'QUIZ', 'KEY_CONTACT_MANAGER', 'EXTERNAL_VIDEO', 'SURVEY', 'MEETING', 'LIVE_EVENT', 'INTERNAL_ARTICLE', 'FLIPBOOK', 'KNOWLEDGE_REQUIREMENT_MANAGER', 'INFOGRAPHIC', 'Content Type', 'INTERNAL_VIDEO', 'QUOTES']

for i in range(len(content_type)):
    if content_type[i] == content_type_list[0]:
        content_type[i] = 17
    elif content_type[i] == content_type_list[1]:
        content_type[i] = 1
    elif content_type[i] == content_type_list[2]:
        content_type[i] = 2
    elif content_type[i] == content_type_list[3]:
        content_type[i] = 3
    elif content_type[i] == content_type_list[4]:
        content_type[i] = 4
    elif content_type[i] == content_type_list[5]:
        content_type[i] = 5
    elif content_type[i] == content_type_list[6]:
        content_type[i] = 6
    elif content_type[i] == content_type_list[7]:
        content_type[i] = 7
    elif content_type[i] == content_type_list[8]:
        content_type[i] = 8
    elif content_type[i] == content_type_list[9]:
        content_type[i] = 9
    elif content_type[i] == content_type_list[10]:
        content_type[i] = 10
    elif content_type[i] == content_type_list[11]:
        content_type[i] = 11
    elif content_type[i] == content_type_list[12]:
        content_type[i] = 12
    elif content_type[i] == content_type_list[13]:
        content_type[i] = 13
    elif content_type[i] == content_type_list[14]:
        content_type[i] = 14
    elif content_type[i] == content_type_list[15]:
        content_type[i] = 15
    elif content_type[i] == content_type_list[16]:
        content_type[i] = 16
    else:
        content_type[i] = 0
#print(content_type)

[2 2 2 ... 4 4 5]

In [6]:
clean_data = pd.DataFrame(X)
print(clean_data.head())
c = clean_data.values
#print(c)

                                                0    1                    2  \
0   [2020-10-25 14:40:25] production_jobs.INFO: 8  147  2018-09-26 12:19:32
1   [2020-10-25 14:40:25] production_jobs.INFO: 9  139  2018-09-21 17:14:07
2   [2020-10-25 14:40:25] production_jobs.INFO: 9  139  2018-09-21 17:14:07
3  [2020-10-25 14:40:25] production_jobs.INFO: 10  200  2018-10-03 09:36:25
4  [2020-10-25 14:40:25] production_jobs.INFO: 10  200  2018-10-03 09:36:25

                     3                    4  \
0  2018-09-25 21:05:24  2018-09-27 09:30:53
1  2018-09-22 10:00:02  2018-10-01 11:18:20
2  2018-09-23 10:00:59  2018-10-01 11:19:18
3  2018-10-01 08:00:36  2018-10-03 09:48:55
4  2018-10-01 09:00:52  2018-10-03 10:38:28

                                                   5   6    7  \
0                                 Welcome to Journey  16   86
1                     İnovasyoncunun Beş Alışkanlığı  14   94
2  Peter Drucker’a göre İnovasyona Fırsat Sağlaya...  11  112
3                                 Welcome to Journey  16   86
4                               Yenilikçinin İkilemi  16  100

                       8    9   10 11 12            13   14
0               Welcome     0  NaN  2  3  eDE0NzY2Mg==  -
1  İnovatif Bakış Açısı   100  NaN  2  3  eDEzOTY1MQ==  -
2  İnovatif Bakış Açısı   100  NaN  2  3  eDEzOTY1Mg==  -
3  İnovatif Bakış Açısı     0  NaN  2  3  eDIwMDY4Ng==  -
4  İnovatif Bakış Açısı     0  NaN  2  3  eDIwMDY4Nw==  -

In [7]:
max_value = clean_data[11].mode()
clean_data[11] = clean_data[11].replace([0],max_value)
print(clean_data[11].value_counts())

3    924046
4    858524
5     90275
2     52909
1       726
Name: 11, dtype: int64

In [8]:
content_max = clean_data[6].mode()
#print(content_max)
print(clean_data[6].value_counts())


clean_data[6] = clean_data[6].replace([0],content_max)
#print('after: ',clean_data[6].value_counts())

16    591044
7     439583
12    310766
11    152680
14    149485
1     106079
5      43586
4      37358
2      34263
0      33266
8      24462
10      3126
9        710
3         32
17        20
6         18
13         2
Name: 6, dtype: int64

In [9]:
max_value = clean_data[12].mode()
clean_data[12] = clean_data[12].replace([0],max_value)
print(clean_data[12].value_counts())

3    1846348
2      52037
1      28095
Name: 12, dtype: int64

In [10]:
clean_data.drop(clean_data[clean_data[1] == 'FLIPBOOK'].index, inplace = True)

In [11]:
clean_data.dropna(how = 'any', axis = 0, inplace = True)

In [12]:
clean_data.reset_index(inplace=True, drop=True)

In [13]:
clean_data[1] = clean_data[1].fillna(0.0).astype('int')

In [14]:
clean_data[9] = clean_data[9].replace(['nan'],'0')
clean_data[9] = clean_data[9].fillna(0.0).astype('int')

In [15]:
#clean_data.drop(index = 1789049, axis = 0)
clean_data[5] = clean_data[5].replace(['nan'],"")
clean_data[5] = clean_data[5].astype('str')

In [16]:
clean_data.columns = ['Customer Id','User Id', 'User Created At', 'Activation Date', 'Activity Date','Name', 'Content Type', 'Content ID','Journey Name', 'Action', 'Duration','Device', 'Channel', 'Session Id', 'Rating']

In [17]:
clean_data.head()

,Customer Id,User Id,User Created At,Activation Date,Activity Date,Name,Content Type,Content ID,Journey Name,Action,Duration,Device,Channel,Session Id,Rating
0,[2020-10-25 14:40:25] production_jobs.INFO: 9,217,2018-10-09 13:37:22,2018-10-11 16:15:13,2018-10-13 23:06:41,LMS tarihe karışıyor: LXP dünyasına hoş geldiniz!,11,280,HRTech Trends,100,00:00:00,4,3,f5870bc4-16ca-4832-9b00-e176907ab9fc,-
1,[2020-10-25 14:40:25] production_jobs.INFO: 9,217,2018-10-09 13:37:22,2018-10-11 11:52:48,2018-10-13 23:06:46,Silikon Vadisinden en son İK ve Eğitim Trendleri,11,272,HRTech Trends,100,00:00:00,4,3,e45da36d-2e6a-452b-add2-29e15cf9d317,-
2,[2020-10-25 14:40:25] production_jobs.INFO: 9,217,2018-10-09 13:37:22,2018-10-06 10:00:06,2018-10-13 23:06:58,Drucker’a göre İnovasyon Fırsatı Sağlayan Yedi...,12,208,İnovatif Bakış Açısı,100,00:00:00,4,3,3ca92229-efea-4e90-9297-97215c8e779b,-
3,[2020-10-25 14:40:25] production_jobs.INFO: 9,217,2018-10-09 13:37:22,2018-10-05 08:00:34,2018-10-15 14:30:20,8 maddede yıkıcı inovasyon,14,159,İnovatif Bakış Açısı,100,00:00:00,4,3,79a9b449-06a6-41cd-835e-cc9ff397eff7,-
4,[2020-10-25 14:40:25] production_jobs.INFO: 9,217,2018-10-09 13:37:22,2018-10-05 08:00:34,2018-10-15 14:30:49,8 maddede yıkıcı inovasyon,14,159,İnovatif Bakış Açısı,100,00:00:00,4,3,e3d92085-d0e6-4ba5-8bd2-d2a0644e8976,-

In [18]:
#clean_data = clean_data[:300].groupby(['User Id'],axis=1)
#print(Grouped.size())

clean_data.groupby(['User Id'])

#print(clean_data.groupby(['User Id']).count())

group_label = clean_data.groupby(['User Id']).groups
print(group_label)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [19]:
open_time = pd.DataFrame()
open_time = clean_data.loc[:, ('User Id','Activation Date','Activity Date','Name','Action','User Created At')]
#diff = pd.Timestamp(open_time['Activity Date'])- pd.Timestamp(open_time['Activation Date'])
#diff = pd.to_datetime(open_time['Activity Date'])- pd.to_datetime(open_time['Activation Date'])
#print(diff)
#open_time.insert(5, "Time lag", diff)
print(open_time)
#open_time.dropna(how = "any")

         User Id      Activation Date        Activity Date  \
0            217  2018-10-11 16:15:13  2018-10-13 23:06:41
1            217  2018-10-11 11:52:48  2018-10-13 23:06:46
2            217  2018-10-06 10:00:06  2018-10-13 23:06:58
3            217  2018-10-05 08:00:34  2018-10-15 14:30:20
4            217  2018-10-05 08:00:34  2018-10-15 14:30:49
...          ...                  ...                  ...
1904923    37948  2020-09-16 09:30:00  2020-10-25 22:16:58
1904924    37948  2020-09-16 09:30:00  2020-10-25 22:17:25
1904925    49199  2020-10-23 09:00:00  2020-10-25 22:17:47
1904926    49060  2020-10-22 09:00:00  2020-10-25 22:17:47
1904927    37948  2020-09-17 09:30:00  2020-10-25 22:17:50

                                                      Name  Action  \
0        LMS tarihe karışıyor: LXP dünyasına hoş geldiniz!     100
1         Silikon Vadisinden en son İK ve Eğitim Trendleri     100
2        Drucker’a göre İnovasyon Fırsatı Sağlayan Yedi...     100
3                               8 maddede yıkıcı inovasyon     100
4                               8 maddede yıkıcı inovasyon     100
...                                                    ...     ...
1904923                             Veri ve Verinin Evrimi      85
1904924                             Veri ve Verinin Evrimi     100
1904925                             Satış Sonrası İşlemler       0
1904926                                  Roaming Paketleri      69
1904927                                Algoritmanın Anlamı       0

             User Created At
0        2018-10-09 13:37:22
1        2018-10-09 13:37:22
2        2018-10-09 13:37:22
3        2018-10-09 13:37:22
4        2018-10-09 13:37:22
...                      ...
1904923  2020-01-22 15:25:03
1904924  2020-01-22 15:25:03
1904925  2020-10-21 09:06:20
1904926  2020-10-12 15:26:23
1904927  2020-01-22 15:25:03

[1904928 rows x 6 columns]

In [20]:
date = open_time['Activity Date'].map(lambda x: str(x)[0:10])

In [21]:
date = pd.to_datetime(date)

In [22]:
open_time['Activity Day'] = date.dt.day_name()

In [23]:
hr = open_time['Activity Date'].map(lambda x: str(x)[11:13])

In [24]:
open_time['hour'] = hr

In [25]:
open_time.head()

,User Id,Activation Date,Activity Date,Name,Action,User Created At,Activity Day,hour
0,217,2018-10-11 16:15:13,2018-10-13 23:06:41,LMS tarihe karışıyor: LXP dünyasına hoş geldiniz!,100,2018-10-09 13:37:22,Saturday,23
1,217,2018-10-11 11:52:48,2018-10-13 23:06:46,Silikon Vadisinden en son İK ve Eğitim Trendleri,100,2018-10-09 13:37:22,Saturday,23
2,217,2018-10-06 10:00:06,2018-10-13 23:06:58,Drucker’a göre İnovasyon Fırsatı Sağlayan Yedi...,100,2018-10-09 13:37:22,Saturday,23
3,217,2018-10-05 08:00:34,2018-10-15 14:30:20,8 maddede yıkıcı inovasyon,100,2018-10-09 13:37:22,Monday,14
4,217,2018-10-05 08:00:34,2018-10-15 14:30:49,8 maddede yıkıcı inovasyon,100,2018-10-09 13:37:22,Monday,14

# Action Distribution

In [26]:
actiondis = open_time["Action"].values.tolist()

In [27]:
import collections
collections.Counter(actiondis).most_common()

[(100, 820423),
 (0, 471496),
 (85, 186487),
 (86, 142780),
 (99, 74953),
 (80, 37345),
 (87, 13779),
 (88, 9472),
 (81, 8215),
 (90, 8085),
 (97, 7056),
 (98, 6015),
 (92, 4990),
 (91, 4015),
 (33, 3491),
 (95, 3361),
 (50, 3065),
 (89, 2951),
 (96, 2608),
 (67, 2437),
 (94, 2414),
 (93, 2378),
 (12, 2315),
 (1, 2208),
 (11, 2100),
 (25, 2032),
 (2, 2024),
 (28, 1887),
 (5, 1839),
 (7, 1799),
 (34, 1765),
 (27, 1762),
 (9, 1754),
 (14, 1720),
 (10, 1687),
 (20, 1682),
 (3, 1663),
 (4, 1642),
 (22, 1624),
 (8, 1599),
 (16, 1588),
 (66, 1564),
 (6, 1501),
 (40, 1457),
 (55, 1430),
 (75, 1305),
 (37, 1254),
 (61, 1247),
 (13, 1207),
 (23, 1197),
 (42, 1194),
 (15, 1186),
 (60, 1110),
 (18, 1075),
 (30, 1028),
 (62, 1023),
 (44, 1018),
 (41, 995),
 (71, 917),
 (29, 899),
 (26, 883),
 (57, 870),
 (19, 866),
 (45, 855),
 (36, 845),
 (38, 830),
 (17, 830),
 (39, 815),
 (83, 807),
 (46, 806),
 (21, 800),
 (79, 799),
 (24, 792),
 (54, 788),
 (31, 777),
 (70, 769),
 (32, 759),
 (72, 745),
 (77, 728),
 (51, 723),
 (63, 722),
 (35, 715),
 (53, 707),
 (68, 694),
 (48, 690),
 (58, 687),
 (84, 687),
 (76, 683),
 (43, 670),
 (47, 661),
 (73, 645),
 (78, 644),
 (65, 641),
 (69, 638),
 (82, 637),
 (56, 636),
 (52, 631),
 (49, 629),
 (64, 600),
 (59, 578),
 (74, 522),
 (-6, 7),
 (-15, 1),
 (-10, 1),
 (-177, 1),
 (-206, 1)]

# Action >= 85

In [29]:
Action85 = open_time[open_time.loc[:,("Action")] >= 85]

In [30]:
Action = clean_data[["Content Type","Device","Channel","Action"]]

In [31]:
Action.isna().sum()

Content Type    0
Device          0
Channel         0
Action          0
dtype: int64

In [32]:
Action.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904928 entries, 0 to 1904927
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   Content Type  int64
 1   Device        int64
 2   Channel       int64
 3   Action        int64
dtypes: int64(4)
memory usage: 58.1 MB

In [33]:
def tonum(x):
    """
    take x, activity day as input
    return int Mon -> 100, Tue -> , etc
    """
    if x == "Monday":
        #print("1")
        return 100
    elif x == "Tuesday":
        return 200
    elif x == "Wednesday":
        return 300
    elif x == "Thursday":
        return 400
    elif x == "Friday":
        return 500
    elif x == "Saturday":
        return 600
    else:
        return 700

In [34]:
day_num = open_time.loc[:,('Activity Day')].map(lambda x: tonum(x))

In [35]:
Action85["day_num"] = day_num

/Users/rqshi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
hr_num = Action85['hour'].map(lambda x: int(x))

In [37]:
Action85["hour"] = hr_num

/Users/rqshi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
total_num = Action85['hour'].add(Action85['day_num'])

In [39]:
Action85['total_num'] = total_num

/Users/rqshi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
Action85.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1291767 entries, 0 to 1904924
Data columns (total 10 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   User Id          1291767 non-null  int64
 1   Activation Date  1291767 non-null  object
 2   Activity Date    1291767 non-null  object
 3   Name             1291767 non-null  object
 4   Action           1291767 non-null  int64
 5   User Created At  1291767 non-null  object
 6   Activity Day     1291767 non-null  object
 7   hour             1291767 non-null  int64
 8   day_num          1291767 non-null  int64
 9   total_num        1291767 non-null  int64
dtypes: int64(5), object(5)
memory usage: 108.4+ MB

In [42]:
Action85.head()

,User Id,Activation Date,Activity Date,Name,Action,User Created At,Activity Day,hour,day_num,total_num
0,217,2018-10-11 16:15:13,2018-10-13 23:06:41,LMS tarihe karışıyor: LXP dünyasına hoş geldiniz!,100,2018-10-09 13:37:22,Saturday,23,600,623
1,217,2018-10-11 11:52:48,2018-10-13 23:06:46,Silikon Vadisinden en son İK ve Eğitim Trendleri,100,2018-10-09 13:37:22,Saturday,23,600,623
2,217,2018-10-06 10:00:06,2018-10-13 23:06:58,Drucker’a göre İnovasyon Fırsatı Sağlayan Yedi...,100,2018-10-09 13:37:22,Saturday,23,600,623
3,217,2018-10-05 08:00:34,2018-10-15 14:30:20,8 maddede yıkıcı inovasyon,100,2018-10-09 13:37:22,Monday,14,100,114
4,217,2018-10-05 08:00:34,2018-10-15 14:30:49,8 maddede yıkıcı inovasyon,100,2018-10-09 13:37:22,Monday,14,100,114

In [43]:
df85 = pd.DataFrame({'User Id':Action85["User Id"].unique()})

In [44]:
df85['total_num'] = [list(set(Action85['total_num'].loc[Action85['User Id'] == x['User Id']])) for _, x in df85.iterrows()]

In [45]:
df85.head()

   User Id                                          total_num
0      217  [512, 312, 611, 408, 423, 617, 618, 623, 208, ...
1      242  [512, 320, 708, 109, 208, 114, 309, 214, 215, ...
2       69                               [312, 313, 512, 111]
3      308                                    [602, 419, 415]
4      304           [416, 321, 610, 422, 313, 221, 510, 511]

In [126]:
df = Action85.groupby('User Id').agg(lambda x: x.tolist())

In [127]:
df.head()

,Activation Date,Activity Date,Name,Action,User Created At,Activity Day,hour,day_num,total_num
User Id,,,,,,,,,
21,"[2018-10-31 13:32:19, 2018-11-01 08:30:57, 201...","[2018-10-31 14:08:53, 2018-11-01 08:33:27, 201...",[Çalışan Bağlılığı 3.0: Kişiye Özel “Nudge (Dü...,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[2018-05-14 02:49:06, 2018-05-14 02:49:06, 201...","[Wednesday, Thursday, Thursday, Thursday, Wedn...","[14, 8, 8, 8, 11, 9, 15, 15, 15, 15, 16, 16, 8]","[300, 400, 400, 400, 300, 400, 300, 300, 300, ...","[314, 408, 408, 408, 311, 409, 315, 315, 315, ..."
38,"[2019-10-03 08:00:00, 2019-10-03 09:00:00]","[2019-10-04 03:12:57, 2019-10-04 03:13:10]","[demo flip, safety]","[100, 100]","[2018-05-14 17:59:52, 2018-05-14 17:59:52]","[Friday, Friday]","[3, 3]","[500, 500]","[503, 503]"
41,"[2019-02-21 16:00:00, 2019-02-21 16:39:00, 201...","[2019-02-22 08:16:24, 2019-02-22 08:17:25, 201...","[Makas, Hakan Ateş'ten Denizcilerimize Mesajla...","[100, 100, 100, 100, 100, 100, 100, 97, 100, 1...","[2018-05-16 19:43:48, 2018-05-16 19:43:48, 201...","[Friday, Friday, Friday, Friday, Friday, Monda...","[8, 8, 11, 14, 15, 14, 15, 15, 15, 15, 9, 10, ...","[500, 500, 500, 500, 500, 100, 400, 100, 100, ...","[508, 508, 511, 514, 515, 114, 415, 115, 115, ..."
47,"[2020-10-07 12:45:00, 2020-10-07 12:45:00, 202...","[2020-10-07 14:27:21, 2020-10-07 14:27:22, 202...","[Ekipleri Uzaktan Etkili Yönetmek, Ekipleri Uz...","[100, 100, 100, 85]","[2018-06-21 08:01:03, 2018-06-21 08:01:03, 201...","[Wednesday, Wednesday, Wednesday, Wednesday]","[14, 14, 14, 14]","[300, 300, 300, 300]","[314, 314, 314, 314]"
53,"[2018-11-01 08:30:57, 2018-11-08 08:30:00, 201...","[2018-11-17 13:04:53, 2018-11-17 13:06:15, 201...",[Çalışan Bağlılığı 3.0: Kişiye Özel “Nudge (Dü...,"[100, 100, 100]","[2018-06-27 07:53:16, 2018-06-27 07:53:16, 201...","[Saturday, Saturday, Saturday]","[13, 13, 13]","[600, 600, 600]","[613, 613, 613]"

In [128]:
index_df = df.index.values

In [129]:
df["count_total"] = ''

In [130]:
from collections import Counter
def count(x):
    Counter(df["total_num"][21]).most_common()

In [131]:
for i in range(len(index_df)):
    df['count_total'][index_df[i]] = Counter(df['total_num'][index_df[i]]).most_common()

In [132]:
df.head()

,Activation Date,Activity Date,Name,Action,User Created At,Activity Day,hour,day_num,total_num,count_total
User Id,,,,,,,,,,
21,"[2018-10-31 13:32:19, 2018-11-01 08:30:57, 201...","[2018-10-31 14:08:53, 2018-11-01 08:33:27, 201...",[Çalışan Bağlılığı 3.0: Kişiye Özel “Nudge (Dü...,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[2018-05-14 02:49:06, 2018-05-14 02:49:06, 201...","[Wednesday, Thursday, Thursday, Thursday, Wedn...","[14, 8, 8, 8, 11, 9, 15, 15, 15, 15, 16, 16, 8]","[300, 400, 400, 400, 300, 400, 300, 300, 300, ...","[314, 408, 408, 408, 311, 409, 315, 315, 315, ...","[(315, 4), (408, 3), (116, 2), (314, 1), (311,..."
38,"[2019-10-03 08:00:00, 2019-10-03 09:00:00]","[2019-10-04 03:12:57, 2019-10-04 03:13:10]","[demo flip, safety]","[100, 100]","[2018-05-14 17:59:52, 2018-05-14 17:59:52]","[Friday, Friday]","[3, 3]","[500, 500]","[503, 503]","[(503, 2)]"
41,"[2019-02-21 16:00:00, 2019-02-21 16:39:00, 201...","[2019-02-22 08:16:24, 2019-02-22 08:17:25, 201...","[Makas, Hakan Ateş'ten Denizcilerimize Mesajla...","[100, 100, 100, 100, 100, 100, 100, 97, 100, 1...","[2018-05-16 19:43:48, 2018-05-16 19:43:48, 201...","[Friday, Friday, Friday, Friday, Friday, Monda...","[8, 8, 11, 14, 15, 14, 15, 15, 15, 15, 9, 10, ...","[500, 500, 500, 500, 500, 100, 400, 100, 100, ...","[508, 508, 511, 514, 515, 114, 415, 115, 115, ...","[(410, 63), (309, 17), (411, 14), (111, 14), (..."
47,"[2020-10-07 12:45:00, 2020-10-07 12:45:00, 202...","[2020-10-07 14:27:21, 2020-10-07 14:27:22, 202...","[Ekipleri Uzaktan Etkili Yönetmek, Ekipleri Uz...","[100, 100, 100, 85]","[2018-06-21 08:01:03, 2018-06-21 08:01:03, 201...","[Wednesday, Wednesday, Wednesday, Wednesday]","[14, 14, 14, 14]","[300, 300, 300, 300]","[314, 314, 314, 314]","[(314, 4)]"
53,"[2018-11-01 08:30:57, 2018-11-08 08:30:00, 201...","[2018-11-17 13:04:53, 2018-11-17 13:06:15, 201...",[Çalışan Bağlılığı 3.0: Kişiye Özel “Nudge (Dü...,"[100, 100, 100]","[2018-06-27 07:53:16, 2018-06-27 07:53:16, 201...","[Saturday, Saturday, Saturday]","[13, 13, 13]","[600, 600, 600]","[613, 613, 613]","[(613, 3)]"

In [133]:
def sort_arr(arr):
    res = [[],[],[],[],[],[],[]]
    for i in range(len(arr)):
        item = str(arr[i][0])
        if item[0] == "1":
            res[0].append(arr[i])
            #return res
        elif item[0] == "2":
            res[1].append(arr[i])
            #return res
        elif item[0] == "3":
            res[2].append(arr[i])
            #return res
        elif item[0] == "4":
            res[3].append(arr[i])
            #return res
        elif item[0] == "5":
            res[4].append(arr[i])
            #return res
        elif item[0] == "6":
            res[5].append(arr[i])
            #return res
        else:
            res[6].append(arr[i])
            #return res
    return res
import statistics
def get_above(arr):
    freq = []
    for i in range(len(arr)):
        ele = arr[i][-1]
        freq.append(ele)
    
    mean = statistics.mean(freq)
    l = []
    for i in range(len(arr)):
        if arr[i][-1] >= mean:
            l.append(arr[i])
    return l
def find_freq(arr):
    res = []
    sorted_arr = sort_arr(arr)
    for i in range(len(sorted_arr)):
        if len(sorted_arr[i]) == 0:
            res.append([])
        else:
            if len(sorted_arr[i]) == 1:
                res.append(sorted_arr[i])
            else:
                subarr = sorted_arr[i]
                freq = []
                for i in range(len(arr)):
                    ele = arr[i][-1]
                    freq.append(ele)
                l = []
                mean = statistics.mean(freq)
                for j in range(len(subarr)):
                    if subarr[j][-1] >= mean:
                        l.append(subarr[j])
                res.append(l)
    return res

In [134]:
df["every_day_freq"] = ''

In [135]:
for i in range(len(index_df)):
    arr = df["count_total"][index_df[i]]
    df["every_day_freq"][index_df[i]] = find_freq(arr)

In [136]:
df.head()

,Activation Date,Activity Date,Name,Action,User Created At,Activity Day,hour,day_num,total_num,count_total,every_day_freq
User Id,,,,,,,,,,,
21,"[2018-10-31 13:32:19, 2018-11-01 08:30:57, 201...","[2018-10-31 14:08:53, 2018-11-01 08:33:27, 201...",[Çalışan Bağlılığı 3.0: Kişiye Özel “Nudge (Dü...,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[2018-05-14 02:49:06, 2018-05-14 02:49:06, 201...","[Wednesday, Thursday, Thursday, Thursday, Wedn...","[14, 8, 8, 8, 11, 9, 15, 15, 15, 15, 16, 16, 8]","[300, 400, 400, 400, 300, 400, 300, 300, 300, ...","[314, 408, 408, 408, 311, 409, 315, 315, 315, ...","[(315, 4), (408, 3), (116, 2), (314, 1), (311,...","[[(116, 2)], [(208, 1)], [(315, 4)], [(408, 3)..."
38,"[2019-10-03 08:00:00, 2019-10-03 09:00:00]","[2019-10-04 03:12:57, 2019-10-04 03:13:10]","[demo flip, safety]","[100, 100]","[2018-05-14 17:59:52, 2018-05-14 17:59:52]","[Friday, Friday]","[3, 3]","[500, 500]","[503, 503]","[(503, 2)]","[[], [], [], [], [(503, 2)], [], []]"
41,"[2019-02-21 16:00:00, 2019-02-21 16:39:00, 201...","[2019-02-22 08:16:24, 2019-02-22 08:17:25, 201...","[Makas, Hakan Ateş'ten Denizcilerimize Mesajla...","[100, 100, 100, 100, 100, 100, 100, 97, 100, 1...","[2018-05-16 19:43:48, 2018-05-16 19:43:48, 201...","[Friday, Friday, Friday, Friday, Friday, Monda...","[8, 8, 11, 14, 15, 14, 15, 15, 15, 15, 9, 10, ...","[500, 500, 500, 500, 500, 100, 400, 100, 100, ...","[508, 508, 511, 514, 515, 114, 415, 115, 115, ...","[(410, 63), (309, 17), (411, 14), (111, 14), (...","[[(111, 14), (115, 11)], [(215, 10), (210, 9)]..."
47,"[2020-10-07 12:45:00, 2020-10-07 12:45:00, 202...","[2020-10-07 14:27:21, 2020-10-07 14:27:22, 202...","[Ekipleri Uzaktan Etkili Yönetmek, Ekipleri Uz...","[100, 100, 100, 85]","[2018-06-21 08:01:03, 2018-06-21 08:01:03, 201...","[Wednesday, Wednesday, Wednesday, Wednesday]","[14, 14, 14, 14]","[300, 300, 300, 300]","[314, 314, 314, 314]","[(314, 4)]","[[], [], [(314, 4)], [], [], [], []]"
53,"[2018-11-01 08:30:57, 2018-11-08 08:30:00, 201...","[2018-11-17 13:04:53, 2018-11-17 13:06:15, 201...",[Çalışan Bağlılığı 3.0: Kişiye Özel “Nudge (Dü...,"[100, 100, 100]","[2018-06-27 07:53:16, 2018-06-27 07:53:16, 201...","[Saturday, Saturday, Saturday]","[13, 13, 13]","[600, 600, 600]","[613, 613, 613]","[(613, 3)]","[[], [], [], [], [], [(613, 3)], []]"

In [137]:
df['Mon'] = ''
df['Tue'] = ''
df['Wed'] = ''
df['Thu'] = ''
df['Fri'] = ''
df['Sat'] = ''
df['Sun'] = ''

In [138]:
for i in range(len(index_df)):
    arr = df["every_day_freq"][index_df[i]]
    temp = []
    ### Monday
    if len(arr[0]) == 0:
        df['Mon'][index_df[i]] = [np.nan]
    else:
        if len(arr[0]) == 1:
            df['Mon'][index_df[i]] = [arr[0][0][0]%100, arr[0][0][1]]
        else:
            temp = []
            for j in range(len(arr[0])):
                ele = [arr[0][j][0]%100, arr[0][j][1]]
                temp.append(ele)
                
            df['Mon'][index_df[i]] = temp
    ### Tuesday
    if len(arr[1]) == 0:
        df['Tue'][index_df[i]] = [np.nan]
    else:
        if len(arr[1]) == 1:
            df['Tue'][index_df[i]] = [arr[1][0][0]%100, arr[1][0][1]]
        else:
            temp = []
            for j in range(len(arr[1])):
                ele = [arr[1][j][0]%100, arr[1][j][1]]
                temp.append(ele)
            df['Tue'][index_df[i]] = temp
    ### Wednesday
    if len(arr[2]) == 0:
        df['Wed'][index_df[i]] = [np.nan]
    else:
        if len(arr[2]) == 1:
            df['Wed'][index_df[i]] = [arr[2][0][0]%100, arr[2][0][1]]
        else:
            temp = []
            for j in range(len(arr[2])):
                ele = [arr[2][j][0]%100, arr[2][j][1]]
                temp.append(ele)
            df['Wed'][index_df[i]] = temp
    ### Thursday
    if len(arr[3]) == 0:
        df['Thu'][index_df[i]] = [np.nan]
    else:
        if len(arr[3]) == 1:
            df['Thu'][index_df[i]] = [arr[3][0][0]%100, arr[3][0][1]]
        else:
            temp = []
            for j in range(len(arr[3])):
                ele = [arr[3][j][0]%100, arr[3][j][1]]
                temp.append(ele)
            df['Thu'][index_df[i]] = temp
    ### Friday
    if len(arr[4]) == 0:
        df['Fri'][index_df[i]] = [np.nan]
    else:
        if len(arr[4]) == 1:
            df['Fri'][index_df[i]] = [arr[4][0][0]%100, arr[4][0][1]]
        else:
            temp = []
            for j in range(len(arr[4])):
                ele = [arr[4][j][0]%100, arr[4][j][1]]
                temp.append(ele)
            df['Fri'][index_df[i]] = temp
    ### Saturday
    if len(arr[5]) == 0:
        df['Sat'][index_df[i]] = [np.nan]
    else:
        if len(arr[5]) == 1:
            df['Sat'][index_df[i]] = [arr[5][0][0]%100, arr[5][0][1]]
        else:
            temp = []
            for j in range(len(arr[5])):
                ele = [arr[5][j][0]%100, arr[5][j][1]]
                temp.append(ele)
            df['Sat'][index_df[i]] = temp
    ### Sunday
    if len(arr[6]) == 0:
        df['Sun'][index_df[i]] = [np.nan]
    else:
        if len(arr[6]) == 1:
            df['Sun'][index_df[i]] = [arr[6][0][0]%100, arr[6][0][1]]
        else:
            temp = []
            for j in range(len(arr[6])):
                ele = [arr[6][j][0]%100, arr[6][j][1]]
                temp.append(ele)
            df['Sun'][index_df[i]] = temp

In [142]:
df.head()

,Activation Date,Activity Date,Name,Action,User Created At,Activity Day,hour,day_num,total_num,count_total,every_day_freq,Mon,Tue,Wed,Thu,Fri,Sat,Sun
User Id,,,,,,,,,,,,,,,,,,
21,"[2018-10-31 13:32:19, 2018-11-01 08:30:57, 201...","[2018-10-31 14:08:53, 2018-11-01 08:33:27, 201...",[Çalışan Bağlılığı 3.0: Kişiye Özel “Nudge (Dü...,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[2018-05-14 02:49:06, 2018-05-14 02:49:06, 201...","[Wednesday, Thursday, Thursday, Thursday, Wedn...","[14, 8, 8, 8, 11, 9, 15, 15, 15, 15, 16, 16, 8]","[300, 400, 400, 400, 300, 400, 300, 300, 300, ...","[314, 408, 408, 408, 311, 409, 315, 315, 315, ...","[(315, 4), (408, 3), (116, 2), (314, 1), (311,...","[[(116, 2)], [(208, 1)], [(315, 4)], [(408, 3)...","[16, 2]","[8, 1]","[15, 4]","[8, 3]",[nan],[nan],[nan]
38,"[2019-10-03 08:00:00, 2019-10-03 09:00:00]","[2019-10-04 03:12:57, 2019-10-04 03:13:10]","[demo flip, safety]","[100, 100]","[2018-05-14 17:59:52, 2018-05-14 17:59:52]","[Friday, Friday]","[3, 3]","[500, 500]","[503, 503]","[(503, 2)]","[[], [], [], [], [(503, 2)], [], []]",[nan],[nan],[nan],[nan],"[3, 2]",[nan],[nan]
41,"[2019-02-21 16:00:00, 2019-02-21 16:39:00, 201...","[2019-02-22 08:16:24, 2019-02-22 08:17:25, 201...","[Makas, Hakan Ateş'ten Denizcilerimize Mesajla...","[100, 100, 100, 100, 100, 100, 100, 97, 100, 1...","[2018-05-16 19:43:48, 2018-05-16 19:43:48, 201...","[Friday, Friday, Friday, Friday, Friday, Monda...","[8, 8, 11, 14, 15, 14, 15, 15, 15, 15, 9, 10, ...","[500, 500, 500, 500, 500, 100, 400, 100, 100, ...","[508, 508, 511, 514, 515, 114, 415, 115, 115, ...","[(410, 63), (309, 17), (411, 14), (111, 14), (...","[[(111, 14), (115, 11)], [(215, 10), (210, 9)]...","[[11, 14], [15, 11]]","[[15, 10], [10, 9]]","[[9, 17], [10, 13], [11, 10], [17, 8], [18, 6]]","[[10, 63], [11, 14], [16, 14], [15, 9], [21, 9...","[9, 12]","[17, 6]","[12, 6]"
47,"[2020-10-07 12:45:00, 2020-10-07 12:45:00, 202...","[2020-10-07 14:27:21, 2020-10-07 14:27:22, 202...","[Ekipleri Uzaktan Etkili Yönetmek, Ekipleri Uz...","[100, 100, 100, 85]","[2018-06-21 08:01:03, 2018-06-21 08:01:03, 201...","[Wednesday, Wednesday, Wednesday, Wednesday]","[14, 14, 14, 14]","[300, 300, 300, 300]","[314, 314, 314, 314]","[(314, 4)]","[[], [], [(314, 4)], [], [], [], []]",[nan],[nan],"[14, 4]",[nan],[nan],[nan],[nan]
53,"[2018-11-01 08:30:57, 2018-11-08 08:30:00, 201...","[2018-11-17 13:04:53, 2018-11-17 13:06:15, 201...",[Çalışan Bağlılığı 3.0: Kişiye Özel “Nudge (Dü...,"[100, 100, 100]","[2018-06-27 07:53:16, 2018-06-27 07:53:16, 201...","[Saturday, Saturday, Saturday]","[13, 13, 13]","[600, 600, 600]","[613, 613, 613]","[(613, 3)]","[[], [], [], [], [], [(613, 3)], []]",[nan],[nan],[nan],[nan],[nan],"[13, 3]",[nan]

In [160]:
customer85_100 = pd.DataFrame()
customer85_100 = df.loc[:,('Mon','Tue','Wed','Thu','Fri','Sat','Sun')]

In [161]:
customer85_100.head()

,Mon,Tue,Wed,Thu,Fri,Sat,Sun
User Id,,,,,,,
21,"[16, 2]","[8, 1]","[15, 4]","[8, 3]",[nan],[nan],[nan]
38,[nan],[nan],[nan],[nan],"[3, 2]",[nan],[nan]
41,"[[11, 14], [15, 11]]","[[15, 10], [10, 9]]","[[9, 17], [10, 13], [11, 10], [17, 8], [18, 6]]","[[10, 63], [11, 14], [16, 14], [15, 9], [21, 9...","[9, 12]","[17, 6]","[12, 6]"
47,[nan],[nan],"[14, 4]",[nan],[nan],[nan],[nan]
53,[nan],[nan],[nan],[nan],[nan],"[13, 3]",[nan]

# Action > 0 and Action < 85

In [145]:
Action0_85 = open_time[(open_time.loc[:,("Action")] < 85) & (open_time.loc[:,("Action")] > 0)]
Action = clean_data[["Content Type","Content ID","Device","Channel","Action"]]
Action.isna().sum()
Action["Content ID"] = Action["Content ID"].astype("int")
day_num = open_time.loc[:,('Activity Day')].map(lambda x: tonum(x))
Action0_85["day_num"] = day_num
hr_num = Action0_85['hour'].map(lambda x: int(x))
Action0_85["hour"] = hr_num
total_num = Action0_85['hour'].add(Action0_85['day_num'])
Action0_85['total_num'] = total_num
df0_85 = pd.DataFrame({'User Id':Action0_85["User Id"].unique()})
df0_85['total_num'] = [list(set(Action0_85['total_num'].loc[Action0_85['User Id'] == x['User Id']])) for _, x in df0_85.iterrows()]
df0_85_res = Action0_85.groupby('User Id').agg(lambda x: x.tolist())
index_df0_85_res = df0_85_res.index.values
df0_85_res["count_total"] = ''
for i in range(len(index_df0_85_res)):
    df0_85_res['count_total'][index_df0_85_res[i]] = Counter(df0_85_res['total_num'][index_df0_85_res[i]]).most_common()
df0_85_res["every_day_freq"] = ''
for i in range(len(index_df0_85_res)):
    arr = df0_85_res["count_total"][index_df0_85_res[i]]
    df0_85_res["every_day_freq"][index_df0_85_res[i]] = find_freq(arr)
df0_85_res.head()
df0_85_res['Mon'] = ''
df0_85_res['Tue'] = ''
df0_85_res['Wed'] = ''
df0_85_res['Thu'] = ''
df0_85_res['Fri'] = ''
df0_85_res['Sat'] = ''
df0_85_res['Sun'] = ''

/Users/rqshi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/rqshi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/rqshi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/rqshi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [146]:
df0_85_res.head()

,Activation Date,Activity Date,Name,Action,User Created At,Activity Day,hour,day_num,total_num,count_total,every_day_freq,Mon,Tue,Wed,Thu,Fri,Sat,Sun
User Id,,,,,,,,,,,,,,,,,,
41,"[2019-02-22 16:00:00, 2019-02-22 15:00:00, 201...","[2019-02-22 16:00:47, 2019-02-22 16:18:37, 201...",[Potansiyel Mevduat Müşterisi Kazanma Yöntemle...,"[48, 82, 50, 13, 29, 13, 75, 36, 13, 35, 66, 3...","[2018-05-16 19:43:48, 2018-05-16 19:43:48, 201...","[Friday, Friday, Monday, Monday, Monday, Monda...","[16, 16, 14, 14, 14, 14, 14, 14, 14, 14, 14, 1...","[500, 500, 100, 100, 100, 100, 100, 100, 100, ...","[516, 516, 114, 114, 114, 114, 114, 114, 114, ...","[(311, 15), (114, 11), (110, 11), (516, 9), (4...","[[(114, 11), (110, 11), (115, 8), (111, 4)], [...",,,,,,,
47,"[2020-10-06 12:45:00, 2020-10-02 13:30:00]","[2020-10-07 14:28:01, 2020-10-07 14:30:41]","[Odaklanma Becerinizi 6 Adımda Güçlendirin, Ma...","[60, 43]","[2018-06-21 08:01:03, 2018-06-21 08:01:03]","[Wednesday, Wednesday]","[14, 14]","[300, 300]","[314, 314]","[(314, 2)]","[[], [], [(314, 2)], [], [], [], []]",,,,,,,
61,"[2020-06-15 11:35:00, 2020-06-15 11:32:00, 202...","[2020-06-15 12:31:04, 2020-06-18 15:07:37, 202...","[Daha İyi Geri Bildirim sağlamak İçin 5 İpucu,...","[33, 72, 2, 2]","[2018-07-23 16:40:06, 2018-07-23 16:40:06, 201...","[Monday, Thursday, Monday, Tuesday]","[12, 15, 15, 16]","[100, 400, 100, 200]","[112, 415, 115, 216]","[(112, 1), (415, 1), (115, 1), (216, 1)]","[[(112, 1), (115, 1)], [(216, 1)], [], [(415, ...",,,,,,,
62,"[2020-06-15 11:32:00, 2020-06-15 11:33:00, 202...","[2020-06-15 11:33:04, 2020-06-15 11:39:32, 202...","[Performans Geri Bildirimi Nasıl Verilir?, Yo-...","[42, 80, 81, 2, 21, 80, 1]","[2018-07-23 16:40:31, 2018-07-23 16:40:31, 201...","[Monday, Monday, Monday, Monday, Monday, Monda...","[11, 11, 11, 11, 11, 20, 18]","[100, 100, 100, 100, 100, 100, 500]","[111, 111, 111, 111, 111, 120, 518]","[(111, 5), (120, 1), (518, 1)]","[[(111, 5)], [], [], [], [(518, 1)], [], []]",,,,,,,
63,"[2020-06-15 11:31:00, 2020-06-15 11:35:00]","[2020-06-15 11:32:16, 2020-10-15 11:12:23]","[Performans Geri Bildirimi Nasıl Verilir?, Dah...","[38, 49]","[2018-07-23 16:40:54, 2018-07-23 16:40:54]","[Monday, Thursday]","[11, 11]","[100, 400]","[111, 411]","[(111, 1), (411, 1)]","[[(111, 1)], [], [], [(411, 1)], [], [], []]",,,,,,,

In [149]:
for i in range(len(index_df0_85_res)):
    arr = df0_85_res["every_day_freq"][index_df0_85_res[i]]
    temp = []
    ### Monday
    if len(arr[0]) == 0:
        df0_85_res['Mon'][index_df0_85_res[i]] = [np.nan]
    else:
        if len(arr[0]) == 1:
            df0_85_res['Mon'][index_df0_85_res[i]] = [arr[0][0][0]%100, arr[0][0][1]]
        else:
            temp = []
            for j in range(len(arr[0])):
                ele = [arr[0][j][0]%100, arr[0][j][1]]
                temp.append(ele)
                
            df0_85_res['Mon'][index_df0_85_res[i]] = temp
    ### Tuesday
    if len(arr[1]) == 0:
        df0_85_res['Tue'][index_df0_85_res[i]] = [np.nan]
    else:
        if len(arr[1]) == 1:
            df0_85_res['Tue'][index_df0_85_res[i]] = [arr[1][0][0]%100, arr[1][0][1]]
        else:
            temp = []
            for j in range(len(arr[1])):
                ele = [arr[1][j][0]%100, arr[1][j][1]]
                temp.append(ele)
            df0_85_res['Tue'][index_df0_85_res[i]] = temp
    ### Wednesday
    if len(arr[2]) == 0:
        df0_85_res['Wed'][index_df0_85_res[i]] = [np.nan]
    else:
        if len(arr[2]) == 1:
            df0_85_res['Wed'][index_df0_85_res[i]] = [arr[2][0][0]%100, arr[2][0][1]]
        else:
            temp = []
            for j in range(len(arr[2])):
                ele = [arr[2][j][0]%100, arr[2][j][1]]
                temp.append(ele)
            df0_85_res['Wed'][index_df0_85_res[i]] = temp
    ### Thursday
    if len(arr[3]) == 0:
        df0_85_res['Thu'][index_df0_85_res[i]] = [np.nan]
    else:
        if len(arr[3]) == 1:
            df0_85_res['Thu'][index_df0_85_res[i]] = [arr[3][0][0]%100, arr[3][0][1]]
        else:
            temp = []
            for j in range(len(arr[3])):
                ele = [arr[3][j][0]%100, arr[3][j][1]]
                temp.append(ele)
            df0_85_res['Thu'][index_df0_85_res[i]] = temp
    ### Friday
    if len(arr[4]) == 0:
        df0_85_res['Fri'][index_df0_85_res[i]] = [np.nan]
    else:
        if len(arr[4]) == 1:
            df0_85_res['Fri'][index_df0_85_res[i]] = [arr[4][0][0]%100, arr[4][0][1]]
        else:
            temp = []
            for j in range(len(arr[4])):
                ele = [arr[4][j][0]%100, arr[4][j][1]]
                temp.append(ele)
            df0_85_res['Fri'][index_df0_85_res[i]] = temp
    ### Saturday
    if len(arr[5]) == 0:
        df0_85_res['Sat'][index_df0_85_res[i]] = [np.nan]
    else:
        if len(arr[5]) == 1:
            df0_85_res['Sat'][index_df0_85_res[i]] = [arr[5][0][0]%100, arr[5][0][1]]
        else:
            temp = []
            for j in range(len(arr[5])):
                ele = [arr[5][j][0]%100, arr[5][j][1]]
                temp.append(ele)
            df0_85_res['Sat'][index_df0_85_res[i]] = temp
    ### Sunday
    if len(arr[6]) == 0:
        df0_85_res['Sun'][index_df0_85_res[i]] = [np.nan]
    else:
        if len(arr[6]) == 1:
            df0_85_res['Sun'][index_df0_85_res[i]] = [arr[6][0][0]%100, arr[6][0][1]]
        else:
            temp = []
            for j in range(len(arr[6])):
                ele = [arr[6][j][0]%100, arr[6][j][1]]
                temp.append(ele)
            df0_85_res['Sun'][index_df0_85_res[i]] = temp

In [150]:
customer0_85 = df0_85_res.loc[:,('Mon','Tue','Wed','Thu','Fri','Sat','Sun')]
customer0_85.head()

,Mon,Tue,Wed,Thu,Fri,Sat,Sun
User Id,,,,,,,
41,"[[14, 11], [10, 11], [15, 8], [11, 4]]","[9, 4]","[[11, 15], [16, 5]]","[[14, 8], [21, 8], [11, 7]]","[[16, 9], [11, 4]]","[17, 4]","[15, 4]"
47,[nan],[nan],"[14, 2]",[nan],[nan],[nan],[nan]
61,"[[12, 1], [15, 1]]","[16, 1]",[nan],"[15, 1]",[nan],[nan],[nan]
62,"[11, 5]",[nan],[nan],[nan],"[18, 1]",[nan],[nan]
63,"[11, 1]",[nan],[nan],"[11, 1]",[nan],[nan],[nan]

# Action == 0

In [152]:
Action0 = open_time[(open_time.loc[:,("Action")] == 0)]
Action = clean_data[["Content Type","Content ID","Device","Channel","Action"]]
Action.isna().sum()
Action["Content ID"] = Action["Content ID"].astype("int")
day_num = open_time.loc[:,('Activity Day')].map(lambda x: tonum(x))
Action0["day_num"] = day_num
hr_num = Action0['hour'].map(lambda x: int(x))
Action0["hour"] = hr_num
total_num = Action0['hour'].add(Action0['day_num'])
Action0['total_num'] = total_num
df0 = pd.DataFrame({'User Id':Action0["User Id"].unique()})
df0['total_num'] = [list(set(Action0['total_num'].loc[Action0['User Id'] == x['User Id']])) for _, x in df0.iterrows()]
df0_res = Action0.groupby('User Id').agg(lambda x: x.tolist())
index_df0_res = df0_res.index.values
df0_res["count_total"] = ''
for i in range(len(index_df0_res)):
    df0_res['count_total'][index_df0_res[i]] = Counter(df0_res['total_num'][index_df0_res[i]]).most_common()
df0_res["every_day_freq"] = ''
for i in range(len(index_df0_res)):
    arr = df0_res["count_total"][index_df0_res[i]]
    df0_res["every_day_freq"][index_df0_res[i]] = find_freq(arr)
df0_res.head()
df0_res['Mon'] = ''
df0_res['Tue'] = ''
df0_res['Wed'] = ''
df0_res['Thu'] = ''
df0_res['Fri'] = ''
df0_res['Sat'] = ''
df0_res['Sun'] = ''

/Users/rqshi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/rqshi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/rqshi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/rqshi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [153]:
df0_res.head()

,Activation Date,Activity Date,Name,Action,User Created At,Activity Day,hour,day_num,total_num,count_total,every_day_freq,Mon,Tue,Wed,Thu,Fri,Sat,Sun
User Id,,,,,,,,,,,,,,,,,,
38,"[2019-10-02 08:00:00, 2019-10-02 08:00:00]","[2019-10-04 03:12:03, 2019-10-04 03:12:32]","[First day at work, First day at work]","[0, 0]","[2018-05-14 17:59:52, 2018-05-14 17:59:52]","[Friday, Friday]","[3, 3]","[500, 500]","[503, 503]","[(503, 2)]","[[], [], [], [], [(503, 2)], [], []]",,,,,,,
41,"[2019-04-10 16:20:00, 2019-02-12 14:18:00, 201...","[2020-01-16 14:33:14, 2020-01-16 14:33:24, 202...","[Şerif Kaynar-İş Dünyasında Başarı, 2. Haftanı...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2018-05-16 19:43:48, 2018-05-16 19:43:48, 201...","[Thursday, Thursday, Thursday, Friday, Friday,...","[14, 14, 14, 9, 9, 21, 21, 21, 21, 21, 21, 21,...","[400, 400, 400, 500, 500, 400, 400, 400, 400, ...","[414, 414, 414, 509, 509, 421, 421, 421, 421, ...","[(416, 19), (411, 10), (115, 8), (421, 7), (51...","[[(115, 8)], [(215, 5)], [(318, 1)], [(416, 19...",,,,,,,
47,"[2020-10-07 12:45:00, 2020-10-06 12:45:00, 202...","[2020-10-07 14:25:53, 2020-10-07 14:27:37, 202...","[Ekipleri Uzaktan Etkili Yönetmek, Odaklanma B...","[0, 0, 0, 0, 0]","[2018-06-21 08:01:03, 2018-06-21 08:01:03, 201...","[Wednesday, Wednesday, Wednesday, Wednesday, W...","[14, 14, 14, 14, 14]","[300, 300, 300, 300, 300]","[314, 314, 314, 314, 314]","[(314, 5)]","[[], [], [(314, 5)], [], [], [], []]",,,,,,,
61,"[2020-06-15 11:32:00, 2020-06-15 11:32:00, 202...","[2020-06-15 11:32:18, 2020-06-15 11:32:26, 202...","[Performans Geri Bildirimi Nasıl Verilir?, Per...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2018-07-23 16:40:06, 2018-07-23 16:40:06, 201...","[Monday, Monday, Monday, Monday, Monday, Monda...","[11, 11, 12, 12, 12, 12, 12, 12, 15, 15, 15, 1...","[100, 100, 100, 100, 100, 100, 100, 100, 400, ...","[111, 111, 112, 112, 112, 112, 112, 112, 415, ...","[(216, 10), (112, 6), (415, 3), (111, 2), (115...","[[(112, 6)], [(216, 10)], [], [(415, 3)], [], ...",,,,,,,
62,"[2020-06-15 11:32:00, 2020-06-15 11:32:00, 202...","[2020-06-15 11:32:37, 2020-06-15 11:32:38, 202...","[Performans Geri Bildirimi Nasıl Verilir?, Per...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[2018-07-23 16:40:31, 2018-07-23 16:40:31, 201...","[Monday, Monday, Monday, Monday, Monday, Monda...","[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 20, 2...","[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[111, 111, 111, 111, 111, 111, 111, 111, 111, ...","[(111, 10), (120, 2), (518, 1)]","[[(111, 10)], [], [], [], [(518, 1)], [], []]",,,,,,,

In [154]:
for i in range(len(index_df0_res)):
    arr = df0_res["every_day_freq"][index_df0_res[i]]
    temp = []
    ### Monday
    if len(arr[0]) == 0:
        df0_res['Mon'][index_df0_res[i]] = [np.nan]
    else:
        if len(arr[0]) == 1:
            df0_res['Mon'][index_df0_res[i]] = [arr[0][0][0]%100, arr[0][0][1]]
        else:
            temp = []
            for j in range(len(arr[0])):
                ele = [arr[0][j][0]%100, arr[0][j][1]]
                temp.append(ele)
                
            df0_res['Mon'][index_df0_res[i]] = temp
    ### Tuesday
    if len(arr[1]) == 0:
        df0_res['Tue'][index_df0_res[i]] = [np.nan]
    else:
        if len(arr[1]) == 1:
            df0_res['Tue'][index_df0_res[i]] = [arr[1][0][0]%100, arr[1][0][1]]
        else:
            temp = []
            for j in range(len(arr[1])):
                ele = [arr[1][j][0]%100, arr[1][j][1]]
                temp.append(ele)
            df0_res['Tue'][index_df0_res[i]] = temp
    ### Wednesday
    if len(arr[2]) == 0:
        df0_res['Wed'][index_df0_res[i]] = [np.nan]
    else:
        if len(arr[2]) == 1:
            df0_res['Wed'][index_df0_res[i]] = [arr[2][0][0]%100, arr[2][0][1]]
        else:
            temp = []
            for j in range(len(arr[2])):
                ele = [arr[2][j][0]%100, arr[2][j][1]]
                temp.append(ele)
            df0_res['Wed'][index_df0_res[i]] = temp
    ### Thursday
    if len(arr[3]) == 0:
        df0_res['Thu'][index_df0_res[i]] = [np.nan]
    else:
        if len(arr[3]) == 1:
            df0_res['Thu'][index_df0_res[i]] = [arr[3][0][0]%100, arr[3][0][1]]
        else:
            temp = []
            for j in range(len(arr[3])):
                ele = [arr[3][j][0]%100, arr[3][j][1]]
                temp.append(ele)
            df0_res['Thu'][index_df0_res[i]] = temp
    ### Friday
    if len(arr[4]) == 0:
        df0_res['Fri'][index_df0_res[i]] = [np.nan]
    else:
        if len(arr[4]) == 1:
            df0_res['Fri'][index_df0_res[i]] = [arr[4][0][0]%100, arr[4][0][1]]
        else:
            temp = []
            for j in range(len(arr[4])):
                ele = [arr[4][j][0]%100, arr[4][j][1]]
                temp.append(ele)
            df0_res['Fri'][index_df0_res[i]] = temp
    ### Saturday
    if len(arr[5]) == 0:
        df0_res['Sat'][index_df0_res[i]] = [np.nan]
    else:
        if len(arr[5]) == 1:
            df0_res['Sat'][index_df0_res[i]] = [arr[5][0][0]%100, arr[5][0][1]]
        else:
            temp = []
            for j in range(len(arr[5])):
                ele = [arr[5][j][0]%100, arr[5][j][1]]
                temp.append(ele)
            df0_res['Sat'][index_df0_res[i]] = temp
    ### Sunday
    if len(arr[6]) == 0:
        df0_res['Sun'][index_df0_res[i]] = [np.nan]
    else:
        if len(arr[6]) == 1:
            df0_res['Sun'][index_df0_res[i]] = [arr[6][0][0]%100, arr[6][0][1]]
        else:
            temp = []
            for j in range(len(arr[6])):
                ele = [arr[6][j][0]%100, arr[6][j][1]]
                temp.append(ele)
            df0_res['Sun'][index_df0_res[i]] = temp

In [155]:
customer0 = df0_res.loc[:,('Mon','Tue','Wed','Thu','Fri','Sat','Sun')]
customer0.head()

,Mon,Tue,Wed,Thu,Fri,Sat,Sun
User Id,,,,,,,
38,[nan],[nan],[nan],[nan],"[3, 2]",[nan],[nan]
41,"[15, 8]","[15, 5]","[18, 1]","[[16, 19], [11, 10], [21, 7]]","[12, 7]",[nan],[nan]
47,[nan],[nan],"[14, 5]",[nan],[nan],[nan],[nan]
61,"[12, 6]","[16, 10]",[nan],"[15, 3]",[nan],[nan],[nan]
62,"[11, 10]",[nan],[nan],[nan],"[18, 1]",[nan],[nan]

In [162]:
customer0.to_csv('customer0.csv')
customer0_85.to_csv('customer0_85.csv')
customer85_100.to_csv('customer85_100.csv')